/**
 * @license
 * Copyright 2015 TIBCO Inc. All Rights Reserved.
 */

.tc-buttons-icon {
  /*border: @buttons-outline;
  outline: @buttons-outline;*/
  background-color: @buttons-download-background;
  background-image: @icon-settings-default;
  background-repeat: @buttons-image-repeat;
  /* background-size: @buttons-download-image-size;*/
  width: @buttons-icon-size;
  height: @buttons-icon-size;
  border: @icon-border;
  background-size: @icon-background-size;
  background-position: @icon-background-position;
  border: @buttons-icon-border;
  padding: @icon-padding;
  font-weight: @font-weight-normal;

  &.hovered {
    box-shadow: @icon-box-shadow;
    border-radius: @icon-border-radius;
    border-color: @icon-border-color;
    background-image: @icon-settings-hover;
  }
  &.activated {
    outline: @buttons-outline;
    border: @buttons-icon-active-border;
    border-radius: @icon-border-radius;
    background-image: @icon-settings;
    box-shadow: none;
  }

}
