<!--author:ylakkaku-->
<div class="tc-spinner-circle">
  <div class="tc-spinner-circle1 tc-spinner-circle-child"></div>
  <div class="tc-spinner-circle2 tc-spinner-circle-child"></div>
  <div class="tc-spinner-circle3 tc-spinner-circle-child"></div>
  <div class="tc-spinner-circle4 tc-spinner-circle-child"></div>
  <div class="tc-spinner-circle5 tc-spinner-circle-child"></div>
  <div class="tc-spinner-circle6 tc-spinner-circle-child"></div>
  <div class="tc-spinner-circle7 tc-spinner-circle-child"></div>
  <div class="tc-spinner-circle8 tc-spinner-circle-child"></div>
  <div class="tc-spinner-circle9 tc-spinner-circle-child"></div>
</div>