/**
 * @license
 * Copyright 2015 TIBCO Inc. All Rights Reserved.
 */

.tc-buttons-primary {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@buttons-primary-color, @colors-primary-new, @colors-primary-new);
  .draw-button(@dropdown-borders-width);
  font-weight: @font-weight-base;

  &:hover {
    .button-variant(@buttons-primary-color, @colors-primary-hover-background, @color-primary-hover-border);
  }
  &:active {
    .button-variant(@buttons-primary-color, @colors-primary-active-background, @buttons-primary-color);
    //border: solid 1px #055dab;
    //box-shadow: inset 0 0 0 3px #055dab;
    .button-border-box-shadow(#055dab);

  }

}

.tc-buttons-primary-disabled {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@buttons-primary-color, @colors-primary-new, @color-button-dissable-border);
  .draw-button(@dropdown-borders-width);
  opacity: 0.35;
}

.tc-buttons-primary-active {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@buttons-primary-color, @colors-primary-active-background, @color-primary-active-border);
  .draw-button(@dropdown-borders-width);
  .button-border-box-shadow(@color-button-second-box-shadow);
  //box-shadow: @color-button-second-box-shadow;
}

.tc-buttons-primary-hover {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@buttons-primary-color, @colors-primary-hover-background, @color-primary-hover-border);
  .draw-button(@dropdown-borders-width);
}

/*.tc-buttons-primary-active {
	border: solid 1px #0075ff;
	box-shadow: inset 0 0 0 2px #0075ff;

}*/
.tc-buttons-primary-focused {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@buttons-primary-color, @colors-primary-new, @colors-primary);
  .draw-button(@buttons-border-width-focus);

  box-shadow: 0px 0px 3.7px 3.2px @colors-primary-focus;

}