.tc-navigation-primary {
  width: 700px;
  height: 40px;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  .tab {
    padding: 12px 0px;
    display: inline-block;
    width: 54px;
    height: 40px;
    /*font-family: SourceSansPro;*/
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.3px;
    text-align: center;
    color: #00a2ff;
    margin: 0 12px;
    cursor: pointer;
  }
  .active {
    /*width: 54px;
    height: 4px;
    background-color: #062e79;*/
    color: #062e79;
    border-bottom: 4px solid #062e79;
  }
}