/**
 * @license
 * Copyright 2015-2016 TIBCO Inc. All Rights Reserved.
 */

.tc-checkboxes {
	font-smoothing: @font-smoothing;
	-moz-font-smoothing: @font-smoothing;
	-webkit-font-smoothing: @font-smoothing;
	position: relative;
	width: @checkbox-width;
	height: @checkbox-height;
	& label span {
		font-family: @checkbox-font-family;
		font-weight: @checkbox-font-weight;
		position: absolute;
		top: -5px;
		left: 20px;
	}
	& input[type=checkbox] {
	    visibility: hidden;
	    &:checked + label:after {
	      opacity: @checkbox-checked-label-opacity-aftr;
	    }
	}
}