<!--&lt;!&ndash;author:sravani&ndash;&gt;-->
<!--<div class="tc-switch-div">-->
    <!--<p class="tc-switch-text">Toggle text focus active</p>-->
    <!--<label class="switch-text-focus-active">-->
        <!--<input type="checkbox">-->
        <!--<span class="slider-text round-text"><span class="enable">Monthly Plan</span><span-->
                <!--class="disable">Annual Plan</span></span>-->

    <!--</label>-->
<!--</div>-->