<!--&lt;!&ndash;author:sravani&ndash;&gt;-->
<!--<div class="tc-switch-div">-->
    <!--<p class="tc-switch-text">Toggle text press</p>-->
    <!--<label class="switch-text-press">-->
        <!--<input type="checkbox">-->
        <!--<span class="slider-text round-text"><span class="enable">Monthly Plan</span><span-->
                <!--class="disable">Annual Plan <span class="tc-icon"></span> </span></span>-->

    <!--</label>-->
<!--</div>-->