/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
html, body {
  height: 100%;

}

body {
  font-size: 16px !important;
  font-size: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("/assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: 'Source Code Pro';
  src: url("/assets/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat';
  src: url("/assets/fonts/montserrat/Montserrat-Regular.ttf");
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

.title {
  font-size: 1.875em;
  font-weight: 600;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  &.bottom-border {
    border-bottom: 1px solid #eee;
  }
}

h1 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 600;
}

.h1 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 600;
}

h2 {
  font-size: 1.125em;
  font-weight: 600;
}

.h2 {
  font-size: 1.125em;
  font-weight: 600;
}

h3 {
  font-size: 1em;
  font-weight: 600;
}

.h3 {
  font-size: 1em;
  font-weight: 600;
}

h4 {
  font-size: 0.875em;
  font-weight: 600;
}

.h4 {
  font-size: 0.875em;
  font-weight: 600;
}

p {
  font-size: 1em;
  font-weight: 400;
}

.p {
  font-size: 1em;
  font-weight: 400;
}

.li {
  font-size: 0.875em;
  font-weight: 400;
}

.data-table {
  font-size: 0.813em;
  font-weight: 400;
}

.small-text {
  font-size: 0.75em;
  font-weight: 400;
}

.small-label {
  font-size: 0.625em;
  font-weight: 400;
}

.code {
  font-family: 'Source Code Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  font-size: 0.875em;
}

.uipsite-sidebar.affix {
  position: static;
}

@media (min-width: 768px) {

}

/* First level of nav */
.uipsite-sidenav {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* All levels of nav */
.uipsite-sidebar .nav > li {
  height: 100%;
  margin-top: 15px;
  > a {
    display: block;
    padding: 4px 20px 0 30px;
    font-weight: 500;
    //font-family: SourceSansPro;
    font-size: 15px;
    line-height: 1.14;
    letter-spacing: 0.2px;
    text-align: left;
    color: #0081cb;
  }
  .nav {
    margin-top: 15px;
    padding-left: 16px;
  }
}

.uipsite-sidebar .nav > li > a:hover,
.uipsite-sidebar .nav > li > a:focus {
  padding-left: 19px;
}

.uipsite-sidebar .nav > .active > a,
.uipsite-sidebar .nav > .active:hover > a,
.uipsite-sidebar .nav > .active:focus > a {
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.2px;
  text-align: left;
  color: #062e79;
  border-left: 4px solid #062e79;
  padding-left: 24px;
}

/* Nav: second level (shown on .active) */
.uipsite-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  padding-bottom: 10px;
}

.uipsite-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 15px;
  font-weight: normal;
}

.uipsite-sidebar .nav .nav > li > a:hover,
.uipsite-sidebar .nav .nav > li > a:focus {
  padding-left: 29px;
}

.uipsite-sidebar .nav .nav > .active > a,
.uipsite-sidebar .nav .nav > .active:hover > a,
.uipsite-sidebar .nav .nav > .active:focus > a {
  padding-left: 28px;
  font-weight: 500;
}

/* Back to top (hidden on mobile) */
.back-to-top,
.bs-docs-theme-toggle {
  display: none;
  padding: 4px 10px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #999;
}

.back-to-top:hover,
.bs-docs-theme-toggle:hover {
  color: #563d7c;
  text-decoration: none;
}

.bs-docs-theme-toggle {
  margin-top: 0;
}

@media (min-width: 768px) {
  .back-to-top,
  .bs-docs-theme-toggle {
    display: block;
  }
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .uipsite-sidebar .nav > .active > ul {
    display: block;
  }

  /* Widen the fixed sidebar */
  .uipsite-sidebar.affix,
  .uipsite-sidebar.affix-bottom {
    width: 213px;
  }

  .uipsite-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach ----------------------------------------------------------------------------------------*/
    top: 76px;
  }

  .uipsite-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }

  .uipsite-sidebar.affix-bottom .uipsite-sidenav,
  .uipsite-sidebar.affix .uipsite-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .uipsite-sidebar.affix-bottom,
  .uipsite-sidebar.affix {
    width: 263px;
  }
}

.uipsite-header {
  .navbar {
    background: #212121;
    border-radius: 0px;
    min-height: 56px;
    border: 0px;
    height: 56px;
    position: fixed;
    width: 100%;
    z-index: 10000;
  }
  .navbar-brand.mynav {
    background: url(../img/tibco-logo.png) no-repeat 6px center;
    margin-left: 24px;
    margin-right: 40px;
    padding: 15px 20px;
    background-size: 32px 32px;

  }
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-header > a {
    min-height: 56px;
  }
  & .navbar-default .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 16px;
    //border: 1px solid red;
  }
  & .navbar-default .navbar-nav > .open > a, & .navbar-default .navbar-nav > .active > a {
    background-image: none;
    letter-spacing: 0.2px;
    font-size: 16px;
    font-weight: 600;
    color: #62e0ff;
    background-color: transparent;
    border-bottom: 4px solid #6be0ff;
    min-height: 56px;
  }
  /* position: fixed;
   width: 100%;
   z-index: 1000;*/
  min-height: 56px;
  height: 56px;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: inherit;
}

.uipsite-snippet-group {
  .uipsite-snippet-contributors {
    height: 50px;
    .profile-img {
      height: 50px;
    }
  }

  .uipsite-snippet-showcases-container {
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    .showcases {
      display: table-row;
      .showcases-padding {
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        margin: 0;
        text-align: center;
        padding: 0;
      }
      .showcase {
        padding: 0 40px 40px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        margin: 0;
      }
    }
  }

  .uipsite-snippet-code {
    position: relative;
    overflow: hidden;
    pre[class*=markup].codepen-button-enabled {
      padding: 0;
      .codepen-button {
        display: inline-block;
      }
    }

    code {
      position: relative;
    }

    code::before, code::after {
      display: none;
    }

    code:hover::before {
      display: inline-block;
      content: 'click to copy';
      color: rgba(0, 0, 0, 0.5);
      font-size: 13px;
      background-color: rgba(0, 0, 0, 0.1);
      border-top-left-radius: 5px;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 3px 10px;
    }

    code:active::before {
      content: '';
    }

    code.copied::before {
      content: 'copied';
      color: rgba(255, 255, 255, 0.5);
      background-color: rgba(0, 0, 0, 0.6);
    }

    code.nosupport::before {
      content: "browser not supported :'(";
      color: rgba(255, 255, 255, 0.5);
      background-color: rgba(0, 0, 0, 0.6);
    }

    .codepen-button {
      z-index: 50;
      cursor: pointer;
      background-image: url('../img/codepen-logo.png');
      background-repeat: no-repeat;
      background-position: 5px center;
      background-size: 26px 26px;
      position: absolute;
      top: 0;
      right: -140px;
      width: 180px;
      height: 46px;
      display: none;
      opacity: 0.6;
      overflow: hidden;
      box-sizing: border-box;
      white-space: nowrap;
      color: black;
      padding: 13px 15px 5px 50px;
      transition: right 0.5s, background-color 0.5s, opacity 0.5s, background-size 0.3s;
    }

    .codepen-button::before {
    }
    .codepen-button::after {
      content: 'Open in CodePen';
    }
    .codepen-button:hover {
      opacity: 1;
      right: 0;
      background-size: 36px 36px;
      border-bottom-left-radius: 10px;
      border: 1px solid #ccc;
      background-color: #f5f2f0;
    }

  }

  .uipsite-snippet-description {

  }
}

.contributing-container {
  table {
    border: 1px solid #ddd;
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    th, td {
      padding: 8px;
    }

    thead:first-child > tr:first-child > th {
      border-top: 0;
    }

    thead > tr > td, thead > tr > th {
      border-bottom-width: 2px;
    }

    tbody > tr > td, tbody > tr > th, tfoot > tr > td, tfoot > tr > th, thead > tr > td, thead > tr > th {
      border: 1px solid #ddd;
    }
    thead > tr > th {
      vertical-align: bottom;
    }

    th {
      text-align: left;
    }
  }
}

.preview-image {
  width: 100%;
}

.container-fluid {
  .left-nav-menu {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
  }
  .uipsite-sidebar {
    width: 372px;

  }
  .container {
    float: left;
    magrin-top: 0px;
    padding-top: 0px;
  }
}

.table-row {
  display: table-row;
  .table-cell {
    display: table-cell;
    padding-right: 90px;
    &.description {
      font-size: 14px;
      line-height: 1.5;
      text-align: left;
      color: #727272;

    }
    &.no-wrap {
      white-space: nowrap;
    }
  }
  &.bottom-border {
    .table-cell {
      border-bottom: 1px solid #dedede;
    }
  }
}

.palette {
  width: 216px;
  height: 72px;
  position: relative;
  .pl-body {
    padding: 18px 0 0 16px;
    float: left;
    .pl-title {
      font-size: 14px;
    }
    .pl-description {
      font-size: 12px;
    }
  }
  .pl-color {
    float: right;
    padding: 18px 18px 0 0;
    font-size: 14px;
  }
  /** Blue palette **/
  &.bluel2 {
    background-color: #e0f0f9;
    color: #212121;
  }

  &.bluel1 {
    background-color: #2694d3;
    color: #ffffff;
  }
  &.blue {
    background-color: #0081cb;
    color: #ffffff;
  }
  &.navyl2 {
    background-color: #f0f4ff;
    color: #212121;
  }
  &.navyl1 {
    background-color: #2b4d8d;
    color: #ffffff;
  }
  &.navy {
    background-color: #062e79;
    color: #ffffff;
  }
  &.dark {
    background-color: #10203f;
    color: #ffffff;
  }
  &.orangel2 {
    background-color: #ffefe0;
    color: #212121;
  }
  &.orangel1 {
    background-color: #ff7800;
    color: #fff;
  }
  &.orange {
    background-color: #d35300;
    color: #fff;
  }
  &.yellowl2 {
    background-color: #ffe9ba;
    color: #212121;
  }
  &.yellowl1 {
    background-color: #feb619;
    color: #212121;
  }
  &.yellow {
    background-color: #fd8e08;
    color: #fff;
  }
  &.redl1 {
    background-color: #f9e1e4;
    color: #212121;
  }
  &.red {
    background-color: #d0021b;
    color: #fff;
  }
  &.greenl1 {
    background-color: #e1f7eb;
    color: #212121;
  }
  &.green {
    background-color: #04be5b;
    color: #fff;
  }
  &.grayl5 {
    background-color: #fafafa;
    color: #212121;
  }
  &.grayl4 {
    background-color: #f4f4f4;
    color: #212121;
  }
  &.grayl3 {
    background-color: #dedede;
    color: #212121;
  }
  &.grayl2 {
    background-color: #b6b6b6;
    color: #212121;
  }
  &.grayl1 {
    background-color: #727272;
    color: #fff;
  }
  &.gray {
    background-color: #212121;
    color: #fff;
  }
  &.white {
    background-color: #fff;
    color: #212121;
    border: solid 1px #dedede;
  }
}

.spacer {
  min-height: 60px;
}

.spacer-small {
  min-height: 24px;
}

.footer {
  margin: 100px 0 20px 0;
  text-align: center;
  font-size: 13px;
  color: #212121;
}

.bold {
  font-size: 36px;
  font-weight: 700;
}

.semi-bold {
  font-size: 36px;
  font-weight: 600;
}

.regular {
  font-size: 36px;
  font-weight: 400;
}

.normal {
  padding-top: 10px;
  font-size: 28px;
  color: #262626;
}

.italic {
  padding-top: 10px;
  font-size: 28px;
  color: #262626;
  font-style: italic;
}

.description {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  color: #727272;
}

.inline-flex-div {
  display: inline-flex;
}

.table-space {
  .td-space {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 100px;
  }
}

.horizontal-spacer {
  min-width: 100px;
}

.tmpl-img {
  max-width: 100%;
}

.guide-img {
  max-width: 50%;
}

.contact-form {
  margin-top: 44px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  width: 300px;
  margin-top: 47px;

  & .btnUpload {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }

  & input[type=file] {

    font-size: 100px !important;
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    opacity: 0 !important;
    cursor: pointer;
  }
  p {
    width: 122px;
    height: 24px;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #0081cb;
  }
}

.landing-bg {
  padding-top: 10px;
  background: url('/assets/img/uxpl-landing-bg.png') #000000 no-repeat center top;
  background-size: 100% auto;
  min-height: 100%;
  .footer {
    color: #fff;
  }
  & .container {
    text-align: center;
  }
}

.welcome {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  & .mashling {
    position: relative;
    .mashy {
      background: url("/assets/img/mashy.png") no-repeat;
      position: absolute;
      /* top: -90px;*/
      margin-top: 4px;
      right: 8em;
      width: 100px;
      height: 113px;
    }
  }
  & .tibco-ux {
    display: inline-block;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 2.25em;
    letter-spacing: 0.05625em;
    text-align: center;
    color: #ffffff;
    margin: 1.75em 0 0 0;
    font-weight: 800;
  }
  & .ui-library {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 0.025em;
    text-align: center;
    color: #212121;
    margin: 0 0 0 0;
  }
  & .version {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.5em;
    letter-spacing: 0.0375em;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    margin-top: 0.2em;
  }
  .flogo {
    position: absolute;
    top: 0em;
    left: -3em;
    max-width: 100%;
    height: auto;
  }
}

.flex-container {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 6em;
  width: 98%;
  margin-right: auto;
  margin-left: auto;

  .card {
    max-width: 425px;
    margin: 16px;
    display: flex;
    width: 47%;
    background-color: #ffffff;
    padding: 1.5em 2em 2em 1.5em;
    border-radius: 0.1875em;
    box-shadow: 0 0.125em 1.875em 0 rgba(19, 42, 51, 0.5);
    /*&.left{
      margin:0 1.5em 1.5em 20%;
    }
    &.right{
      margin:0 22.5% 1.5em 0;
    }*/

  }
  .card-img {
    flex: 1;
    background-size: 100%;
  }
  .card-details {
    display: table-cell;
    padding-left: 1.5em;
    flex: 4;
    text-align: left;
  }
  .card-title {
    font-size: 1.5em !important;
    letter-spacing: 0.0375em;
    color: #212121;
  }
  .card-description {
    font-size: 1em !important;
    line-height: 1.5;
    letter-spacing: 0.0375em;
    text-align: left;
    color: #212121;
  }

}

/*
.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  //margin: 0 auto;
  justify-content: center;
  margin-top: 120px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.flex-container > div {
  display: flex;
  width: 45%;
  background-color: #ffffff;
  margin: 16px;
  padding: 23px 20px;
  font-size: 30px;
  border-radius: 3px;
  // border: 1px solid red;
  //justify-content: center;
  max-width: 425px;
  //max-height: 262px;
  box-shadow: 0 2px 30px 0 rgba(19, 42, 51, 0.5);
}

.card-img {

  //flex-grow: 1;

  width: 72px;
  height: 72px;
  flex:1;

}

.card-details {
  //display: flex;
  //flex-grow: 1;
  display: table-cell;
  padding-left: 24px;
  flex:4;
  text-align: left;
}

.card-title {
  font-size: 24px !important;
  letter-spacing: 0.6px;
  color: #212121;
}

.card-description {
  font-size: 16px !important;
  line-height: 1.5;
  letter-spacing: 0.6px;
  text-align: left;
  color: #212121;
}

*/

@media (min-width: 1200px) {
  .container {
    width: inherit;
  }
}

@media (min-width: 992px) {
  .container {
    width: inherit;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
    width: inherit;
  }
}

#copy {
  background: url("../img/ic-copy.png") no-repeat;
  background-size: 100%;
}

#process {
  background: url("../img/ic-process.png") no-repeat;
  background-size: 100%;
}

#design {
  background: url("../img/ic-design.png") no-repeat;
  background-size: 100%;
}

#dev {
  background: url("../img/ic-dev.png") no-repeat;
  background-size: 100%;
}

.kickoff-order > li {
  padding: 5px;
}

.tc-contact-input input:focus::placeholder /*, .tc-forms textarea:focus::placeholder*/
{
  //input:focus::placeholder, #contact button:focus > span {
  -ms-transform: translate(0, -15px);
  -webkit-transform: translate(0, -15px);
  -moz-transform: translate(0, -15px);
  transform: translate(0, -15px);
  color: #0081cb;
  font-size: .80em;
  transition: .15s ease-out all;
  outline: none;
  //border-bottom: 2px solid #0081cb;

}

.tc-contact-input input {
  border: none;
  border-bottom: solid 1px #b6b6b6;

}

.tc-contact-input input:focus {
  outline: none !important;
  border-color: #719ECE;
  border-bottom: 1px solid #0081cb !important;
  //box-shadow: 0 0 10px #719ECE;
}

.tc-form {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pink-text {
  color: #ec008c;
  font-size: 12px;
}

section {
  p:not(.markup-paragraph), ul, table, ol {
    max-width: 575px;
  }
}

#mail-notification-success, #mail-notification-failed {
  display: none;
  position: absolute;
  z-index: 999;
  top: 5%;
  //position: fixed;
  //z-index: 1;
  //padding-top: 50px;
  left: -10%;
  width: 100%;
  height: 100%;
  overflow: auto;
  //background-color: rgba(0, 0, 0, 0.4);
  //border-radius: 3px;
  //box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.33);
  //border: solid 1px #d8d8d8;
  text-align: left;
  & .tc-notifications {

    // top:10em;
  }
}

//.main-content {
//  padding-top: 60px;
//}

.tc-refresh {
  margin-left: 50px;
  // border: 1px solid red;
  /* background-image: url('../img/refresh.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 26px 26px;
 height : 32px;
   width: 32px;*/
}

.parentLoader {
  position: fixed;
  top: 0%;
  //background-color: rgba();
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 99999;
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
}

.loader {
  /*background-image: url("");
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;*/
  background: url("../img/ic-loading-spinner.svg") no-repeat;
  background-size: 100%;
  width: 64px;
  height: 64px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  top: 45%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadtext {
  font-family: 'Source Sans Pro';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #727272;
  //  border:1px solid green;
  // content: " - Loading";
  position: absolute;
  padding: 28px;
  top: 45%;
  position: relative;
  margin-left: 45%;

}

.loadtext::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}



#fileList {
  margin-top: 10px;
  ul {
    list-style-type: none;
    padding: 10px;
  }
}

.pdfImage {
  display: inline-block;
  margin-right: 8px;
  margin-left: 2px;
  background: url("../img/ic-document.svg") no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  float: left;
}

.pngImage {
  display: inline-block;
  background: url("../img/ic-image.svg") no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-left: 2px;
  float: left;
}

.zipImage {
  display: inline-block;
  margin-right: 8px;
  margin-left: 2px;
  background: url("../img/ic-zip.svg") no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  float: left;
}

.removeFile {
  margin-right: 2px ;
  background: url("../img/ic-trashcan.svg") no-repeat;
  background-size: 100% 100%;
  width: 12px;
  height: 20px;
  float: right;
}

.fileName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 297px;
  display: inline-block;
  float: left;
  position: relative;
  top: 2px;
}

.removeFile:hover{
  cursor: pointer;
}

.fileAttachList{
  margin-bottom: 16px;
  line-height: 1;
  overflow: auto;
}


.fileSize {
  float: right;
  margin: 0px 13px;
  position: relative;
  top: 2px;
}

#file input {
  border: none;
}

.paperclip {
  display: inline-block;
  margin: 0 8px;
  background: url("../img/paperclip.svg") no-repeat;
  background-size: 100%;
  width: 24px;
  height: 24px;
}

.tc-upload-button {
  display: flex;
  align-items: normal;
  //border: 1px solid red;
  color: #0081cb;
  width: 350px;
}

//#fileUploadForm label {
//  // border:1px solid;
//  color: #727272;
//  font-size: 16px;
//  font-weight: 400;
//
//}

#comment::placeholder {
  width: 426px;
  height: 135px;
  opacity: 0.9;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #b6b6b6;

}

.contact-form {
  max-width: 456px;
  .tc-search {
    margin: 3px;
    border-color: #b6b6b6;
    .tc-search-container {
      border-color: #b6b6b6 !important;
    }
  }
  .tc-form-div {
    //border:1px solid red;
    // margin-bottom: 25px;
    width: 456px;
    //height: 72px;
    //margin-top: 63px;
  }

  .contact-form-search {
    position: relative;
    width: 336px;
    height: 72px;
    margin-bottom: 22px;

    input {
      position: relative;
      padding-bottom: 0px;
      padding-top: 20px;
      border: 0;
      outline: 0 !important;
      background: transparent !important;
      width: 100%;
      border-bottom: 1px solid #727272;
      font-size: 16px;
      z-index: 1;

      &:focus {
        border-bottom: 1px solid #0081cb;
      }
      &:focus + label, &:valid + label {
        top: 2px;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #0081cb;
        z-index: 2;
      }
    }
    label {
      position: absolute;
      left: 0px;
      top: 15px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.31;
      letter-spacing: 0.3px;
      text-align: left;
      color: #727272;
      font-size: 16px;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .tc-caret {
      background-image: url('../../vendor/uxpl/img/arrow-gray.svg');
      display: inline-block;
      height: 20px;
      vertical-align: top;
      width: 20px;
      background-size: 13px 8px;
      background-position: center center;
      background-repeat: no-repeat;
      float: right;
      top: -50px;
      position: relative;
    }
  }
  .tc-search-results {
    width: 336px !important;
    padding: 0px;
  }
  .contact-form-input-error {
    width: 336px;
    height: 15px;
    opacity: 0.9;
    font-family: 'Source Sans Pro';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #d0021b;
  }
  .msgbox {
    padding-top: 15px;
  }
  #comment {
    border-color: #b6b6b6;
    width: 456px;
    padding: 16px;
    //width: 426px;
    // height: 135px;
    opacity: 0.9;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #212121;

  }
}

.filecount {
  margin-top: 4px;
  width: 28px;
  height: 20px;
  border-radius: 100px;
  background-color: #dedede;
  text-align: center;
  //border: 1px solid red;
  margin-left: 16px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #212121;

}

.formSubmit {

  margin-top: 41px;
  //border:1px solid red;
}

.titledesc {
  // border: 1px solid red;
  margin-top: 13px;
}

#sel1 {
  border: 0px;
  padding: 0px;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 2px solid;
  width: 250px;

}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.caret {
  border: 1px solid red;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.blue-separator-line {
  width: 219px;
  margin-top: 32px;
  margin-bottom: 8px;
  display: block;
  border: solid 2px #2b4d8d;
}

.grey-separator-line {
  margin-top: 32px;
  margin-bottom: 8px;
  width: 219px;
  display: block;
  border: solid 2px #dedede;
}

#nameField ~ .tc-suggest {
  display: none;
}

#comment ~ .tc-suggest {
  display: none;
}

#result {
  z-index: 999;
  position: absolute;
  margin-top: -72px !important;
}

#result li {
  padding: 10px 16px;
}