div(id=comp.id).uipsite-snippet-group
    h2=comp.title
    div.uipsite-snippet-contributors
        ul.list-inline.pull-right
            //
                -if(comp.contributors)
                    each contributor in comp.contributors
                        li
                            div(data-toggle="tooltip" title=contributor.firstName+" "+contributor.lastName)
                                a(href="mailto:"+contributor.email+"?Subject=UI%20Pattern%20Library-"+comp.title target="_blank")
                                    img(src=contributor.profilePhoto).img-thumbnail.profile-img

    div.uipsite-snippet-showcases-container
        -if(comp.snippets)
            -for(var i = 0;i< comp.snippets.length; i+=2)
                div.showcases
                    - for(var j=i;j<2+i;j++)
                        - if(comp.snippets[j] && comp.snippets[j].demo)
                            div.showcase  !{comp.snippets[j].demo}
                    div.showcases-padding
    div.uipsite-snippet-code
        pre.markup.codepen-button-enabled
            -if(comp.snippets)
                each snippet in comp.snippets
                    - if(snippet.code && snippet.code.length)
                        code.markup=snippet.code
                    - else
                        code.markup=snippet.demo
                input.less(type="hidden", value=comp.less)
            form(action="https://codepen.io/pen/define", method="POST", target="_blank").codepen-button

    div.uipsite-snippet-description
        if comp.description
            div !{comp.description}