
mixin generate(items)
    each item in items
        li
            a(href="#"+item.id) #{item.title}
            if item.components&&item.components.length>0
                ul.nav
                    +generate(item.components)

nav.uipsite-sidebar.affix-top
    ul.nav.uipsite-sidenav
        +generate(categories)