.switch-text {
  .draw-toggle-text-button(@button-toggle-text-width, @button-toggle-text-height, @button-toggle-text-border, @button-toggle-text-border-radius, @button-toggle-text-transp-background);
  .toggle-text-margin(@button-toggle-text-margin-left);
  input {
    display: @display-none;
  }
}

.slider-text {
  .draw-toggle-text-slider(@colors-transparent);
  &:before {
    .draw-toggle-text-on-background(@colors-toggle-text-checked);
  }

  &:before, & span {
    width: @button-toggle-text-on-width;
    height: @button-toggle-text-height;
    border-radius: @button-toggle-text-border-radius;
  }

  span {
    flex: 1;
    background-color: @colors-transparent;
    display: @display-flex;
    align-items: @align-items-center;
    justify-content: @justify-content-center;
    position: @position-relative;
    font-weight: @font-weight-normal;

    &:first-child {
      color: @colors-white;
      font-family: @font-source-sans-pro-regular;
      font-size: @button-toggle-text-font-size;
      letter-spacing: @toggle-text-letter-space;
      text-align: @align-items-center;
      &:focus:before,
      &:active:before {
        content: none;
      }
    }
    &:last-child {
      .toggle-text-font-specs(@font-source-sans-pro-regular, @button-toggle-text-font-size, @toggle-text-letter-space, @align-items-center, @colors-toggle-text-inactive);
      &:hover {
        color: @button-toggle-text-hover-color;
      }

      &:focus:before,
      &:active:before {
        //.draw-ripple(@button-toggle-ripple-width, @button-toggle-ripple-height, @button-toggle-ripple-bg-color);
      }
    }

    &:focus, &:active {
      box-shadow: @button-toggle-text-box-shadow;
    }
  }
}

input {
  &:checked {
    & + .slider-text {
      //background-color: #fff;
      content: 'Annual Plan';
      &:before {
        -webkit-transform: translateX(@button-toggle-text-translateX);
        -ms-transform: translateX(@button-toggle-text-translateX);
        transform: translateX(@button-toggle-text-translateX);
      }

      span {
        &:first-child {
          .toggle-text-font-specs(@font-source-sans-pro-regular, @button-toggle-text-font-size, @toggle-text-letter-space, @align-items-center, @colors-toggle-text-inactive);
          &:hover {
            color: @button-toggle-text-hover-color;
          }

          &:focus:before,
          &:active:before {
            //.draw-ripple(@button-toggle-ripple-width, @button-toggle-ripple-height, @button-toggle-ripple-bg-color);
          }

        }
        &:last-child {
          color: @colors-white;
          &:focus:before,
          &:active:before {
            content: none;
          }
        }
      }
    }
  }

  &:focus {
    & + .slider-text {
      box-shadow: @button-toggle-text-box-shadow;
    }

  }
}

.slider-text.round-text {
  border-radius: @button-toggle-text-border-radius;
  &:before {
    border-radius: @button-toggle-text-border-radius;

  }
}

.switch-text-hover {
  .draw-toggle-text-button(@button-toggle-text-width, @button-toggle-text-height, @button-toggle-text-border, @button-toggle-text-border-radius, @button-toggle-text-transp-background);
  .toggle-text-margin(@button-toggle-text-margin-left);
  input {
    display: @display-none;
  }
  & .slider-text {
    .draw-toggle-text-slider(@colors-transparent);
    &:before {
      .draw-toggle-text-on-background(@colors-toggle-text-checked);
    }

    &:before, & span {
      width: @button-toggle-text-on-width;
      height: @button-toggle-text-height;
      border-radius: @button-toggle-text-border-radius;
    }

    span {
      flex: 1;
      background-color: @colors-transparent;
      display: @display-flex;
      align-items: @align-items-center;
      justify-content: @justify-content-center;
      position: @position-relative;

      &:first-child {
        color: @colors-white;
        font-family: @font-source-sans-pro-regular;
        font-size: @button-toggle-text-font-size;
        letter-spacing: @toggle-text-letter-space;
        text-align: @align-items-center;
        &:focus:before,
        &:active:before {
          content: none;
        }

      }
      &:last-child {
        .toggle-text-font-specs(@font-source-sans-pro-regular, @button-toggle-text-font-size, @toggle-text-letter-space, @align-items-center, @button-toggle-text-hover-color);

      }
    }
  }

}

.switch-text-focus-active {
  .draw-toggle-text-button(@button-toggle-text-width, @button-toggle-text-height, @button-toggle-text-border, @button-toggle-text-border-radius, @button-toggle-text-transp-background);
  .toggle-text-margin(@button-toggle-text-margin-left);
  input {
    display: @display-none;
  }
  & .slider-text {
    .draw-toggle-text-slider(@colors-transparent);
    &:before {
      .draw-toggle-text-on-background(@colors-toggle-text-checked);
      box-shadow: @button-toggle-text-box-shadow;

    }

    &:before, & span {
      width: @button-toggle-text-on-width;
      height: @button-toggle-text-height;
      border-radius: @button-toggle-text-border-radius;
    }

    span {
      flex: 1;
      background-color: @colors-transparent;
      display: @display-flex;
      align-items: @align-items-center;
      justify-content: @justify-content-center;
      position: @position-relative;

      &:first-child {
        color: @colors-white;
        font-family: @font-source-sans-pro-regular;
        font-size: @button-toggle-text-font-size;
        letter-spacing: @toggle-text-letter-space;
        text-align: @align-items-center;
        &:focus:before,
        &:active:before {
          content: none;
        }

      }
      &:last-child {
        .toggle-text-font-specs(@font-source-sans-pro-regular, @button-toggle-text-font-size, @toggle-text-letter-space, @align-items-center, @colors-toggle-box-shadow);

      }
    }
  }

}

.switch-text-press {
  .draw-toggle-text-button(@button-toggle-text-width, @button-toggle-text-height, @button-toggle-text-border, @button-toggle-text-border-radius, @button-toggle-text-transp-background);
  .toggle-text-margin(@button-toggle-text-margin-left);
  input {
    display: @display-none;
  }
}

& .slider-text {
  .draw-toggle-text-slider(@colors-transparent);
  &:before {
    .draw-toggle-text-on-background(@colors-toggle-text-checked);
  }

  &:before, & span {
    width: @button-toggle-text-on-width;
    height: @button-toggle-text-height;
    border-radius: @button-toggle-text-border-radius;
  }

  span {
    flex: 1;
    background-color: @colors-transparent;
    display: @display-flex;
    align-items: @align-items-center;
    justify-content: @justify-content-center;
    position: @position-relative;

    &:first-child {
      color: @colors-white;
      font-family: @font-source-sans-pro-regular;
      font-size: @button-toggle-text-font-size;
      letter-spacing: @toggle-text-letter-space;
      text-align: @align-items-center;
      &:focus:before,
      &:active:before {
        content: none;
      }

    }
    &:last-child {
      .toggle-text-font-specs(@font-source-sans-pro-regular, @button-toggle-text-font-size, @toggle-text-letter-space, @align-items-center, @colors-toggle-text-inactive);

      &:hover {
        color: @button-toggle-text-hover-color;
      }
      & .tc-icon {
        //.draw-ripple(@button-toggle-ripple-width, @button-toggle-ripple-height, @button-toggle-ripple-bg-color);
      }
      //&:focus:before,
      //&:active:before {
      //  .draw-ripple(@button-toggle-ripple-width, @button-toggle-ripple-height, @button-toggle-ripple-bg-color);
      //}
    }
    //.disable {
    //  .draw-ripple(@button-toggle-ripple-width, @button-toggle-ripple-height, @button-toggle-ripple-bg-color);
    //}

    &:focus, &:active {
      box-shadow: @button-toggle-text-box-shadow;
    }
  }
}

.switch-text-focus-inactive {
  .draw-toggle-text-button(@button-toggle-text-width, @button-toggle-text-height, @button-toggle-text-border, @button-toggle-text-border-radius, @button-toggle-text-transp-background);
  .toggle-text-margin(@button-toggle-text-margin-left);
  input {
    display: @display-none;
  }
  & .slider-text {
    .draw-toggle-text-slider(@colors-transparent);
    &:before {
      .draw-toggle-text-on-background(@colors-toggle-text-checked);

    }

    &:before, & span {
      width: @button-toggle-text-on-width;
      height: @button-toggle-text-height;
      border-radius: @button-toggle-text-border-radius;
    }

    span {
      flex: 1;
      background-color: @colors-transparent;
      display: @display-flex;
      align-items: @align-items-center;
      justify-content: @justify-content-center;
      position: @position-relative;

      &:first-child {
        color: @colors-white;
        font-family: @font-source-sans-pro-regular;
        font-size: @button-toggle-text-font-size;
        letter-spacing: @toggle-text-letter-space;
        text-align: @align-items-center;
        &:focus:before,
        &:active:before {
          content: none;
        }

      }
      &:last-child {
        .toggle-text-font-specs(@font-source-sans-pro-regular, @button-toggle-text-font-size, @toggle-text-letter-space, @align-items-center, @colors-toggle-text-inactive);
        box-shadow: @button-toggle-text-box-shadow;

      }
    }
  }

}