<!--author:harish-->
<div class="tc-search">
    <label class="tc-search-label" id="test">Country</label>
    <div class="tc-search-container">
        <span class="tc-search-icon"></span>
        <input type='text' class="tc-search-autosuggest" onkeyup="changeInput(this, this.value)"
               onfocus="changeInput(this, this.value)" placeholder="Search" onclick="" value="" data-var="dataSample"/>
        <span class="tc-caret"></span>
    </div>
    <ul class="tc-search-results" id="result" style="display: none;"></ul>

</div>

<script>
    var dataSample = [
        {'value': 'Country1', 'label': 'Country1'},
        {'value': 'Country2', 'label': 'Country2'},
        {'value': 'Country3', 'label': 'Country3'}
    ];
</script>


