/**
 * @license
 * Copyright 2015 TIBCO Inc. All Rights Reserved.
 */

.tc-buttons-dropdown {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@colors-primary-font, @colors-primary-new, @colors-primary, @colors-primary-font, @colors-primary-new, @colors-primary-font, @colors-disable-new, @colors-primary-new, @colors-disable-new);
  & .tc-dropdown-title {
    display: @buttons-dropdown-title-display;
  }
  & .tc-caret {
    background-image: @buttons-caret-background-image;
    display: @buttons-caret-display;
    height: @buttons-caret-height;
    vertical-align: @buttons-caret-vertical-align;
    width: @button-caret-width;
    background-size: @button-caret-bg-img-size;
    background-position: @buttons-caret-background-position;
    background-repeat: @buttons-caret-background-repeat;
  }
  .round-borders;
  .draw-button(@dropdown-borders-width);
  font-weight: @font-weight-base;

}

.tc-dropdown {
  /*
  display: inline-block;
  */
  font-smoothing: @font-smoothing;
  -moz-font-smoothing: @font-smoothing;
  -webkit-font-smoothing: @font-smoothing;
  border-radius: 3px;
  & .dropdown-list {
    padding-left: 0px;
    margin-top: @dropdown-menu-margin-top;
    width: @dropdown-menu-width;
    height: 304px;
    display: none;
    //height: @dropdown-menu-height;
    border-radius: @dropdown-menu-border-radius;
    background-color: @dropdown-menu-background-color;
    box-shadow: @dropdown-menu-box-shadow;
    overflow: auto;
    z-index: 1;
    position: absolute;
    padding-top: 16px;
    padding-bottom: 16px;
    .scrollBar();
    li {
      color: @dropdown-li-color;
      display: @dropdown-li-display;
      height: @dropdown-li-height;
      padding: @dropdown-li-padding;
      font-size: @dropdown-li-font-size;
      line-height: @dropdown-li-line-height;
      letter-spacing: @dropdown-li-letter-spacing;
      text-align: left;
      font-weight: @font-weight-normal;
      height:32px;

    }

  }
}

.dropdown-list li:hover {
  //background-color: @dropdown-li-background-color;
  background-color: rgba(197, 202, 233, 0.2);

}
