.tc-checkbox-new{
  display:inline-block;
  width:140px;


  & label {
   display: inline;
   }

   & .regular-checkbox {
    display: none;
    }

   & .regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #727272;
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    }

    & .regular-checkbox + label:active, .regular-checkbox:checked + label:active {
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
    }

    & .regular-checkbox:checked + label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
  }

    & .regular-checkbox:checked + label:after {
    content: '';
    font-size: 13px;
    position: absolute;
  /*top: -3px;
  left: 1px;*/
    color: white;
    top: -1px;
     left: -1px;
    color: white;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #0081cb;
    background-image: url('../img/checkmark-new.svg');
    background-repeat: no-repeat;
    background-position: 2px 4px;
  }

    & .tag {
  /*  font-family: Arial, sans-serif;
width: 200px;
position: relative;
top: 1px;
font-weight: bold;
text-transform: uppercase;
display: block;
float: right;
*/
    width: 120px;
    height: 14px;
    font-family: @font-source-sans-pro-regular;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.2px;
    text-align: left;
    color: #262626;
    color: var(--black);
    position: relative;
    display: block;
    float: right;
    padding-left: 8px;
    top: 1px;
    font-weight: normal;

  }
}

.tc-checkbox-new-checked{
  display:inline-block;
  width:140px;


  & label {
    display: inline;
  }

  & .regular-checkbox {
    display: none;
  }

  & .regular-checkbox + label {
    //background-color: #fafafa;
   // border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    //position: relative;
    font-size: 13px;
   // position: absolute;
    /*top: -3px;
    left: 1px;*/
    color: white;
    top: -1px;
    left: -1px;
    color: white;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #0081cb;
    background-image: url('../img/checkmark-new.svg');
    background-repeat: no-repeat;
    background-position: 2px 4px;
  }

 /* & .regular-checkbox-deleted + label:active, .regular-checkbox-deleted:checked + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
  }

  & .regular-checkbox-deleted:checked + label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
  }
*/
  /*& .regular-checkbox-deleted:checked + label:after {
    content: '';
    font-size: 13px;
    position: absolute;
    !*top: -3px;
    left: 1px;*!
    color: white;
    top: -1px;
    left: -1px;
    color: white;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #0081cb;
    background-image: url('../img/checkmark-new.svg');
    background-repeat: no-repeat;
    background-position: 2px 4px;
  }
*/
  & .tag {
    /*  font-family: Arial, sans-serif;
  width: 200px;
  position: relative;
  top: 1px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  float: right;
  */
    width: 120px;
    height: 14px;
    font-family: @font-source-sans-pro-regular;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.2px;
    text-align: left;
    color: #262626;
    color: var(--black);
    position: relative;
    display: block;
    float: right;
    padding-left: 8px;
    top: 1px;
    font-weight: normal;

  }
}