/**
 * @license
 * Copyright 2015 TIBCO Inc. All Rights Reserved.
 */

.tc-notifications-error {
    .notification-variant(@notification-error-color, @notification-error-background-color, @notification-error-border-color, @notification-error-icon,@notification-shadow);
    & .tc-error-close{
        display: @notification-close-display;
        width: @notification-close-new-width;
        height: @notification-close-new-height;
        background-size:12px 16px;
        background-image: @notification-close-error-bg-image;
        background-position: @notification-close-background-position;
        background-repeat: @notification-close-background-repeat;
        float: @notification-close-float;



    }
}