<div class="dropdown tc-dropdown hovered">
    <button class="dropdown-selector" onclick="openDropDown(this)">
        <span class="tc-icon"></span>
        <span class="tc-caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-icon-list">
        <li>Item1</li>
        <li>Item2</li>
        <li>Item3</li>


    </ul>
</div>
<span>Initial</span>