<!--author:Harish-->

<div class="dropdown tc-dropdown disabled">
    <button class="dropdown-selector " id="dLabel" disabled type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="tc-icon"></span>
        <span class="tc-caret "></span>
    </button>
    <!--<ul class="dropdown-menu" aria-labelledby="dLabel">-->
        <!--<li>Item1</li>-->
        <!--<li>Item2</li>-->
        <!--<li>Item3</li>-->

    <!--</ul>-->
</div>
<span >Disabled</span>