<!--author:Harish-->

<div class="dropdown tc-dropdown hovered tc-dropdown-hover">
    <button class="dropdown-selector dropdown-selector-hover " id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="tc-icon"></span>
        <span class="tc-caret "></span>
    </button>
    <!--<ul class="dropdown-menu" aria-labelledby="dLabel">-->
        <!--<li>Item1</li>-->
        <!--<li>Item2</li>-->
        <!--<li>Item3</li>-->

    <!--</ul>-->
</div>
<div >Hovered</div>