<!--author:ksripath-->
<!--snippet: <div ui-view="" class="tc-global-header-container" >
    <div class = "tc-global-header">
        <a href=""><div class="header-logo"></div></a>
        <div class="tc-icon-tray">
            <ul class="tc-global-header-nav">
                <li class="tc-header-nav-item profile"><span class="tc-profile-name">Montogmery M</span></li>
                <li class="tc-header-nav-item notifications"></li>
                <li class="tc-header-nav-item picker"></li>
                <li class="tc-header-nav-item search"></li>
                <li class="tc-header-nav-item help"></li>
            </ul>
        </div>
    </div>
    <div class="tc-container-background"></div>
    <div class="tc-panel-background"></div>
    <div class="tc-panel-container">
        <div class="tc-panel-body"></div>
        <div class="tc-panel-footer"></div>
    </div>
</div>
snippet!-->
<img src="/vendor/uxpl/img/global-header.png" style="width:900px;" />
<div style="margin-top:10px; float:left;">
    <a class="btn btn-default" href="/components/header-navigation.html">Preview</a>
</div>