<!--author:blithexu-->
<!--author:robert-->
<!--author:abalamma-->
<div class="tc-calendar">
  <table>
    <thead>
      <tr>
        <th>
          <button type="button" class="btn btn-default btn-sm pull-left">
            <i class="glyphicon glyphicon-chevron-left"></i></button>
        </th>
        <th colspan="5">
          <button type="button" class="btn btn-default btn-sm" style="width:100%;">
            <strong>February 2016</strong></button>
        </th>
        <th>
          <button type="button" class="btn btn-default btn-sm pull-right">
            <i class="glyphicon glyphicon-chevron-right"></i></button>
        </th>
      </tr>
      <tr>
        <th class="text-center"><small>Sun</small></th>
        <th class="text-center"><small>Mon</small></th>
        <th class="text-center"><small>Tue</small></th>
        <th class="text-center"><small>Wed</small></th>
        <th class="text-center"><small>Thu</small></th>
        <th class="text-center"><small>Fri</small></th>
        <th class="text-center"><small>Sat</small></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm" disabled="disabled">
            <span class="text-muted">31</span>
          </button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>01</span>
          </button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>02</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>03</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>04</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>05</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>06</span></button>
        </td>
      </tr>
      <tr>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>07</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>08</span></button>
        </td>
        <td  class="text-center selected">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm btn-info active">
            <span class="text-info">09</span></button>
        </td>
        <td  class="text-center in-range">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>10</span></button>
        </td>
        <td  class="text-center in-range">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>11</span></button>
        </td>
        <td  class="text-center selected">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>12</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>13</span></button>
        </td>
      </tr>
      <tr>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>14</span></button>
        </td>
        <td  class="text-center today">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>15</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>16</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>17</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>18</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>19</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>20</span></button>
        </td>
      </tr>
      <tr>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>21</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>22</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>23</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>24</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>25</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>26</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>27</span></button>
        </td>
      </tr>
      <tr>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>28</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span>29</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span class="text-muted">01</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span class="text-muted">02</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span class="text-muted">03</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span class="text-muted">04</span></button>
        </td>
        <td  class="text-center">
          <button type="button" style="min-width:100%;" class="btn btn-default btn-sm">
            <span class="text-muted">05</span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>