<!--author:robert-->
<!--author:daquino-->
<!--author:blithexu-->
<script>
	function switchDemoToggle() {
		var switchOffStyles = "tc-buttons tc-button-switch";
		var switchOnStyles = "tc-buttons tc-button-switch switch-on";
	    var element = document.getElementById("tc-button-demo-switch-on");
	    element.className = 
	    	element.className == switchOffStyles ? switchOnStyles : switchOffStyles;
	}
</script>
<style>
	.demo-switch-on-label {
		padding-top: 1px;
		padding-left: 5px;
	}
</style>
<div>
	<button class="tc-buttons tc-button-switch switch-on" id="tc-button-demo-switch-on" onclick="switchDemoToggle();">
		<span id="tc-switch-on"/>
		<label for="tc-switch-on"><span class="demo-switch-on-label">Switch On</span></label>
	</button>
</div>