<!--author:robert-->
<!--author:daquino-->
<!--author:blithexu-->
<script>
	function switchDemoOffToggle() {
		var switchOffStyles = "tc-buttons tc-button-switch";
		var switchOnStyles = "tc-buttons tc-button-switch switch-on";
	    var element = document.getElementById("tc-button-demo-switch-off");
	    element.className = 
	    	element.className == switchOffStyles ? switchOnStyles : switchOffStyles;
	}
</script>
<style>
	.demo-switch-off-label {
		padding-top: 1px;
		padding-left: 5px;
	}
</style>
<div>
	<button class="tc-buttons tc-button-switch" id="tc-button-demo-switch-off" onclick="switchDemoOffToggle();">
		<span id="tc-switch-off"/>
		<label for="tc-switch-off"><span class="demo-switch-off-label">Switch Off</span></label>
	</button>
</div>