//.tc-dropdown {
//  /*
//  display: inline-block;
//  */
//  font-smoothing: @font-smoothing;
//  -moz-font-smoothing: @font-smoothing;
//  -webkit-font-smoothing: @font-smoothing;
//  border-radius: 3px;
//  & .dropdown-menu {
//    margin-top:  @dropdown-menu-margin-top;
//    width:  @dropdown-menu-width;
//    //height: @dropdown-menu-height;
//    border-radius: @dropdown-menu-border-radius;
//    background-color: @dropdown-menu-background-color;
//    box-shadow:@dropdown-menu-box-shadow;
//      li {
//        color: @dropdown-li-color;
//        display: @dropdown-li-display;
//        vertical-align: @dropdown-li-vertical-align;
//       // height: @dropdown-li-height;
//        padding:@dropdown-li-padding;
//        font-size: @dropdown-li-font-size;
//        line-height: @dropdown-li-line-height;
//        letter-spacing: @dropdown-li-letter-spacing;
//
//
//
//      }
//    .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
//      margin-top: @dropdown-scroll-margin-top;
//      background-color: @dropdown-scroll-background-color;
//      /* background-color: red !important;*/
//      width:  @dropdown-scroll-width;
//      height: @dropdown-scroll-height;
//
//    }
//    .mCSB_inside>.mCSB_container {
//      margin-right:  @dropdown-scroll-margin-right;
//    }
//
//  }
//}
//.dropdown-menu li:hover{
//  background-color: @dropdown-li-background-color;
//
//}
