/**
 * @license
 * Copyright 2015-2016 TIBCO Inc. All Rights Reserved.
 */

.tc-inputs {
	font-smoothing: @font-smoothing;
	-moz-font-smoothing: @font-smoothing;
	-webkit-font-smoothing: @font-smoothing;
	display: @input-display;
	min-width: @input-content-min-width;
	height: @input-content-height;
  	.input-size(@input-padding-vertical; @input-padding-horizontal; @input-content-font-size; @input-line-height; @input-borders-radius);
	.input-variants;
	.draw-input;
}

.tc-input-icon {
	.draw-icon(@input-type-name-search; @icon-search; @input-padding-icon; @input-padding-icon-left; @input-padding-icon-right; @input-padding-value);
	.draw-icon(@input-type-name-required; @icon-asterisk; @input-padding-icon; @input-padding-icon-left; @input-padding-icon-right; @input-padding-value);
}

.tc-input-icon-grp-size {
	width: @input-grp-width;
}

.tc-input-icon-control {
	width: @input-ctrl-width;
}

/*
.inputIcon{
	margin-top: 4px !important;

}*/
