<!--author:blithexu-->
<!--author:robert-->
<!--author:daquino-->
<div class="tc-input-icon-grp-size">
  <div class="tc-input-icon right-addon">
    <i class="add-icon-required"></i>
    <input type="text" class="tc-inputs required tc-input-icon-control" value="Input Required"/>
  </div>
</div>