/**
* @license
* Copyright 2015 TIBCO Inc. All Rights Reserved.
*/
.dropdown-menu {
  display: none;
  z-index: 1;

}

.tc-dd-show {
  display: block;
}

.tc-dropdown {
  font-smoothing: @font-smoothing;
  -moz-font-smoothing: @font-smoothing;
  -webkit-font-smoothing: @font-smoothing;
  display: inline-block;

  & .dropdown-selector {

    font-family: @dropdown-font-family;
    font-size: @dropdown-font-size;
    outline: @dropdown-outline;
    border-radius: 0;
    border-width: 0px;
    border-style: solid;
    white-space: nowrap;
    height: @dropdown-height-size;
    width: @dropdown-icon-width-size;
    padding: 0;
    .dropdown-variants(
            white; @dropdown-borders-color; @dropdown-font-color; @dropdown-hover-fill-color; @dropdown-hover-border-color);
    & .tc-dropdown-title {
      display: inline-block;
      line-height: @dropdown-height-size;
      margin: @dropdown-title-margin;
    }
    & .tc-caret {
      background-image: @dropdown-caret-blue-arrow;
      display: inline-block;
      height: 100%;
      vertical-align: top;
      width: 50%;
      background-size: @dropdown-caret-bg-img-size;
      background-repeat: no-repeat;
      background-position: 5px center;
    }
    & .tc-icon {
      display: inline-block;
      width: 50%;
      height: 100%;
      background-color: @buttons-download-background;
      background-image: @icon-settings-default;
      background-repeat: @buttons-image-repeat;
      background-size: 20px 20px;
      background-position: center right;
      border: 1px solid transparent;
    }
    &:active {
      box-shadow: inset 0 0 0 2px #055dab;
      border: solid 1px #055dab;
    }
  }

  /*&.open .dropdown-selector {
  .draw-dropdown(@dropdown-fill-color; @dropdown-borders-color; @dropdown-selected-font-color);
  }*/

  &.hovered:not(.disabled) {
    /* & .tc-caret {
    background-image: @dropdown-caret-white-arrow;
    background-color: @colors-primary;
    }
    */
    & .dropdown-selector {
      border-radius: @dropdown-borders-radius;
      border: 1px solid @colors-primary;

    }
  }

  &.disabled .dropdown-selector {
    .draw-dropdown(white; @colors-primary-disabled; @colors-primary-disabled);
    cursor: @disabled-cursor;
    & .tc-icon {
      background-image: @icon-settings-disabled;
    }
    & .tc-caret {
      background-image: @indicators-caret-gray-arrow;
    }
    /*background-color: @colors-disable;*/
  }

  .dropdown-icon-list {
    border-color: @colors-primary;
    margin-top: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    overflow: auto;
    padding: 16px 0px 16px 0px;
    max-width: 135px; // overflow: auto;
    max-height: 128px;
    .scrollBar();

    > li {
      //margin: @dropdown-icon-li-margin;
      width: 100%;
      padding: 0px 0px 0px 16px;

      font-size: @dropdown-menu-font-size;
      white-space: nowrap;
      color: @colors-primary;
      height: 32px;
    }

    .divider {
      background-color: @colors-primary;
      margin: @dropdown-menu-divider-margin;
    }
  }

  // Hover/Focus state
  .dropdown-menu > li {
    &:hover,
    &:focus {
      text-decoration: none;
      color: #0081cb;
      background-color: rgba(197, 202, 233, 0.2);
      background-image: none;
      width: 100%;
    }
  }

  // Active state
  .dropdown-icon-list > .active > li {

    &:hover,
    &:focus {
      color: #0081cb;
      text-decoration: none;
      outline: 0;
      background-color: white;

      background-image: none;
    }
  }

  .dropdown-icon-list > li {
    &:active {
      color: white;
      text-decoration: none;
      outline: 0;

      background-color: white;

      background-image: none;
    }
  }
}

.tc-dropdown:active {
  background-color: #ffffff;

}

.dropdown-selector-hover {
  box-shadow: inset 0 0 0 2px #055dab;
  border: solid 1px #055dab;
}

.tc-dropdown:not(.hovered):hover {
  & .dropdown-selector {
    border-radius: @dropdown-borders-radius;
    border: 1px solid @colors-primary;
  }
}

.tc-dropdown.disabled:hover {
  & .dropdown-selector {
    border: 0px;
  }
}