.tc-modals {

  & .modal-content {
    .draw-modal-small(@modal-small-width, @modal-small-height, @modal-small-box-shadow, @modal-small-border, @modal-small-border-radius, @modal-small-background-color, @modal-small-margin, @padding-zero);
  }

  & .modal-header {

    & .tc-caret {
      width: @button-caret-width;
      height: @button-caret-height;
      margin-top: @modal-small-margin;
      margin-right: @modal-small-margin;
      right: @margin-zero;
    }
  }
  & .modal-body {
    margin-top: @modal-small-body-margin-top;
    padding: @margin-zero;
    &.tc-modal-body-text {
      .modal-small-section-variants(@modal-small-body-text-color, @tooltip-font-family, @modal-small-font-size, @modal-small-line-height, @modal-small-letter-spacing);
      margin-bottom: 16px;
      font-weight: 600;
      border-bottom: @modal-body-borders;
    }
    & .tc-modal-sub-text {
      //.modals-section-variants(
      //        @modal-body-font-color; @modal-body-font-family; @modal-body-font-weight; @modal-body-font-size);
      .modal-small-section-variants(@modal-small-body-text-color, @tooltip-font-family, @modal-small-font-size, @modal-small-line-height, @modal-small-letter-spacing);

    }
    text-align: left;
    //.modals-margin-variants(@modal-body-margin-left; @modal-body-margin-right);
  }
  & .modal-footer {
    padding: @margin-zero;
    margin-top: @modal-small-body-margin-top;

    & .modal-confirm {
      margin-left: @modal-small-confirm-margin-left;

    }

  }
}



