<button type="button" class="btn-lg tc-buttons tc-buttons-primary-call" data-toggle="modal"
        data-target="#myModalInputNarrow">Open Modal
</button>

<div class="demo-modal-text-aling">
    <div class="modal fade tc-modals" tabindex="-1" id="myModalInputNarrow" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <img class="tc-caret" data-dismiss="modal" aria-label="Close"
                         src="/vendor/uxpl/img/ic-close-modal.svg"></img>
                </div>
                <div class="modal-body">
                    <p class="tc-modal-body-text">Modal heading asking for confirmation or making a statement—keep it
                        short and sweet</p>

                    <p class="tc-modal-sub-text">Two lines of text here with additional information. Also keep it short
                        and sweet.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="tc-buttons tc-buttons-borderless modal-cancel" data-dismiss="modal">Cancel</button>
                    <button type="button" class="tc-buttons tc-buttons-primary modal-confirm" data-dismiss="modal">
                        Confirm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
