/**
 * @license
 * Copyright 2015-2016 TIBCO Inc. All Rights Reserved.
 */

// Opacity
.scrollBar() {

  &::-webkit-scrollbar {
    width: 8px;
    height: 72px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: none;

  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1) !important;
    border-radius: 15px;

  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.1) !important
  }
}

.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}

// Button variants
.button-variant(@color: @colors-primary-font; @background: @colors-primary; @border: @colors-primary; 
	@font-active: @colors-primary-font; @color-active: @colors-active; @font-disabled: @colors-primary-font; 
	@color-disabled: @colors-disable; @border-active: @colors-active; @border-disabled: @colors-disable) {
  .color-button(@color; @background; @border);

  &:hover {
    .color-button(@color; @background; @border);
    .round-borders;
  }

  /*&:active {
      .color-button(@font-active; @color-active; @border-active);
      .round-borders;
  }*/

  &.disabled, &:disabled {
    .color-button(@font-disabled; @color-disabled; @border-disabled);
    &:hover {
      .round-borders(0);
      cursor: @buttons-primary-cursor;
    }
  }
}

.button-border-box-shadow(@mycolor) {
  box-shadow: inset 0 0 1px 2px @mycolor;
  border: solid 1px @mycolor;
}

// Button switch variant
.button-switch-variant(
  @fill-color; @borders-color; @borders-radius; @fill-color-aftr;
  @borders-color-aftr; @label-left-aftr; @label-opacity-aftr; @label-opacity-hover-aftr) {
  & label {
    background: @fill-color;
    border-color: @borders-color;
    border-radius: @borders-radius;
    &:after {
      left: @label-left-aftr;
      border-color: @borders-color-aftr;
      background: @fill-color-aftr;
      opacity: @label-opacity-aftr;
    }
    &:hover::after {
      opacity: @label-opacity-hover-aftr;
    }
  }
}

// Inpunt variants
.input-variants(@font-color: @input-content-font-color; @borders-color: @input-borders-color; 
	@font-color-hover: @input-content-filled-font-color; @borders-color-hover: @input-hover-borders-color; 
	@font-color-active: @input-content-active-font-color; @borders-color-active: @input-active-borders-color;
	@font-color-filled: @input-content-filled-font-color; @borders-color-filled: @input-borders-color; 
	@borders-success-color: @input-success-borders-color; @borders-warning-color: @input-warning-borders-color; @borders-error-color: @input-error-borders-color) {

  & {
    .color-input-variant(@font-color; @borders-color);

    &:hover {
      .color-input-variant(@font-color-hover; @borders-color-hover);
    }

    &:focus {
      .color-input-variant(@font-color-active; @borders-color-active);
    }

    &.filled {
      .color-input-variant(@font-color-filled; @borders-color-filled);
    }

    &.required, &[disabled] {
      .color-input-variant(@font-color; @borders-color);
    }

    &.success {
      .color-input-variant(@font-color-active; @borders-success-color);
    }

    &.warning {
      .color-input-variant(@font-color-active; @borders-warning-color);
    }

    &.error {
      .color-input-variant(@font-color-active; @borders-error-color);
    }
  }
}

// Checkbox variant
.checkbox-variant(
  @fill-color; @borders-color; @label-width-aftr; @label-height-aftr; @label-top;@label-left;
  @label-top-aftr; @label-left-aftr; @label-opacity-aftr; @label-opacity-hover-aftr) {
  & label {
    width: @checkbox-label-width;
    height: @checkbox-label-height;
    cursor: @checkbox-cursor-hover;
    position: absolute;
    top: @label-top;
    left: @label-left;
    background: @fill-color;
    border-style: solid;
    border-width: @checkbox-borders-width;
    border-color: @borders-color;
    border-radius: @checkbox-borders-radius;
    &:after {
      content: '';
      width: @label-width-aftr;
      height: @label-height-aftr;
      position: absolute;
      top: 2px;
      left: 1px;
      border: @checkbox-borders-width-aftr solid @colors-primary;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: @label-opacity-aftr;
      transform: @checkbox-label-transform-aftr;
    }
    &:hover::after {
      opacity: @label-opacity-hover-aftr;
    }
  }
}

// Radio button variant
.radio-button-variant(
  @fill-color; @borders-color; @borders-radius; @label-width-aftr;
  @fill-color-aftr; @label-top-aftr; @label-opacity-aftr; @label-opacity-hover-aftr) {
  & label {
    background: @fill-color;
    border-color: @borders-color;
    border-radius: @borders-radius;
    &:after {
      width: @label-width-aftr;
      height: @label-width-aftr;
      top: @label-top-aftr;
      left: @label-top-aftr;
      border-radius: @label-width-aftr;
      background: @fill-color-aftr;
      opacity: @label-opacity-aftr;
    }
    &:hover::after {
      opacity: @label-opacity-hover-aftr;
    }
  }
}

.draw-tooltip(@tooltip-width,@tooltip-height,@tooltip-background-color,@tooltip-text-color,@tooltip-border,@tooltip-border-radius) {
  width: @tooltip-width;
  height: @tooltip-height;
  background-color: @tooltip-background-color;
  color: @tooltip-text-color;
  border: @tooltip-border;
  text-align: @align-items-center;
  display: @display-flex;
  align-items: @align-items-center;
  position: @position-relative;
  border-radius: @tooltip-border-radius;
  justify-content: @justify-content-center;
  text-align: @text-align-left;
  padding: @tooltip-padding;
}

// Tooltip arrow variants
.tooltip-arrow-variant(@placement) {
  & .tooltip-arrow {
    border-@{placement}-color: @tooltip-fill-color !important;
  }
}

.tooltip-draw-arrow() {
  position: @position-absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #10203f;
  content: " ";
  font-size: 0;
  line-height: 0;
  width: 0;
  margin-top: @tooltip-height/2;
  margin-left: 4px;
}

// Dropdown variants
.dropdown-variants(
  @fill-color; @border-color; @font-color;
  @fill-color-hover; @border-color-hover) {
  .draw-dropdown(@fill-color; @border-color; @font-color);
  &:hover {
    .draw-dropdown(@fill-color-hover; @border-color-hover; @font-color);
  }
}

// Draw dropdown
.draw-dropdown(@fill-color; @border-color; @font-color) {
  background-color: @fill-color;
  border-color: @border-color;
  color: @font-color;
}

// Button sizes
.button-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  .base-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius);
}

// Color button
.color-button(@font-color; @background-color; @border-color) {
  color: @font-color;
  background-color: @background-color;
  border-color: @border-color;
}

// Draw button
.draw-button(@border-width: @value-zero) {

  border-style: @buttons-border-style;
  cursor: @buttons-cursor-hover;
  font-family: @buttons-font-family;
  font-weight: @buttons-font-weight;
  font-size: @buttons-font-size;
  letter-spacing: @buttons-letter-spacing;
  /*outline: @buttons-outline;*/
}

.draw-border(@color-button-call-active-border;) {
  box-shadow: inset 0 0 1px 2px @color-button-call-active-border;
  border: solid 1px @color-button-call-active-border;
}

// Underline size
.underline-size(@width: 0; @padding: 0; @color: @colors-primary-font) {
  border-top-width: @width;
  margin-right: @padding;
  margin-left: @padding;
  border-top-color: @color;
  border-top-style: solid;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

// Input sizes
.input-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  .base-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius);
}

// Draw Input
.draw-input(@input-content-font: @input-content-font; @border-width: @input-borders-width) {
  font-family: @input-content-font;
  outline: none;
  border-width: @border-width;
  border-style: solid;
  transition: box-shadow 0.3s, border 0.3s;
}

// Color Input Variant
.color-input-variant(@font-color; @borders-color) {
  color: @font-color;
  border-color: @borders-color;
}

// Round borders
.round-borders(@radius: @buttons-radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

// Base Size
.base-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  line-height: @line-height;
  .round-borders(@border-radius);
}

// Icon
.draw-icon(@input-type-name; @icon-url; @padding-icon-top; @padding-icon-left; @padding-icon-right; @padding-input) {
  & {
    position: relative;

    &.left-addon .add-icon-@{input-type-name} {
      left: @padding-icon-left;
    }

    &.right-addon .add-icon-@{input-type-name} {
      right: @padding-icon-right;
    }

    &.left-addon .tc-inputs {
      padding-left: @padding-input;
    }

    &.right-addon .tc-inputs {
      padding-right: @value-zero;
    }

    & .add-icon-@{input-type-name} {
      background: @icon-url center right no-repeat;
      background-size: @input-icon-image-size;
      width: @input-icon-image-width;
      height: @input-icon-image-height;
      white-space: nowrap;
      position: absolute;
      top: @padding-icon-top;
      pointer-events: none;
    }
  }
}

// Caret
.draw-caret(
  @caret-width; @caret-height; @caret-border;
  @caret-margin-left; @caret-margin-right; @caret-margin-bottom) {
  display: inline-block;
  background: transparent;
  width: @caret-width;
  height: @caret-height;
  border: @caret-border;
  border-top: none;
  border-left: none;
  margin-left: @caret-margin-left;
  margin-right: @caret-margin-right;
  margin-bottom: @caret-margin-bottom;
  -ms-transform: rotate(@dropdown-caret-transform-rotate);
  -webkit-transform: rotate(@dropdown-caret-transform-rotate);
  transform: rotate(@dropdown-caret-transform-rotate);
  vertical-align: middle;
  &:hover {
    cursor: @dropdown-caret-hover-cursor;
  }
}

//Notifications
.notification-variant(@color; @background-color; @border-color; @icon;@box-shadow) {
  background-color: @background-color;
  border: @border-color !important;
  color: @color !important;
  box-shadow: @box-shadow !important;
  .tc-notifications-close {
    color: @color;
  }

  &:before {
    content: "";
    width: @notification-icon-size;
    height: @notification-icon-size;
    background-size: @notification-icon-size @notification-icon-size;
    background-image: @icon;
  }
}

// Table variants
.tc-table-row-typo-variant(
  @font-family; @font-size; @font-weight; @font-color; @line-height) {
  font-family: @font-family;
  font-size: @font-size;
  font-weight: @font-weight;
  color: @font-color;
  line-height: @line-height;
}

// Table Row variants
.tc-table-row-variant(@status; @background-color; @font-color) {
  & > thead > tr,
  & > tbody > tr,
  & > tfoot > tr {
    &.@{status} {
      background-color: @background-color;
      & > td {
        color: @font-color;
      }
    }
  }
  &.tc-table-hover > tbody > tr {
    &.@{status}:hover, &:hover > .@{status} {
      background-color: darken(@background-color, 5%);
    }
  }
}

// Modals variants
// Modal Section variants
.modals-section-variants(@font-color; @font-family; @font-weight; @font-size) {
  color: @font-color;
  font-family: @font-family;
  font-weight: @font-weight;
  font-size: @font-size;
}

// Modal Margin variants
.modals-margin-variants(@margin-left; @margin-right) {
  margin-left: @margin-left;
  margin-right: @margin-right;
}

.draw-toggle(@buttons-switch-width, @buttons-switch-height,@colors-switch-disable,@borders-width-base) {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: @buttons-switch-width;
  height: @buttons-switch-height;
  background-color: @colors-switch-off;
  border: solid @borders-width-base @colors-switch-off;
  -webkit-transition: .4s;
  transition: .4s;
}

.draw-slider(@buttons-switch-slider-width,@buttons-switch-slider-height,@buttons-switch-toggle-color) {
  position: absolute;
  content: "";
  height: @buttons-switch-slider-height;
  width: @buttons-switch-slider-width;
  left: @margin-zero;
  bottom: 1px;
  background-color: @buttons-switch-toggle-color;
  -webkit-transition: .4s;
  transition: .4s;
}

.draw-toggle-text-button(@button-toggle-text-width,@button-toggle-text-height,@button-toggle-text-border,@button-toggle-text-border-radius,@button-toggle-text-transp-background) {
  position: @position-relative;
  display: @display-base;
  width: @button-toggle-text-width;
  height: @button-toggle-text-height;
  border-radius: @button-toggle-text-border-radius;
  border: @button-toggle-text-border;
  background-color: @button-toggle-text-transp-background;
}

.draw-toggle-text-slider(@colors-transparent) {
  position: @position-absolute;
  cursor: @cursor-pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
  display: @display-flex;
  align-items: @align-items-center;
  background-color: @colors-transparent;
}

.toggle-text-margin(@button-toggle-text-margin-left) {
  margin-left: @button-toggle-text-margin-left;
}

.draw-toggle-text-on-background(@colors-toggle-text-checked) {
  position: @position-absolute;
  content: "";
  left: -1px;
  bottom: -1px;
  background-color: @colors-toggle-text-checked;
  border: solid 1px @colors-toggle-text-checked;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: -1;
}

.draw-ripple(@button-toggle-ripple-width,@button-toggle-ripple-height,@button-toggle-ripple-bg-color) {
  content: '';
  width: @button-toggle-ripple-width;
  height: @button-toggle-ripple-height;
  background-color: @button-toggle-ripple-bg-color;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 100%;
}

.toggle-text-font-specs(@font-source-sans-pro-regular,@button-toggle-text-font-size,@toggle-text-letter-space,@align-items-center,@button-toggle-text-hover-color) {
  font-family: @font-source-sans-pro-regular;
  font-size: @button-toggle-text-font-size;
  letter-spacing: @toggle-text-letter-space;
  text-align: @align-items-center;
  color: @button-toggle-text-hover-color;
}

.draw-modal-small(@modal-small-width,@modal-small-height,@modal-small-box-shadow,@modal-small-border,@modal-small-border-radius, @modal-small-background-color, @modal-small-margin, @modal-small-padding) {
  height: @modal-small-height;
  width: @modal-small-width;
  box-shadow: @modal-small-box-shadow;
  border: @modal-small-border;
  border-radius: @modal-small-border-radius;
  background-color: @modal-small-background-color;
  margin: @modal-small-margin;
  padding: @modal-small-padding;
  font-family: @font-source-sans-pro-regular;
}

.modal-small-section-variants(@modal-small-body-text-color, @modal-small-font-size, @font-weight-base, @modal-small-line-height, @modal-small-letter-spacing) {
  line-height: @modal-small-line-height;
  letter-spacing: @modal-small-letter-spacing;
  text-align: left;
  color: @modal-small-body-text-color;
  font-size: @modal-small-font-size;
  font-family: @font-source-sans-pro-regular;
  font-weight: @font-weight-base;
}

.active-text-style() {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.2px;
  text-align: left;
  color: #062e79;
  border-left: 4px solid #062e79;

}