/**
 * Copyright 2015 TIBCO Inc. All Rights Reserved.
 */

/* UI Pattern Library */
// Core Variables and Mixins
@import "mixins.less";
@import "variables.less";


// Components
{{#lessfiles}}
@import "{{{.}}}";
{{/lessfiles}}