/**
 * @license
 * Copyright 2015 TIBCO Inc. All Rights Reserved.
 */

/*--------------------------------------------*\
  $CONTENTS
\*--------------------------------------------*/

/**
 * STYLE GUIDE VARIABLES
 * ------ Typography
 * ------ Colors
 * ------ Button
 */

/**

--------position
--------cursor
 */
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

@no-outline: none;
@align-items-center: center;
@justify-content-center: center;
@text-align-left: left;
@position-relative: relative;
@position-absolute: absolute;
@position-fixed: fixed;
@cursor-pointer: pointer;
@cursor-default: default;
@none: none;
@font-smoothing: antialiased;

/* ==========  TYPOGRAPHY  ========== */
@font-source-sans-pro-regular: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
//@font-source-sans-pro-regular: 'Source Sans Pro';
@font-source-sans-pro-semibold: 'Source Sans Pro Semibold', sans-serif;
/*@font-weight-base: 400;*/
/*@line-height-base: 1.3333333;*/
@font-weight-base: 600;
@font-weight-normal: 400;
@line-height-base: 1.25;
@borders-radius-base: 3px;
@borders-toggle-radius: 14px;
@borders-width-base: 1px;
@icon-search: url('../img/search-icon.png');
@icon-asterisk: url('../img/asterisk-icon.png');
@icon-download: url('../img/download-icon.png');
@icon-download-selected: url('../img/download-selected-icon.png');
@icon-arrow-left: url('../img/tc-carousel-arrow-default-icon-left.png');
@icon-arrow-right: url('../img/tc-carousel-arrow-default-icon-right.png');
@icon-arrow-left-active: url('../img/tc-carousel-arrow-active-icon-left.png');
@icon-arrow-right-active: url('../img/tc-carousel-arrow-active-icon-right.png');
@display-base: inline-block;
@display-none: none;
@display-flex: flex;
@icon-image-size-base: 100% 100%;
@white-space-nowrap: nowrap;

/* ==========  Colors  ========== */
@colors-white: #ffffff;
@colors-primary: #0081cb;
@colors-primary-new: #0081cb;
@colors-primary-new-hover: #0081cb;
@colors-primary-border: #00a0ff;
@colors-primary-disabled: rgba(0, 129, 203, 0.5);
@colors-primary-focus: #afd9ff;
@colors-focus: #0086ff;
@color-gray: #727272;

/*
@colors-active: #062e79;
*/
/*@colors-active: #00a2ff;*/
@colors-active: @colors-none;
@colors-disable: rgba(0, 129, 203, 0.5);
@colors-disable-new: #4dbeff;
@color-button-dissable-background: #e5e5e5;
@color-button-dissable-border: #e5e5e5;

@colors-primary-active-background: #0081cb;
@color-primary-active-border: #055dab;

@colors-primary-hover-background: #055dab;
@color-primary-hover-border: #055dab;

@color-button-call-background: #ec008c;
@color-button-call-border: #ed018c;
@color-button-call-active-background: #ff7800;
@color-button-call-active-border: #d35300;
@color-button-call-hover-background: #d35300;
@color-button-call-hover-border: #de6100;

@color-button-second-background: @colors-none;
@color-button-second-border: #0081cb;
@color-button-second-active: #055dab;
@color-button-second-active-border: #055dab;
@color-button-second-hover: #055dab;
@color-button-second-hover-border: #055dab;

@color-button-second-box-shadow: inset 0 0 0 1px #055dab;

@colors-secondary: #0081cb;
@colors-secondary-disabled: #a7a7a7;
@colors-second-disbled-border: #bebebe;
@colors-none: #ffffff;

@colors-primary-call-background: #ff7800;
@colors-primary-call-border: #ff7800;
@colors-primary-font: @colors-none;
@colors-secondary-font: @colors-primary;

@colors-primary-call: #fd7821;
@colors-primary-call-active: #b74800;
@colors-primary-call-disable: rgba(253, 119, 33, 0.5);
@colors-link-call-disable: rgba(253, 120, 33, 0.5);
@colors-input-borders: #cad3df;
@colors-disabled-borders: #cad3df; // disabled border color
@colors-disabled-font: #8493a8; // disabled font color
@colors-transparent: transparent;
@colors-large-bg: #fd7821;
@colors-large-border: #fd7821;
@colors-switch-off: #727272;
@colors-toggle-text: #262626;
@colors-toggle-text-checked: #062e79;
@colors-toggle-box-shadow: #0086ff;
@colors-toggle-text-inactive: #727272;

/* ==========  Buttons  ========== */
@disabled-cursor: not-allowed;

/* ==========  Buttons  ========== */
// Button
@value-zero: 0;
@button-ripple-effect: rgba(255, 255, 255, 0.2);
@buttons-display: @display-base;
@buttons-font-size: 16px;
@buttons-radius: @borders-radius-base;
@buttons-opacity: .5;
/*@buttons-padding-vertical: 12px;*/
@buttons-padding-vertical: 9px;
/*@buttons-padding-horizontal: 36px;*/
@buttons-padding-horizontal: 15px;
@buttons-image-repeat: no-repeat;
@buttons-secondary-padding-vertical: 10px;
@buttons-link-padding-horizontal: 16px;
@buttons-link-padding-horizontal-active: 8px;
@buttons-border-width: 1px;
@buttons-border-width-focus: 0px;
@buttons-line-height: @line-height-base;
@buttons-font-family: @font-source-sans-pro-regular;
@buttons-font-weight: @font-weight-base;
@buttons-border-style: solid;
@buttons-outline: none;
@buttons-primary-color: @colors-primary-font;
@buttons-primary-cursor: auto;
@buttons-cursor-hover: pointer;
@buttons-secondary-background-color: @colors-primary-font;
@buttons-secondary-border-disabled: rgba(0, 129, 203, 0.55);
@buttons-underline-width: @buttons-border-width;
@buttons-link-call-background-color: @colors-primary-font;
@buttons-link-padding-vertical: @buttons-padding-vertical - @buttons-underline-width;
// Button download
@buttons-download-image-size: @icon-image-size-base;
@buttons-download-size: 32px;
@buttons-download-background: transparent;
// Button switch
@buttons-switch-display: @display-base;
@buttons-switch-width: 48px;
@buttons-switch-height: 28px;
@buttons-switch-borders-radius: @buttons-switch-height / 2;
@buttons-switch-slider-width: 24px;
@buttons-switch-slider-height: 24px;
@buttons-switch-fill-color-on: @colors-primary;
@buttons-switch-fill-color-on-hover: @colors-primary;
@buttons-switch-fill-color-off: @colors-switch-off;
@buttons-switch-toggle-color: @colors-primary-font;
@buttons-switch-toggle-radius: @buttons-switch-label-width / 2;
@buttons-switch-label-width: @buttons-switch-width;
@buttons-switch-label-opacity-hover-aftr: 0.8;
@buttons-switch-label-top: 0px;
@buttons-switch-label-left: 0px;
@buttons-switch-label-right: 0px;
@buttons-switch-label-bottom: 0px;
@buttons-switch-toggle-top: 0px;
@buttons-switch-toggle-left: 0px;
@buttons-switch-toggle-right: 0px;
@buttons-switch-toggle-bottom: 0px;
@buttons-switch-label-top-aftr: @buttons-switch-label-top;
@buttons-switch-label-left-aftr: 21px;
@buttons-switch-toggle-opacity-aftr: 1;
@buttons-switch-font-family: @font-source-sans-pro-regular;
@buttons-switch-font-weight: @font-weight-base;
@buttons-switch-borders-width: @checkbox-borders-width;
@buttons-switch-borders-width-aftr: @buttons-switch-borders-width;
@buttons-switch-cursor-hover: @buttons-cursor-hover;
@buttons-switch-translateX: 22px;
@button-switch-text-margin-left: 16px;
@button-switch-box-shadow: 0 0 @borders-radius-base @colors-primary-new-hover;

//==============Toggle Text Styles==============
@button-toggle-text-width: 252px;
@button-toggle-text-height: 40px;
@button-toggle-text-border-radius: 100px;
@button-toggle-text-border: solid 1px @colors-toggle-text-inactive;
@button-toggle-text-transp-background: @colors-transparent;
@button-toggle-text-margin-left: 16px;
@button-toggle-text-color: @colors-toggle-text;
@button-toggle-text-on-width: @button-toggle-text-width/2;
@button-toggle-ripple-width: 32px;
@button-toggle-ripple-height: 32px;
@button-toggle-ripple-bg-color: rgba(0, 134, 255, 0.1);
@button-toggle-text-hover-color: #0081CB;
@button-toggle-text-font-size: 16px;
@toggle-text-letter-space: 0.2px;
@toggle-text-box-shadow-width: 2px;
@button-toggle-text-translateX: 125px;
@button-toggle-text-box-shadow: 0 0 @toggle-text-box-shadow-width @toggle-text-box-shadow-width @colors-toggle-box-shadow;
@button-toggle-text-active-color: #0081CB;

//================caret styles====================
@button-caret-bg-img-size: 13px 8px;
@button-caret-height: 20px;
@button-caret-width: 20px;
@buttons-large-padding-vertical: 11.5px;
@buttons-large-padding-horizontal: 24px;
@buttons-large-font-size: 21px;
@buttons-large-line-height: 1.32;
@button-icon-bg-img-size: 24px 24px;
@button-icon-margin-right: 14px;
@button-icon-position_inherit: inherit;

@buttons-letter-spacing: 0.3px;
@buttons-large-letter-spacing: 0.4px;

/*====================buttons new===================*/
@buttons-active-box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.2);
@buttons-active-border: solid 1px rgba(0, 0, 0, 0.2);
@buttons-hover-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
@buttons-dropdown-title-display: inline-block;

@buttons-caret-background-image: @dropdown-caret-white-arrow;
@buttons-caret-display: inline-block;
@buttons-caret-height: @button-caret-height;
@buttons-caret-vertical-align: top;
@buttons-caret-width: @button-caret-width;
@buttons-caret-background-size: @button-caret-bg-img-size;
@buttons-caret-background-position: center center;
@buttons-caret-background-repeat: no-repeat;

@buttons-icon-border: 1px solid transparent;
@buttons-icon-active-border: 1px solid #062e79;
/* ==========  Inputs  ========== */
// Input
@input-title-font: Roboto-Regular;
@input-title-font-size: 13px;
@input-title-font-color: #8493a8;
@input-display: @display-base;
@input-content-font: @font-source-sans-pro-regular;
@input-content-font-size: 14px;
@input-content-font-color: @input-title-font-color;
@input-content-filled-font-color: #54657e;
@input-content-active-font-color: #3d4d65;
@input-content-min-width: 250px;
@input-content-height: 45px;
@input-borders-width: @borders-width-base;
@input-borders-color: @colors-input-borders;
@input-borders-radius: @borders-radius-base;
@input-hover-borders-color: @input-title-font-color;
@input-active-borders-color: #0082d5;
@input-success-borders-color: #04be5b;
@input-warning-borders-color: #ff9948;
@input-error-borders-color: #d2335c;
@input-padding-vertical: @value-zero;
@input-padding-horizontal: 18px;
@input-padding-icon: 14px;
@input-padding-icon-left: 16px;
@input-padding-icon-right: 16px;
@input-padding-value: 46px;
@input-line-height: @line-height-base;
@input-type-name-search: search;
@input-type-name-required: required;
@input-grp-width: @input-content-min-width;
@input-ctrl-width: 100%;
@input-icon-image-size: @icon-image-size-base;
@input-icon-image-width: 16px;
@input-icon-image-height: 16px;

/* ==========  Checkboxes  ========== */
// Checkbox
@checkbox-font-family: @font-source-sans-pro-regular;
@checkbox-font-weight: @font-weight-base;
@checkbox-borders-color: #a7a7a7;
@checkbox-fill-color: #eceff4;

@checkbox-font-size: 14px;
@checkbox-line-height: 1.5;
@checkbox-letter-spacing: 0.9px;
@checkbox-grey-background-color: #dadada;
@checkbox-grey-text-align: left;
@checkbox-padding: 5px;
/*@checkbox-deleted-width: 25px;
@checkbox-deleted-height: @checkbox-deleted-width;*/

@checkbox-width: 304px;
@checkbox-height: 32px;
@checkbox-label-width: 16px;

@checkbox-label-height: @checkbox-label-width;
@checkbox-label-transform-aftr: rotate(-45deg);
@checkbox-label-top: 7px;
@checkbox-label-left: 5px;
@checkbox-label-width-aftr: 12px;
@checkbox-label-height-aftr: 6px;
@checkbox-borders-width: @borders-width-base;
@checkbox-borders-radius: @borders-radius-base;
@checkbox-borders-width-aftr: 2px;
@checkbox-cursor-hover: @buttons-cursor-hover;
@checkbox-checked-label-opacity-aftr: 1;
@checkbox-label-opacity-hover-aftr: 0.5;
// Dropdown arrow
@dropdown-arrow-borders-color: @colors-primary;
@dropdown-arrow-fill-color: @colors-primary-font;
@dropdown-arrow-label-width-aftr: 13px;
@dropdown-arrow-label-height-aftr: @dropdown-arrow-label-width-aftr;
@dropdown-arrow-label-top-aftr: 2px;
@dropdown-arrow-label-left-aftr: 5px;
@dropdown-arrow-label-opacity-aftr: @checkbox-checked-label-opacity-aftr;
@dropdown-arrow-label-opacity-hover-aftr: @dropdown-arrow-label-opacity-aftr;

/* ==========  Radio buttons  ========== */
// Radio button
@radiobutton-font-family: @font-source-sans-pro-regular;
@radiobutton-font-weight: @font-weight-base;
@radiobutton-fill-color: @checkbox-fill-color;
@radiobutton-borders-color: @checkbox-borders-color;
@radiobutton-borders-width-aftr: @checkbox-borders-width;
@radiobutton-borders-color-aftr: @colors-primary;
@radiobutton-width: @checkbox-width;
@radiobutton-height: @radiobutton-width;
@radiobutton-borders-width: @checkbox-borders-width;
@radiobutton-cursor-hover: @buttons-cursor-hover;
@radiobutton-label-width: @checkbox-label-width;
@radiobutton-label-radius: @radiobutton-label-width;
@radiobutton-label-width-aftr: 9px;
@radiobutton-label-top-aftr: 7px;
@radiobutton-label-background-aftr: @colors-primary;
@radiobutton-selected-label-opacity-aftr: @checkbox-checked-label-opacity-aftr;
@radiobutton-label-opacity-hover-aftr: 0.5;

/* ==========  Footers  ========== */
// Default
@footer-margin: 64px;
@footer-font-color: @colors-primary;
@footer-line-height: 29px;
@footer-logo-img: url('../img/tibco-logo.png');
@footer-logo-width: 107px;
@footer-main-border-top: 1px solid #dedede;
@footer-main-background: #f8f8f8;
@footer-main-padding: 15px 30px;

/* ==========  Header  ========== */
// Default
@header-z-index: 1051;
@header-margin: 0;
@header-border: 0;
@header-font-weight: 600;
// Logo
@header-logo-img: url('../img/tibco-header-logo.svg');
@header-logo-height: 23px;
@header-logo-width: 268px;
// Nav-bar-collapse
@header-navbar-collapse-background-color: #062e79;
// Navbar-main-link
@header-navbar-main-link-border-left-width: 2px;
@header-navbar-main-link-border-color-a: rgba(255, 255, 255, .5);
@header-navbar-main-link-border-color: rgb(130, 150, 188);
@header-navbar-main-link-border-right-width: 2px;
@header-navbar-main-link-border-style: solid;
@header-navbar-main-link-background-clip: padding-box;
@header-navbar-main-link-margin-left: 20px;
// Navbar-nav
@header-navbar-nav-li-height: 55px;
@header-navbar-nav-li-padding-top: 0;
@header-navbar-nav-li-a-height: 55px;
@header-navbar-nav-li-a-padding-top: 0;
@header-navbar-nav-li-a-color: #fff;
@header-navbar-nav-li-a-box-shadow: inset 0 0 0 0 #0081cb;
@header-navbar-nav-li-a-transition: all ease 1s;
@header-navbar-nav-li-a-hover-border-bottom-color: #0081cb;
@header-navbar-nav-li-a-hover-border-bottom-width: 2px;
@header-navbar-nav-li-a-hover-border-bottom-style: solid;
@header-navbar-nav-li-a-hover-before-position: absolute;
@header-navbar-nav-li-a-hover-before-z-index: 1;
@header-navbar-nav-li-a-hover-before-content: '';
@header-navbar-nav-li-a-hover-before-left: ~"calc(50% - 10px)";
@header-navbar-nav-li-a-hover-before-top: 45px;
@header-navbar-nav-li-a-hover-before-border-style: solid;
@header-navbar-nav-li-a-hover-before-border-width: 0px 10px 10px 10px;
@header-navbar-nav-li-a-hover-before-border-color: rgba(14, 14, 14, 0) rgba(216, 19, 19, 0) #0081cb transparent;
@header-navbar-nav-li-a-hover-before-webkit-transition-duration: 0.3s;
@header-navbar-nav-li-a-hover-before-webkit-transition-property: transform;
@header-navbar-nav-active-color: #fff;
@header-navbar-nav-active-background-color: #0081cb;
@header-navbar-nav-active-box-shadow: inset 0 -100px 0 0 #0081cb;
// User-dropdown
@header-user-dropdown-min-width: 100px;
@header-user-dropdown-caret-background-repeat: no-repeat;
@header-user-dropdown-caret-width: 13px;
@header-user-dropdown-caret-height: 8px;
@header-user-dropdown-caret-margin-left: 10px;
@header-user-dropdown-open-a-color: #fff;
@header-user-dropdown-open-a-background-color: #0081cb;
@header-user-dropdown-open-ul-background-color: #0081cb;
@header-user-dropdown-open-ul-padding: 0px;
@header-user-dropdown-open-ul-color: #fff;
@header-user-dropdown-open-ul-min-width: 100%;
@header-user-dropdown-open-ul-border-top: 1px solid rgba(0, 0, 0, .15);
@header-user-dropdown-open-ul-border-left: 2px solid rgb(130, 150, 188);
@header-user-dropdown-open-ul-left: -89px;
@header-user-dropdown-open-ul-li-border-left-width: 0px;
@header-user-dropdown-open-ul-li-a-color: #fff;
@header-user-dropdown-open-ul-li-a-background-color: #102e79;
@header-user-dropdown-open-ul-li-a--hover-background-color: #0081cb;
@header-user-dropdown-open-divider-height: 1px;
@header-user-dropdown-open-divider-margin: 0px;
@header-user-dropdown-open-background-color-a: rgba(255, 255, 255, .5);
@header-user-dropdown-open-background-color: #666666;
// Navbar-right
@header-navbar-right-li-border-left-width: 2px;
@header-navbar-right-li-border-color-a: rgba(255, 255, 255, .5);
@header-navbar-right-li-border-color: rgb(130, 150, 188);
@header-navbar-right-li-border-left-style: solid;
@header-navbar-right-li-background-clip: padding-box;
@header-inline-block-float: right;
@header-inline-vertical-align: middle;
// Images
@header-image-position: relative;
@header-image-width: 55px;
@header-image-height: 55px;
@header-image-background-repeat: no-repeat;
@header-image-background-position: center center;
@header-image-cursor: pointer;
// Icons
@header-user-dropdown-icon: url('../img/header-dropdown-icon.png');
@header-search-icon: url('../img/header-search-icon.png');
@header-question-icon: url('../img/header-question-icon.png');

/* ==========  Tooltips  ========== */
// Tooltip
@tooltip-fill-color: rgba(60, 77, 101, 0.7);
@tooltip-border-radius: 5px;
@tooltip-font-family: @font-source-sans-pro-regular;
@tooltip-font-size: 16px;
@tooltip-font-color: @colors-primary-font;
@tooltip-font-weight: @font-weight-base;
@tooltip-close: url('../img/ic-close.png');
@tooltip-width: 206px;
@tooltip-height: 128px;
@tooltip-background-color: #10203f;
@tooltip-text-color: @colors-none;
@tooltip-arrow-margin-top: 72px;
@tooltip-arrow-margin-left: 4px;
@tooltip-close-top: 8px;
@tooltip-close-right: 10px;
@tooltip-border: 1px solid #10203f;
@tooltip-padding: 24px;

/* ==========  Dropdowns  ========== */
// Dropdown
@dropdown-fill-color: @colors-primary-new;
@dropdown-borders-color: @colors-primary-new;

@dropdown-width-size: 250px;
@dropdown-icon-width-size: 74px;

@dropdown-height-size: 40px;
@dropdown-height-size-small: 33px;

@dropdown-borders-radius: 0px;
@dropdown-borders-width: @borders-width-base;
@dropdown-font-color: @colors-primary;
@dropdown-line-height: 50px;
@dropdown-font-family: @font-source-sans-pro-regular;
@dropdown-font-size: 14px;
@dropdown-font-size-small: 14px;
@dropdown-outline: none;
@dropdown-content-margin-left: 8px;
@dropdown-max-height: 420px;
// Dropdown menu
@dropdown-menu-font-size: 16px;
@dropdown-menu-font-size-small: 14px;
@dropdown-menu-margin-top: 10px;
@dropdown-menu-width: 201px;
@dropdown-menu-height: 304px;
@dropdown-menu-border-radius: 3px;
@dropdown-menu-background-color: #ffffff;
@dropdown-menu-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
@dropdown-li-color: #00a2ff;
@dropdown-li-display: block;
@dropdown-li-vertical-align: middle;
@dropdown-li-height: 32px;
@dropdown-li-padding: 7px 0px 9px 16px;
@dropdown-li-font-size: 16px;
@dropdown-li-line-height: 1;
@dropdown-li-letter-spacing: 0.4px;
@dropdown-icon-li-padding: 12px 16px 12px 0px;
@dropdown-icon-li-margin: 4px 0px;

/*
@dropdown-menu-item-active: #102e79;
*/
@dropdown-menu-item-active: @colors-primary;
@dropdown-menu-divider-margin: 0 25px;
@dropdown-menu-divider-margin-small: 0 14px;
/*@dropdown-menu-item-padding: 12px 32px;*/
@dropdown-menu-item-padding: 16px;

@dropdown-menu-item-padding-small: 10px 14px;
// Dropdown title
@dropdown-title-margin: 0 10px;
@dropdown-title-margin-small: 0 10px;
// Dropdown Caret
@dropdown-caret-width: 40px;
@dropdown-caret-blue-arrow: url('../img/arrow-blue.svg');
@dropdown-caret-white-arrow: url('../img/arrow-white.svg');
@dropdown-caret-bg-img-size: 13px 8px;
@dropdown-caret-disabled-cursor: not-allowed;
@dropdown-caret-hover-cursor: pointer;
// Dropdown hover
@dropdown-hover-fill-color: white;
@dropdown-hover-border-color: @colors-primary;
// Dropdown selected
@dropdown-selected-font-color: @colors-primary;
// Dropdown disabled
@dropdown-disabled-font-color: @dropdown-hover-border-color;

//Dropdown secondary
@dropdown-font-size-secondary: 12px;
@dropdown-borders-radius-secondary: 2px;
@dropdown-color-secondary: #b6b6b6;
@dropdown-height-secondary: 30px;
@dropdown-border-color-secondary: transparent;
@dropdown-border-secondary: 1px solid @dropdown-border-color-secondary;
@dropdown-active-color-secondary: #fff;
@dropdown-active-color-blue: #0081cb;
@dropdown-active-border-color-secondary: #717171;
@dropdown-active-border-secondary: 1px solid @dropdown-active-border-color-secondary;
@dropdown-glyphicon-margin-secondary: 0px !important;
@dropdown-glyphicon-font-size-secondary: 24px;
@dropdown-glyphicon-color-secondary: #3b4952;
@dropdown-glyphicon-padding-secondary: 4px;
@dropdown-menu-right-secondary: 0px;
@dropdown-menu-border-color-secondary: #727272;
@dropdown-menu-left-secondary: initial;
@dropdown-menu-glyphicon-width-secondary: 24px;
@dropdown-menu-item-color-secondary: #727272;
@dropdown-menu-item-padding-secondary: 8px 14px;
@dropdown-menu-item-float-secondary: left;
@dropdown-menu-item-valign-secondary: bottom;
//=======dropdown scroll==========
@dropdown-scroll-margin-top: 5px;
@dropdown-scroll-background-color: rgba(0, 0, 0, 0.1) !important;
@dropdown-scroll-width: 8px !important;
@dropdown-scroll-height: 60px !important;
@dropdown-scroll-margin-right: 16px;
@dropdown-li-background-color: #e0f4ff;

/* ==========  Margins  ========== */
@margin-zero: 0px;
@padding-zero: 0px;

/* ==========  Notifications  ========== */
@notification-height: 40px;
@notification-top: 0px;
@notification-padding: 8px 18px 8px 18px !important;
@notification-opacity: 1 !important;
@notification-min-width: 530px;
@notification-border-radius: 4px !important;
@notification-margin-top: 1px !important;
@notification-overflow: auto !important;
@notification-width: 536px;
@notification-margin-left: auto;
@notification-margin-right: auto;
@notification-position: relative;
@notification-text-align: left;
@notification-icon-size: 24px;
@notification-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);

//container
@notification-container-position: fixed;
@notification-container-z-index: 999999;
@notification-container-top: 55px;
@notification-container-left: 50%;
@notification-container-transform: translateX(-50%);
@notification-container-width: 530px;
//message
@notification-message-font-size: 16px;
@notification-message-font-weight: 600;
@notification-message-margin-left: 15px !important;
@notification-message-position: relative;
@notification-message-display: inline-block;
@notification-message-max-width: 536px;
@notification-message-ms-word-wrap: break-word;
@notification-message-word-wrap: break-word;
@notification-message-padding: 0px 0px 0px 20px;
//before
@notification-before-font-size: 23px;
@notification-before-font-family: 'Glyphicons Halflings';
@notification-before-font-style: normal;
@notification-before-font-weight: normal;
@notification-before-webkit-font-smoothing: antialiased;
@notification-before-position: absolute;
@notification-before-top: 7px;
//close
/*
@notification-close-right: 0;
@notification-close-top: 0;
@notification-close-font-size: 23px;
@notification-close-padding: 0;
@notification-close-cursor: pointer;
@notification-close-background: transparent;
@notification-close-border: 0;
@notification-close-webkit-appearance: none;
@notification-close-position: relative;
@notification-close-font-weight: normal;
@notification-close-opacity: 0.8;
@notification-close-float: right;
@notification-display: inline;
*/

@notification-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);

@notification-close-text-shadow: 0 0 0 transparent;
@notification-close-display: inline-block;
@notification-close-width: 18px;
@notification-close-height: 28px;
@notification-close-background-size: 18px 18px;
@notification-close-background-image: url('../img/ic-close-green.svg');
@notification-close-background-position: center center;
@notification-close-background-repeat: no-repeat;
@notification-close-float: right;
@notification-close-new-width: 12px;
@notification-close-new-height: 18px;
@notification-close-new-background-size: 16px 16px;
@notification-close-warn-bg-image: url('../img/ic-close-orange-small.svg');
@notification-close-info-bg-image: url('../img/ic-close-blue-small.svg');
@notification-close-error-bg-image: url('../img/7-error.svg');

//error
@notification-error-border-color: solid 1px #f3313c;
@notification-error-background-color: #fee6e8;
@notification-error-color: #d0021b;
@notification-error-icon: url('../img/ic-error-red.svg');

//info
@notification-info-border-color: solid 1px #2b4d8d;
@notification-info-background-color: #e1e6ef;
@notification-info-color: #2b4d8d;
@notification-info-icon: url('../img/ic-info.svg');

//success
@notification-success-border-color: solid 1px #04be5b;
@notification-success-background-color: #e1f7eb;
@notification-success-color: #04be5b;
@notification-success-icon: url('../img/tc-notification-checked-circle-icon.svg');

//warning
@notification-warning-border-color: solid 1px #fd8e08;
@notification-warning-background-color: #ffe9ba;
@notification-warning-color: #fd8e08;
@notification-warning-icon: url('../img/ic-warning.svg');

//details with dropdown
@notification-dropdown-padding-top: 20px;
@notification-dropdown-margin-top: 4px;
@notification-dropdown-border-radius: 4px;
@notification-dropdown-height: 376px;
@notification-dropdown-background-color: #ffffff;
@notification-dropdown-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
@notification-dropdown-display: flex;
@notification-dropdown-flex-direction: row;
@notification-dropdown-flex-wrap: wrap;
@notification-dropdown-list-style-type: none;

@notification-dropdown-flex-grow: 1;
@notification-dropdown-border-right: 2px solid #e5e5e5;
@notification-dropdown-overflow-y: scroll;

@notification-dropdown-hfont-size: 18px;
@notification-dropdown-hfont-weight: 600;
@notification-dropdown-hcolor: #3bc03a;

@notification-details-list-active-color: #f3313c;

@notification-details-sent-flex-grow: 1;
@notification-details-sent-border-right: 2px solid #e5e5e5;
@notification-details-sent-text-align: left;
@notification-details-sent-padding-left: 28px;
@notification-details-sent-height: 265px;
@notification-details-sent-font-size: 18px;
@notification-details-sent-font-weight: 600;
@notification-details-sent-color: #3bc03a;

@notification-details-notsent-text-align: left;
@notification-details-notsent-padding-left: 28px;
@notification-details-notsent-flex-grow: 1;
@notification-details-notsent-font-size: 18px;
@notification-details-notsent-font-weight: 600;

@notification-scrollbar-right: -10px !important;
@notification-scrollbar-background-color: rgba(0, 0, 0, 0.1) !important;
/* background-color:  red !important;*/
@notification-scrollbar-width: 8px !important;
@notification-scrollbar-height: 232px !important;
@notification-scrollbar-rail-width: 4px !important;
@notification-scrollbar-rail-background-color: white !important;

/* ==========  Text Area  ========== */
// text area
@text-area-font-family: @font-source-sans-pro-regular;
@text-area-font-weight: @font-weight-base;
@text-area-font-size: 16px;
@text-area-font-color: #262626;
@text-area-min-width: 264px;
@text-area-min-height: 161px;
@text-area-borders-radius: @borders-radius-base;
@text-area-borders-color: #0086ff;
@text-area-search-container-width: 100%;
@text-area-search-input-width: 90%;
/* ==========  Tables  ========== */
// Table
@table-row-hover-bg-color: rgba(196, 201, 232, 0.5);
@table-row-checked-bg-color: rgba(196, 201, 232, 0.2);
@table-row-active-bg-color: rgba(225, 228, 243, 1);
@table-header-font-color: rgba(131, 131, 131, 1);
@table-header-font-family: @font-source-sans-pro-semibold;
@table-header-font-weight: @font-weight-base;
@table-header-font-size: 13.8px;
@table-header-line-height: @line-height-base;
@table-header-borders-width: 2px;
@table-header-borders-style: solid;
@table-row-font-active-color: rgba(142, 131, 131, 1);
@table-row-font-color: rgba(74, 74, 74, 1);
@table-row-font-size: 13.8px;
@table-row-font-weight: @font-weight-base;
@table-row-font-family: @font-source-sans-pro-regular;
@table-row-line-height: @line-height-base;
@table-row-borders-width: @borders-width-base;
@table-row-borders-style: @table-header-borders-style;
@table-borders-color: rgba(181, 181, 181, 1);
@table-screen-xs-max: (768px - 1);
@table-checkbox-top: 0px;
@table-checkbox-width: 18px;
@table-checkbox-height: @table-checkbox-width;
@table-checkbox-fill-color: @colors-none;
@table-checkbox-borders-color: rgba(151, 151, 151, 1);
@table-checkbox-borders-width: @borders-width-base;
@table-checkbox-borders-radius: 2px;
@table-checkbox-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
@table-checkbox-label-color: rgba(113, 113, 113, 1);
@table-checkbox-label-width: 12px;
@table-checkbox-label-height: 6px;
@table-checkbox-label-top: 3px;
@table-checkbox-label-left: 2px;
@table-checkbox-label-border-width: @table-checkbox-borders-radius;
@table-checkbox-display: @display-base;

/* ==========  Modals  ========== */
// Modal
@modal-header-font-color: rgba(181, 181, 181, 1);
@modal-header-font-family: @font-source-sans-pro-regular;
@modal-header-font-weight: @font-weight-base;
@modal-header-font-size: 18px;
@modal-header-borders: none;
@modal-header-margin-left: 25px;
@modal-header-margin-right: 2px;
@modal-header-margin-top: 0;
@modal-header-title-margin: @value-zero;
@modal-header-title-margin-top: 19px;
@modal-body-font-color: rgba(32, 32, 32, 1);
@modal-body-font-family: @font-source-sans-pro-regular;
@modal-body-font-weight: @font-weight-base;
@modal-body-font-size: 14px;
@modal-body-borders: none;
@modal-body-margin-left: 25px;
@modal-body-margin-right: 22px;
@modal-body-input-narrow-font-size: 85%;
@modal-body-input-narrow-height: 30px;
@modal-footer-borders: none;
@modal-footer-margin-left: 25px;
@modal-footer-margin-right: 22px;
@modal-footer-margin-bottom: 40px;
@modal-content-borders-radius: @borders-radius-base;
@modal-button-close-color: @modal-header-font-color;
@modal-button-close-size: 34px;
@modal-white-space: @white-space-nowrap;

/* ==========  Modal-Small  ========== */
@modal-small-height: 276px;
@modal-small-width: 512px;
@modal-small-box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.33);
@modal-small-border: solid 1px #d8d8d8;
@modal-small-border-radius: 3px;
@modal-small-background-color: #ffffff;
@modal-small-margin-auto: auto;
@modal-small-margin: 24px;
@modal-small-padding-zero: 0px;
@modal-small-margin: 24px;
@modal-small-body-margin-top: 44px;

@modal-small-body-text-color: #212121;
@modal-small-confirm-margin-left: 26px;
@modal-small-font-size: 16px;
@modal-small-line-height: 1.5;
@modal-small-letter-spacing: 0.3px;
@modal-small-font-weight: 600;
@modal-small-font-normal: normal;

/* ==========  Carousels  ========== */
// Carousel
@carousel-base-color: #b5b5b5;
@carousel-indicators-border: 2px solid @carousel-base-color;
@carousel-indicators-margin: 1px 3px;
@carousel-indicators-width-height: 12px;
@carousel-text-shadow: none;
@carousel-control-width: 6%;
@carousel-control-background-image: none;
@carousel-control-before: none;
@carousel-controls-width: 14px;
@carousel-controls-height: 24px;
@carousel-controls-icons: no-repeat;
@carousel-caption-position: relative;
@carousel-caption-text-align: justify;
@carousel-caption-font-size: 12px;
@carousel-caption-left: 0%;
@carousel-caption-color: inherit;
@carousel-caption-padding: 0px;
@carousel-custom-image-width: none;

/* ==========  Calendars  ========== */
// Calendar
@calendar-button-color: #717171;
@calendar-background-color: transparent;
@calendar-background-color-hover: #ededed;
@calendar-font-size: 18px;
@calendar-font-size-title: 14px;
@calendar-font-weight: normal;
@calendar-borders-zero: 0px;
@calendar-borders-hover: 14px;
@calendar-background-image: none;
@calendar-box-shadow: none;
@calendar-day-box: 28px;
@calendar-small-display: none;
@calendar-arrow-icons-content: "";
@calendar-arrow-icons-display: inline-block;
@calendar-arrow-icons-width: 12px;
@calendar-arrow-icons-height: 12px;
@calendar-arrow-icons-borders: 2px solid #727272;
@calendar-arrow-icons-transform-left: rotate(225deg);
@calendar-arrow-icons-transform-right: rotate(45deg);
@calendar-arrow-icons-margin: 6px;
@calendar-date-radius: 20px;
@calendar-date-padding: 2px 4px;
@calendar-date-range-padding: 4px 5px;
@calendar-color-selected: #dbdef0;
@calendar-color-in-range: #f3f4fa;
@calendar-border-today: 1px solid #062e79;

/* ==========  Timers  ========== */
// Timer
@timer-display: inline;
@timer-base-color: #717171;
@timer-background-color: @calendar-background-color;
@timer-font-size: 36px;
@timer-meridian-font-size: 14px;
@timer-empty-font-size: 12px;
@timer-borders-zero: @calendar-borders-zero;
@timer-background-image: @calendar-background-image;
@timer-box-shadow: @calendar-box-shadow;
@timer-hover-color: #0081cb;
@timer-inputs-width: 100%;
@timer-inputs-height: 48px;
@timer-btn-padding: 6px;
@timer-btn-line-height: 0;
@timer-btn-height: 16px;

/* ==========  Lists  ========== */
//List
@list-width: 100%;
@list-float: left;
@list-margin-top: 0;
@list-padding: 0;
@list-style: none;
@list-item-padding: 4px 32px;
@list-font-size: 16px;
@list-white-space: nowrap;
@list-font-weight: normal;
@list-line-height: 1.42857143;
@list-display: block;
@list-border-bottom: 1px solid @colors-primary;
@list-item-text-decoration: none;
@list-item-hover-background-color: #c4c9e8;
@list-item-hover-background-image: none;
@list-item-hover-border-bottom: 1px solid transparent;
@list-item-hover-margin-top: -1px;
@list-item-hover-padding-top: 5px;

/* ==========  Indicators  ========== */
//Indicate: Start, Scale, Error, Empty
@indicators-card-width: 94px; //102px;
@indicators-card-height: 124px;
@indicators-card-border-radius: 4px;
@indicators-card-border-color-non-selected: #dedede;
@indicators-circle-top: 15px;
@indicators-circle-right: 15px;
@indicators-circle-diameter: 64px;
@indicators-spinner-diameter: 76px;
@indicators-circle-border-width: 2px;
@indicators-lbl-font-size: 14px;
@indicators-lbl-ext-font-size: 14px;
@indicators-card-top-blank-space-height: 31px;
@top-qty-lbl: 12px;
@top-qty-lbl-empty: 12px;
@top-desc-lbl: 85px - (@indicators-lbl-font-size);
@top-caret-up-arrow: -7px;
@top-caret-down-arrow: 44px;
@right-qty-lbl: -18px; //25px
@right-qty-lbl-err: 35px;
@right-qty-lbl-ext: -4px;
@top-desc-lbl-ext: @top-desc-lbl;
@right-desc-lbl-err: -19px;
@right-desc-lbl: -19px;
@desc-lbl-width-ext: @indicators-card-width;
@padding-top-desc-lbl-ext: 7px;
@color-lbl-instances: #58a400;
@indicators-caret-blue-arrow: url('../img/arrow-blue.svg');
@indicators-caret-green-arrow: url('../img/arrow-green.svg');
@indicators-caret-red-arrow: url('../img/arrow-red.svg');
@indicators-caret-gray-arrow: url('../img/arrow-gray.svg');
@indicators-green-ic-scaling-spinner: url('../img/ic-scaling-spinner.svg');
@indicators-blue-ic-scaling-spinner: url('../img/ic-scaling-spinner-blue.svg');
@indicators-red-ic-scaling-spinner: url('../img/ic-scaling-spinner-red.svg');
@indicators-caret-bg-img-size: 13px 8px;

/* ==========  Menus Collapsible  ========== */
//Left Menu
@menu-collapsible-toggle-arrow-icon: url('../img/tc-carousel-arrow-active-icon-left.png');

/* ======== Text Links ===============*/
@text-link-color: #00a2ff;
@text-link-active-color: #062e79;

/* ======== Icon Buttons ===============*/
@icon-button-text-sec: url('../img/ic-text-button-sec.svg');
@icon-settings: url('../img/settings-icon.svg');
@icon-settings-default: url('../img/settings-icon-default.svg');
@icon-settings-disabled: url('../img/ic-settings.svg');
@icon-settings-hover: url('../img/ic-settings-hover.svg');

@icon-button-text: url('../img/ic-sample.svg');
@icon-border: 1px;
@buttons-icon-size: 21px;
@icon-padding: 14px;
@icon-border: 0px;
@icon-background-size: 20px 20px;
@icon-background-position: 4px 4px;
@icon-border: 1px solid transparent;
@icon-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.35);
@icon-border-radius: 3px;
@icon-border-color: transparent;

/* =========== Search Icon ====*/

@icon-search: url('../img/ic-search.svg');
@icon-close-tooltip: url('../img/ic-close-tooltip.png');
@icon-search-arrow: url('../img/ic-search-arrow.svg');
@search-container-border: 0 !important;
@search-container-outline: 0 !important;
@search-container-borderbackground: transparent !important;
@search-container-border-bottom: 1px solid #0086ff !important;
@search-container-display: flex;
@search-container-width: 100%;
@search-container-flex-direction: row;
@search-container-margin-top: 0px;
@search-caret-flex-grow: 1;
@search-caret-background-image: @dropdown-caret-blue-arrow;
@search-caret-display: inline-block;
@search-caret-height: 32px;
@search-caret-vertical-align: top;
@search-caret-width: @dropdown-caret-width;
@search-caret-background-size: 16px 9px;
@search-caret-background-position: center right;
@search-caret-background-repeat: no-repeat;
@search-caret-border: 0px;
@search-caret-cursor: pointer;
@search-caret-hover-background-color: red;

@search-icon-flex-grow: 1;
@search-icon-background-image: @icon-search;
@search-icon-display: inline-block;
@search-icon-width: 10%;
@search-icon-height: 28px;
@search-icon-background-size: 18px 18px;
@search-icon-background-position: center left;
@search-icon-background-repeat: no-repeat;
@search-icon-border: 0px;

@search-input-flex-grow: 2;
@search-input-border: 0 !important;
@search-input-outline: 0 !important;
/*  background: transparent !important;
  border-bottom: 1px solid grey !important;*/
@search-input-width: 80%;
@search-input-opacity: 0.9;
@search-input-font-family: @font-source-sans-pro-regular;
@search-input-font-size: 16px;
@search-input-color: #b6b6b6;
@search-label-visibility: visible;
@search-label-font-family: @font-source-sans-pro-regular;
@search-label-font-size: 13px;
@search-label-text-align: left;
@search-label-opacity: 0.9;
@search-label-color: #0086ff;
@search-label-width: 264px;
@search-label-margin-bottom: 0px;
@search-label-font-weight: normal;

/* ================forms=================*/

@forms-input-border: 0;
@forms-input-outline: 0 !important;
@forms-input-background: transparent !important;
@forms-input-border-bottom: 1px solid @color-gray;
@forms-input-width: 264px;
@forms-input-font-family: @font-source-sans-pro-regular;
@forms-input-font-size: 16px;
@forms-label-visibility: visible;
@forms-label-font-family: @font-source-sans-pro-regular;
@forms-label-font-size: 13px;
@forms-label-text-align: left;
@forms-label-color: #4f4f4f;
@forms-label-width: 264px;
@forms-label-margin-bottom: 0px;
@forms-label-font-weight: normal;

@forms-suggest-font-size: 12px;
@forms-suggest-color: #a7a7a7;
@forms-suggest-width: 264px;
@forms-input-padding: 10px;
/*
.showcase > .tc-forms{
  text-align: left;
}
*/
@forms-disabled-color: #a7a7a7;
@forms-disabled-cursor: not-allowed;
@forms-error-border-bottom: solid 1px #f3313c !important;
@forms-error-color: #f3313c;

/*=================custom scroll======================*/

@custom-scrol-right: -10px !important;

@custom-scrol-bar-background-color: rgba(0, 0, 0, 0.1) !important;
/* background-color:  red !important;*/
@custom-scrol-bar-width: 8px !important;
@custom-scrol-bar-height: 232px;

@custom-scrol-draggerRail-width: 4px !important;
@custom-scrol-draggerRail-background-color: white !important;
/*=======================autocompleter==================*/

@autocompleter-position: absolute;
@autocompleter-margin-top: 40px;
@autocompleter-border-radius: 5px;
@autocompleter-z-index: 10;
/* width: 264px;
 height: 304px;*/
@autocompleter-border-radius: 4px;
@autocompleter-background-color: #ffffff;
@autocompleter-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
@autocompleter-height: 250px;

@autocompleter-width: 100% !important;

@autocompleter-bar-margin-top: 5px;
@autocompleter-bar-background-color: rgba(0, 0, 0, 0.1) !important;
/* background-color:  red !important;*/
@autocompleter-bar-width: 8px !important;
@autocompleter-bar-height: 60px !important;

/*border: 1px solid yellow;*/
@autocompleter-list-padding: 12px 16px;
@autocompleter-list-text-align: left;
@autocompleter-list-font-family: @font-source-sans-pro-regular;
@modal-alert-icon: url('../img/ic-error-red.svg');
@modal-close-icon: url('../img/ic-close.svg');

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

