.tc-list {

	width:@list-width;
	float:@list-float;
    margin-top: @list-margin-top;
    padding: @list-padding;
    list-style: @list-style;

    > li {
	    > a {
	      	padding: @list-item-padding;
	      	font-size: @list-font-size; 
	      	white-space: @list-white-space;
	      	color: @colors-primary;
	        display: @list-display;
			font-weight: @list-font-weight;
			line-height: @list-line-height;
			border-bottom: @list-border-bottom;
		    text-decoration: @list-item-text-decoration;

	      	&:hover, &:focus, &:active {
		      	text-decoration: @list-item-text-decoration;
		      	background-color: @list-item-hover-background-color;
		      	background-image: @list-item-hover-background-image;
			  	border-bottom: @list-item-hover-border-bottom;
			    margin-top: @list-item-hover-margin-top;
				padding-top: @list-item-hover-padding-top;
		    }
	    }

	    &:last-child > a{
	    	border-bottom: @list-item-hover-border-bottom;
	    }
	}
}