.tc-header {
  z-index: @header-z-index;
  margin: @header-margin;
  border: @header-border;
  font-weight: @header-font-weight;

  .tc-header-logo{
    background: @header-logo-img no-repeat;
    width: @header-logo-width;
    height: @header-logo-height;
    display: block;
    background-size: @header-logo-width @header-logo-height;
  }

  .tc-header-navbar-collapse {
    background-color: @header-navbar-collapse-background-color;

    .tc-header-navbar-nav {

      .tc-header-navbar-main-link {
        border-left-width: @header-navbar-main-link-border-left-width;
        border-color: @header-navbar-main-link-border-color-a;
        border-color: @header-navbar-main-link-border-color;
        border-right-width: @header-navbar-main-link-border-right-width;
        border-left-style: @header-navbar-main-link-border-style;
        border-right-style: @header-navbar-main-link-border-style;
        background-clip: @header-navbar-main-link-background-clip;
        margin-left: @header-navbar-main-link-margin-left;
      }

      li {
        line-height: @header-navbar-nav-li-height;
        height: @header-navbar-nav-li-height;
        padding-top: @header-navbar-nav-li-padding-top;
        a {
          line-height: @header-navbar-nav-li-a-height;
          height: @header-navbar-nav-li-a-height;
          padding-top: @header-navbar-nav-li-a-padding-top;
          color: @header-navbar-nav-li-a-color;
          text-shadow: none;
          box-shadow: @header-navbar-nav-li-a-box-shadow;
          -webkit-transition: @header-navbar-nav-li-a-transition;
          -moz-transition: @header-navbar-nav-li-a-transition;
          transition: @header-navbar-nav-li-a-transition;
          outline: none;
        }
      }

      li:hover {
        border-bottom-color: @header-navbar-nav-li-a-hover-border-bottom-color;
        border-bottom-width: @header-navbar-nav-li-a-hover-border-bottom-width;
        border-bottom-style: @header-navbar-nav-li-a-hover-border-bottom-style;
      }

      li:hover:before {
        position: @header-navbar-nav-li-a-hover-before-position;
        z-index: @header-navbar-nav-li-a-hover-before-z-index;
        content: @header-navbar-nav-li-a-hover-before-content;
        left: @header-navbar-nav-li-a-hover-before-left;
        top: @header-navbar-nav-li-a-hover-before-top;
        border-style: @header-navbar-nav-li-a-hover-before-border-style;
        border-width: @header-navbar-nav-li-a-hover-before-border-width;
        border-color: @header-navbar-nav-li-a-hover-before-border-color;
        -webkit-transition-duration: @header-navbar-nav-li-a-hover-before-webkit-transition-duration;
        -webkit-transition-property: @header-navbar-nav-li-a-hover-before-webkit-transition-property;
      }

      .active > a {
        color: @header-navbar-nav-active-color;
        text-shadow: none;
        background-color: @header-navbar-nav-active-background-color;
        background-image: none;
        outline: none;
        box-shadow: @header-navbar-nav-active-box-shadow;
      }
    }

    .tc-header-navbar-right {

      .tc-header-right-noborder {
        border-left-width: 0px;

        &:hover {
          border-bottom-color: @header-navbar-nav-li-a-hover-border-bottom-color;
          border-bottom-width: @header-navbar-nav-li-a-hover-border-bottom-width;
          border-bottom-style: @header-navbar-nav-li-a-hover-border-bottom-style;

          &:before {
            position: @header-navbar-nav-li-a-hover-before-position;
            z-index: @header-navbar-nav-li-a-hover-before-z-index;
            content: @header-navbar-nav-li-a-hover-before-content;
            left: @header-navbar-nav-li-a-hover-before-left;
            top: @header-navbar-nav-li-a-hover-before-top;
            border-style: @header-navbar-nav-li-a-hover-before-border-style;
            border-width: @header-navbar-nav-li-a-hover-before-border-width;
            border-color: @header-navbar-nav-li-a-hover-before-border-color;
            -webkit-transition-duration: @header-navbar-nav-li-a-hover-before-webkit-transition-duration;
            -webkit-transition-property: @header-navbar-nav-li-a-hover-before-webkit-transition-property;
          }
        }
      }

      li {
        border-left-width: @header-navbar-right-li-border-left-width;
        border-color: @header-navbar-right-li-border-color-a;
        border-color: @header-navbar-right-li-border-color;
        border-left-style: @header-navbar-right-li-border-left-style;
        background-clip: @header-navbar-right-li-background-clip;
      }

      li:hover {
        border-bottom: none;
      }

      li:hover:before {
        border: none;
      }

      .tc-header-inline-block {
        float: @header-inline-block-float;
        vertical-align: @header-inline-vertical-align;
      }

      .tc-header-search-image {
        position: @header-image-position;
        width: @header-image-width;
        height: @header-image-height;
        background-image: @header-search-icon;
        background-repeat: @header-image-background-repeat;
        background-position: @header-image-background-position;
        cursor: @header-image-cursor;
      }

      .tc-header-question-image {
        position: @header-image-cursor;
        width: @header-image-width;
        height: @header-image-height;
        background-image: @header-question-icon;
        background-repeat: @header-image-background-repeat;
        background-position: @header-image-background-position;
        border: none;
      }

      .tc-header-user-dropdown {
        min-width: @header-user-dropdown-min-width;

        a {
          transition: none;
        }
        .caret {
          border: none;
          background-image: @header-user-dropdown-icon;
          background-repeat: @header-user-dropdown-caret-background-repeat;
          width: @header-user-dropdown-caret-width;
          height: @header-user-dropdown-caret-height;
          margin-left: @header-user-dropdown-caret-margin-left;
        }

        &.open {
          a {
            color: @header-user-dropdown-open-a-color;
            text-shadow: none;
            background-color: @header-navbar-collapse-background-color;
            background-image: none;
            transition: none;
          }
          ul {
            background-color: @header-user-dropdown-open-ul-background-color;
            text-decoration: none;
            padding: @header-user-dropdown-open-ul-padding;
            color: @header-user-dropdown-open-ul-color;
            border: none;
            border-top: @header-user-dropdown-open-ul-border-top;
            border-left: @header-user-dropdown-open-ul-border-left;
            left: @header-user-dropdown-open-ul-left;

            li{
              border-left-width: @header-user-dropdown-open-ul-li-border-left-width;
              border-color: none;
              border-left-style: none;
            }

            li > a {
              color: @header-user-dropdown-open-ul-li-a-color;
              text-shadow: none;
              background-color: @header-user-dropdown-open-ul-li-a-background-color;
              background-image: none;
            }
            li > a:hover {
              background-image: none;
              background-color: @header-user-dropdown-open-ul-li-a--hover-background-color;
            }
            .divider {
              height: @header-user-dropdown-open-divider-height;
              line-height: @header-user-dropdown-open-divider-height;
              margin: @header-user-dropdown-open-divider-margin;
              background-color: @header-user-dropdown-open-background-color-a;
              background-color: @header-user-dropdown-open-background-color;
            }
          }
        }
      }
    }

  }
}