/**
 * @license
 * Copyright 2015 TIBCO Inc. All Rights Reserved.
 */

.tc-notifications-success {
  .notification-variant(@notification-success-color, @notification-success-background-color, @notification-success-border-color, @notification-success-icon,@notification-shadow);
  & .tc-success-close{
    display: @notification-close-display;
    width: @notification-close-new-width;
    height: @notification-close-new-height;
    background-size: 12px 16px;
    background-image: @notification-close-background-image;
    background-position: @notification-close-background-position;
    background-repeat: @notification-close-background-repeat;
    float: @notification-close-float;



  }
}