/* Hide default HTML checkbox */
/* The slider */
/* Rounded sliders */
.tc-toggle-div {
  display: table;
  & .tc-toggle-text {
    //margin-right: 16px;
    font-size: @input-content-font-size;
    line-height: 1;
    letter-spacing: @toggle-text-letter-space;
    text-align: @align-items-center;
    color: @colors-toggle-text;
    margin: @margin-zero;
    padding: @margin-zero;
    vertical-align: middle;
    display: table-cell;
    font-family: @font-source-sans-pro-regular;

  }

  & .tc-toggle {
    position: relative;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: @buttons-switch-width;
    height: @buttons-switch-height;
    margin-left: @button-switch-text-margin-left;
    input {
      display: none;
    }

  }

  .slider {
    .draw-toggle(@buttons-switch-width, @buttons-switch-height, @colors-switch-off, @borders-width-base);
    &:before {
      .draw-slider(@buttons-switch-slider-width, @buttons-switch-slider-height, @buttons-switch-toggle-color);
    }
  }

  input {
    &:checked {
      & + .slider {
        background-color: @buttons-switch-fill-color-on;
        border: solid 1px @buttons-switch-fill-color-on;

        &:before {
          -webkit-transform: translateX(@buttons-switch-translateX);
          -ms-transform: translateX(@buttons-switch-translateX);
          transform: translateX(@buttons-switch-translateX);
        }
        &:hover {
          background-color: @color-primary-active-border;

        }
      }
    }
    &:focus {
      & + .slider {
        box-shadow: @button-switch-box-shadow;
      }
    }

  }

  .slider.round {
    border-radius: @borders-toggle-radius;
    &:before {
      border-radius: 50%;
    }
  }
}
