extends ../_layout/left-nav-contact-layout.jade

block rightContent
    div#mail-notification-success
        .tc-notifications.tc-notifications-success
            span.tc-success-close
            .tc-notifications-message
    div#mail-notification-failed
        .tc-notifications.tc-notifications-error
            span.tc-error-close
            .tc-notifications-message


    div.container

        section
            .title Contact us
            p We'd love to hear from you. Please leave your name, email, and comment, and we’ll get back to you.
        section.contact-form
            form#fileUploadForm(method='post', enctype='multipart/form-data')
                //p
                    //.tc-forms.tc-contact-input
                    //    //label#name.tc-label Name
                    //    input.tc-form(type='text',name='name',  placeholder='First and last name', onclick='',  value='')
                .tc-form-div
                    input#nameField.tc-form(type='text', name='name',value='', required,autocomplete='off')
                    label.place-holder First and last name
                    .tc-suggest Enter your full name

                .tc-form-div
                    input#emailField.tc-form(type='text',name='email', value='', required,autocomplete='off')
                    label.place-holder Email
                    .tc-suggest Enter a valid tibco.com address

                .contact-form-search
                    input#areaField.contact-search-text(type='text',autocomplete='off', name='area' onclick='toggleDropDown(this, event)', value='' required readonly)
                    label.place-holder Area
                    .tc-suggest What aspect of the UXPL do you need help with?

                    span.tc-caret
                ul#result.tc-search-results(style='display: none;')
                    li(value='Design') Design
                    li(value='Development') Development

                .tc-forms.msgbox
                    label.tc-label Message
                    textarea#comment.form-control.tc-text-areas.tc-text-area(placeholder="Enter what you'd like to say here...",name='comment',)
                    .tc-suggest Enter a message

                div
                            .upload-btn-wrapper
                                div.tc-upload-button
                                    span.paperclip
                                    p Add attachments
                                    span.filecount 0


                                input#upload(type='file',autocomplete='off', name='uploadedFile', multiple='',onchange='updateList()')
                #fileList

                div.formSubmit

                            input.tc-buttons.tc-buttons-primary(type='button', value='Send',id='sendMail')

                            script.

                                function toggleDropDown(element, event) {
                                    event.stopPropagation();
                                    document.querySelector('#result').style.display='block';
                                }
                                function validateField(element, event) {
                                    var suggestEl = element.parentElement.querySelector(".tc-suggest");
                                    if (element.value === "") {
                                        suggestEl.classList.add('contact-form-input-error');
                                    } else {
                                        suggestEl.classList.remove('contact-form-input-error');
                                    }
                                }
                                function formatFileSize(bytes, decimalPoint) {
                                    if (bytes == 0) return '0 Bytes';
                                    var k = 1000,
                                        dm = decimalPoint || 2,
                                        sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
                                        i = Math.floor(Math.log(bytes) / Math.log(k));
                                    return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
                                }
                                function updateList() {
                                    console.log("inside updateList");
                                    var input = document.getElementById('upload');
                                    var output = document.getElementById('fileList');
                                    var listHtml="";
                                    var fileNum = input.files.length;
                                    var spanEle ="";
                                    var spanSize = "";
                                    var spanDel = "<span class = \"removeFile\" ></span>";
                                  var numFiles =  input.files.length;
                                   // filesCount+=numFiles;
                                 var curFileNum =   parseInt(document.querySelector(".filecount").innerHTML);
                                    console.log("No.of files brfore = " + curFileNum);

                                    curFileNum +=   numFiles;
                                    console.log("No.of files afeter = "+curFileNum);
                                    document.querySelector(".filecount").innerHTML = curFileNum;
                                    for (var i = 0; i < numFiles; ++i) {
                                        var bytes = input.files.item(i).size ;
                                        console.log("file size in Bytes " + bytes);

                                        //var fileSize = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
                                        var fileSize=formatFileSize(bytes);
                                        var fileType = input.files.item(i).name.split('.')[1];
                                        console.log("file size is "+fileSize);
                                        console.log("file type is " +fileType);
                                        spanSize = "<span class=\"fileSize\">"+fileSize+"</span>";
                                        if(fileType == "pdf"){
                                            spanEle="<span class = \"pdfImage\" ></span>"
                                        } else if (fileType == "png" || fileType == "jpg" || fileType == "svg") {
                                            console.log("inside file type svg");
                                            spanEle="<span class = \"pngImage\" ></span>"
                                        } else if (fileType == "zip") {
                                            spanEle="<span class = \"zipImage\" ></span>"
                                        } else {
                                            spanEle="<span class = \"pdfImage\" ></span>"
                                    }


                                        listHtml += '<div class=\"fileAttachList\">'+spanEle + '<span class=\"fileName\">' + input.files.item(i).name +'</span>' +spanDel+spanSize+'</div>';
                                }
                                    // output.innerHTML += '<ul>'+listHtml+'</ul>';
                                    output.insertAdjacentHTML( 'beforeend', listHtml );

                                }


