extends ../_layout/left-nav-layout.jade

block rightContent
    section
        .title Design
        p  Welcome to the golden rules of design for the TIBCO Cloud products. These guidelines are the foundation to the design system across TIBCO Cloud experience. This set of guidelines are to ensure consistency across the user's experience.
        p Who is this for?
        ul
            li Developers - for consistent implementation and development of Cloud components
            li UX designers - to have the latest design files for design
            li PSG/Partners - tools to create and build the wave of innovation
        .blue-separator-line
        h1(id='1-Colorpalette') Color palette
        p  Our color palette has been created to brand our Cloud, Web and Mobile products. Color is critical to maintaining a consistent brand style across the TIBCO experience. It also helps define hierarchy and functionality throughout the product UI.

        h2(id='1-Primaryblue') Primary blue
        p This is our primary product brand color used for global navigation and clickable elements in the UI.
        .spacer
        .table-row
            .table-cell
                .palette.bluel2
                    .pl-body
                        .pl-title Lightest
                        .pl-description List hover
                    .pl-color #E0F0F9
            .table-cell
                .palette.navyl2
                    .pl-body
                        .pl-title Lightest
                        .pl-description Info background
                    .pl-color #F0F4FF
        .table-row
            .table-cell
                .palette.bluel1
                    .pl-body
                        .pl-title Lighter
                        .pl-description Selected row
                    .pl-color #2694D3
            .table-cell
                .palette.navyl1
                    .pl-body
                        .pl-title Lighter
                        .pl-description Info text
                    .pl-color #2B4D8D
        .table-row
            .table-cell
                .palette.blue
                    .pl-body
                        .pl-title Blue
                        .pl-description Always clickable
                    .pl-color #0081CB
            .table-cell
                .palette.navy
                    .pl-body
                        .pl-title Navy
                        .pl-description Global header. Active
                    .pl-color #062E79
            .table-cell
                .palette.dark
                    .pl-body
                        .pl-title Dark Blue
                        .pl-description Mobile footer
                    .pl-color #10203F
        .spacer-small
        h2(id='1-1-Accentcolors') Accent colors
        p Used to highlight important items, or set a status such as “success”, “warning” and “error”.
        .spacer
        .table-row
            .table-cell
                .palette.orangel2
                    .pl-body
                        .pl-title Lightest
                        .pl-description Background
                    .pl-color #FFEFE0
            .table-cell
                .palette.yellowl2
                    .pl-body
                        .pl-title Lightest
                        .pl-description Background
                    .pl-color #FFE9BA
            .table-cell
                .palette.redl1
                    .pl-body
                        .pl-title Lightest
                        .pl-description Background
                    .pl-color #F9E1E4
        .table-row
            .table-cell
                .palette.orangel1
                    .pl-body
                        .pl-title Orange
                        .pl-description Highlight. Call to action
                    .pl-color #FF7800
            .table-cell
                .palette.yellowl1
                    .pl-body
                        .pl-title Yellow
                        .pl-description Warning
                    .pl-color #FEB619
            .table-cell
                .palette.red
                    .pl-body
                        .pl-title Red
                        .pl-description Error Failed
                    .pl-color #D0021B
        .table-row
            .table-cell
                .palette.orange
                    .pl-body
                        .pl-title Darker
                        .pl-description Hover
                    .pl-color #D35300
            .table-cell
                .palette.yellow
                    .pl-body
                        .pl-title Darker
                        .pl-description Text
                    .pl-color #FD8E08
        .spacer-small
        .table-row
            .table-cell
                .palette.greenl1
                    .pl-body
                        .pl-title Lightest
                        .pl-description Background
                    .pl-color #E1F7EB
        .table-row
            .table-cell
                .palette.green
                    .pl-body
                        .pl-title Green
                        .pl-description Success. Running.
                    .pl-color #04BE5B
        .spacer-small
        h2(id='1-2-Grayscale') Grayscale
        p  Used for text and backgrounds. Be mindful of contrast and readability when putting dark text on a background that isn’t white.
        .spacer
        .table-row
            .table-cell
                .palette.grayl5
                    .pl-body
                        .pl-title Lightest gray
                    .pl-color #FAFAFA
        .table-row
            .table-cell
                .palette.grayl4
                    .pl-body
                        .pl-title Lighter gray
                    .pl-color #F4F4F4
        .table-row
            .table-cell
                .palette.grayl3
                    .pl-body
                        .pl-title Light gray
                    .pl-color #DEDEDE
        .table-row
            .table-cell
                .palette.grayl2
                    .pl-body
                        .pl-title Medium gray
                    .pl-color #B6B6B6
        .table-row
            .table-cell
                .palette.grayl1
                    .pl-body
                        .pl-title Dark gray
                        .pl-description Secondary text
                    .pl-color #727272
        .table-row
            .table-cell
                .palette.gray
                    .pl-body
                        .pl-title Ink
                        .pl-description Primary text
                    .pl-color #212121
            .table-cell
                .palette.white
                    .pl-body
                        .pl-title White
                    .pl-color #FFFFFF

        .grey-separator-line
        h1(id='2-Typography') Typography
        p Source Sans Pro  is the bedrock for the TIBCO Cloud experience.
        .spacer-small
        .table-row
            .table-cell
                button.tc-buttons.tc-buttons-secondary
                    a(href='/assets/fonts/Source_Sans_Pro.zip' style='text-decoration:none;')
                        span Download Source Sans Pro
            .table-cell
                button.tc-buttons.tc-buttons-secondary
                    a(href='/assets/fonts/Source_Code_Pro.zip' style='text-decoration:none;')
                        span Download Source Code Pro
        .spacer-small
        h2(id='2-Hierarchy') Hierarchy
        .table-row.bottom-border
            .table-cell.no-wrap
                .title Page Title
            .table-cell.no-wrap
                .title Source Sans Pro 30 400
            .table-cell.description.no-wrap
                | SIZE: 1.875em
            .table-cell.description
                | Page title, use only once on a page
            .table-cell
        .table-row
            .table-cell.no-wrap
                .h1 H1
            .table-cell.no-wrap
                .h1 Source Sans Pro 24 600
            .table-cell.description.no-wrap
                | SIZE: 1.5em
            .table-cell.description
                | Main Section Header
            .table-cell
        .table-row
            .table-cell.no-wrap
                .h2 H2
            .table-cell.no-wrap
                .h2 Source Sans Pro 18 600
            .table-cell.description.no-wrap
                | SIZE: 1.125em
            .table-cell.description
                | Section Subhead, after H1
            .table-cell
        .table-row
            .table-cell.no-wrap
                .h3 H3
            .table-cell.no-wrap
                .h3 Source Sans Pro 16 600
            .table-cell.description.no-wrap
                | SIZE: 1em
            .table-cell.description
                | Section Subhead, after H2
            .table-cell
        .table-row
            .table-cell.no-wrap
                .h4 H4
            .table-cell.no-wrap
                .h3 Source Sans Pro 14 600
            .table-cell.description.no-wrap
                | SIZE: 0.875em
            .table-cell.description
                | Section Subhead, after H3
            .table-cell
        .table-row.bottom-border
            .table-cell &nbsp;
            .table-cell
            .table-cell
            .table-cell
            .table-cell
        .table-row
            .table-cell &nbsp;
            .table-cell
            .table-cell
            .table-cell
            .table-cell
        .table-row
            .table-cell.no-wrap
                .p Paragraph
            .table-cell.no-wrap
                .p Source Sans Pro 16 400
            .table-cell.description.no-wrap
                | SIZE: 1em
            .table-cell.description
                | Long-form paragraph text, menus, buttons
            .table-cell
        .table-row
            .table-cell &nbsp;
            .table-cell
            .table-cell
            .table-cell
            .table-cell
        .table-row
            .table-cell.no-wrap
                .li Lists
            .table-cell.no-wrap
                .li Source Sans Pro 14 400
            .table-cell.description.no-wrap
                | SIZE: 0.875em
            .table-cell.description
                | Shorter paragraph text, lists
            .table-cell
        .table-row
            .table-cell &nbsp;
            .table-cell
            .table-cell
            .table-cell
            .table-cell
        .table-row
            .table-cell.no-wrap
                .data-table Data tables
            .table-cell.no-wrap
                .data-table Source Sans Pro 13 400
            .table-cell.description.no-wrap
                | SIZE: 0.813em
            .table-cell.description
                | For tables with large amounts of data and resizable columns.
            .table-cell
        .table-row
            .table-cell &nbsp;
            .table-cell
            .table-cell
            .table-cell
            .table-cell
        .table-row
            .table-cell.no-wrap
                .small-text Small text
            .table-cell.no-wrap
                .small-text Source Sans Pro 12 400
            .table-cell.description.no-wrap
                | SIZE: 0.75em
            .table-cell.description
                | Shorter text that shows extra details. Use sparingly.
            .table-cell
        .table-row
            .table-cell &nbsp;
            .table-cell
            .table-cell
            .table-cell
            .table-cell
        .table-row
            .table-cell.no-wrap
                .small-label SMALL LABEL
            .table-cell.no-wrap
                .small-label SOURCE SANS PRO 10 400
            .table-cell.description.no-wrap
                | SIZE: 0.625em
            .table-cell.description
                | Labels where there are space constraints. Use sparingly.
            .table-cell
        .table-row.bottom-border
            .table-cell &nbsp;
            .table-cell
            .table-cell
            .table-cell
            .table-cell
        .table-row
            .table-cell &nbsp;
            .table-cell
            .table-cell
            .table-cell
            .table-cell
        .table-row
            .table-cell.no-wrap
                .code Code
            .table-cell.no-wrap
                .code Source Code Pro 14
            .table-cell.description.no-wrap
                | SIZE: 0.875em
            .table-cell.description
                | Text Editors
            .table-cell
        .spacer-small
        h2(id='2-1-LineHeight') Line Height
        p
            | For paragraph text and headings, line height is 1.5 times body copy font size.
            | For example, 16px font, has a line height of 24px. For lists and tables, see individual
            | components and templates.
        .spacer-small
        h2(id='2-2-TextTransforms') Text Transforms
        p  ALL CAPS
        .spacer-small
        h2(id='2-3-Weights') Weights
        .spacer-small
            .table-row
                span.bold Aa
                span.description   Bold 700
            .table-row
                span.semi-bold Aa
                span.description   Semibold 600
            .table-row
                span.regular Aa
                span.description   Regular 400
        .spacer-small
        h2(id='2-4-Styles') Styles
            .normal Normal
            .italic Italic
        .grey-separator-line
        h1(id='3-Gridsandspacing') Grids and spacing
        p All grids and spacing should be in multiples of 4px and 8px. This ensures a harmonious layout and eliminates guesswork. Visually, it ensures crisp elements and reduces blurring. For example, using odd numbers like 5px result in half-pixel offsets when scaling. Finally, a consistent grid and spacing unit also means that developers do not need to measure every single element on the page.
        h2(id='3-Baselinegrid') Baseline grid
        p Icons and typography align to a 4px baseline grid.
        //<a href="https://zpl.io/V1Mppkw">Baseline grid example </a>
        img(src='../../assets/img/image-4-px-baseline.svg')
        .spacer-small
        p Components all adhere to an 8px baseline grid.
        //<a href="https://zpl.io/2p077rJ">8px baseline grid example</a>
        img(src='../../assets/img/image-8-px-baseline.svg')
        .spacer-small
        //p Layout of content should make it both easy to read and interact with content. Elements should not be so close and crammed together that it makes for readability issues, stresses out the user or leads to accidental clicks. At the same time, things should not be so far apart that it makes it hard to complete tasks. In general, white space should be used to separate content instead of borders and boxes.
        //.spacer-small
        h2(id='3-1-Spacing') Spacing
        p  Layout of content should make it both easy to read and interact with content. Elements should not be so close and crammed together that it makes for readability issues, stresses out the user or leads to accidental clicks. At the same time, things should not be so far apart that it makes it hard to complete tasks. In general, white space should be used to separate content instead of borders and boxes.
        img(src='../../assets/img/image-spacing-do.svg')
        .spacer-small
        img(src='../../assets/img/image-spacing-don-t.svg')
        h2(id='3-2-Columngrid') Column grid
        p The default grid for large breakpoints (1024 and up) is:
        ol
            li 12 columns
            li 24px gutters
            li 24px left/right margins
            li 64px bottom margin
        p Grids can vary based on content.
        h2(id='3-3-Maxwidth') Max width
        //p In general, for pages with no sidebars, max width of content underneath the top navigation is 1200px with a minimum of 24px left/right margins from the edges of the browser.
        p  Max width can vary based on content type function. Large tables and flow diagrams, for example can stretch out with the browser. In general, for pages with no sidebars, max width of content underneath the top navigation is 1200px with a minimum of 24px left/right margins from the edges of the browser.
        //p
        //    strong Max width of column grid
        //
        .spacer-small
        img(src='../../assets/img/image-max-width-example.png')
        //p.pink-text Example of 1200 px max column width on a 1600px wide viewport.
        .spacer-small
        p  When a page has a side bar and is 1024–1440px, ensure at least 24px of space between the sidebar and content, and 24px of space between the content and the right edge of the browser window.
        .spacer-small
        img(src='../../assets/img/image-no-max-width-1440.png')
        //p.pink-text Example of page 1440ppx page with side navigation.
        .spacer-small
        p  When a page has a side bar and is 1600px or wider, ensure at least 1 column of space between the sidebar and content, and 1 column of space between the content and the right edge of the browser window.            p
            //strong No max width example 1600px</a>
        .spacer-small
        img(src='../../assets/img/image-no-max-width-1600.png')
        p.pink-text Example of page 1600 px page with side navigation.
        .spacer-small
        //h1 Basic Templates
        //h2 Page Title Area
        //p Includes the page title on the left, and page-level actions on the right, directly across from the page title.
        //img.tmpl-img(src='../../assets/img/basic-title-area.png')
        //.spacer-small
        //h2 Page Title Bar
        //p Use this treatment to create a greater separation between the page title and content areas. Consider using this treatment for details pages, such as for user-created artifacts.
        //img.tmpl-img(src='../../assets/img/title-bar-treatment.png')
        //.spacer-small
        //h2 Primary Nav Bar
        //p Use this pattern when you have 2-7 top-level categories.
        //img.tmpl-img(src='../../assets/img/primary-nav-bar.png')
        //h2 Top Nav + Title Bar
        //p Depending on the content, it might make sense to group the top nav with the title bar. For example, when there is additional sub-navigation under the title bar (See example: Left-side Sub Navigation).
        //p Note: Since the motivation for this option is largely aesthetic, skip it if the result is ugly!
        //img.tmpl-img(src='../../assets/img/top-nav-title-bar.png')
        //h1 Left-side Navigation
        //h2 Left-side secondary navigation
        //p Use the secondary nav option to move between pages within a top-level category.
        //img.tmpl-img(src='../../assets/img/primary-nav-bar.png')
        //.spacer-small
        //h2 Sub-page Navigation
        //p Sub-page navigation sits directly underneath the Page Title Area. Use this pattern when a page contains sub-pages.
        //img.tmpl-img(src='../../assets/img/primary-nav-bar.png')
        //
        //h1 Additional Navigation Elements
        //h2 Back Navigation
        //p You can include a back carrot to return to a previous page. A back carrot is especially useful on details pages as a way to return to the parent page.
        //img.tmpl-img(src='../../assets/img/back-nav.png')
        //.spacer-small
        //h2 Breadcrumb navigation
        //p Consider including breadcrumbs when the user is navigating through multiple page levels and when maintaining the full context of the page is important.
        //img.tmpl-img(src='../../assets/img/bread-crumb.png')
        //.spacer-small
        //h2 Breadcrumbs with Page Title
        //p Consider emphasizing the page title while still including breadcrumbs on top to give the page a stronger sense of place. Increase the size contrast to differentiate the breadcrumbs from the page title.
        //img.tmpl-img(src='../../assets/img/bread-crump-emphasized-title.png')
        //h1 Tailoring for Your Product Needs
        //h2 Embellished Title Bar
        //p Title bars can be embellished beyond showing just the Page Title and Actions. But keep the Page Title on the left and the Actions on the right! This example from TCI includes a status element next to the Page Title, as well as additional info.
        //img.tmpl-img(src='../../assets/img/embellished-title-bar.png')
        //.spacer-small
        //h2 Title Area Hero Treatment 1
        //p Consider embellishing the title area of the page to add emphasis or to funnel the user into a specific starting flow.
        //img.tmpl-img(src='../../assets/img/title-area-hero1.png')
        //.spacer-small
        //h2 Title Area Hero Treatment 2
        //p Consider adding an image to key pages to add emphasis and flavor. On the other hand, avoid images when they are likely distract from other important content.
        //p In some cases, consider moving the actions to further emphasize them.
        //img.tmpl-img(src='../../assets/img/title-area-hero2.png')
        //.spacer-small
        //h2 No items Found
        //p Use this pattern when there's no items to show.
        //p Include a clear call-to-action to get the user started. This avoids the feeling that this page is dead-end.
        //img.tmpl-img(src='../../assets/img/no-items.png')
        .grey-separator-line
        h1(id='4-Pagelayout') Page layout
        h2(id='4-Titlebartreatment') Title bar treatment
        p  The page title & page-level actions can be included in a bar if you want to articulate a separation between the page title & content areas.
        p  Consider using this treatment for details pages, such as for user-created artifacts.
        .spacer-small
        img.tmpl-img(src='../../assets/img/title-bar-treatment.png')
        .spacer-small
        h2(id='4-1-Basictitlearea') Basic title area
        p  The title area includes the page title on the left, and page-level actions on the right, directly across from the page title.
        img.tmpl-img(src='../../assets/img/basic-title-area.png')
        .spacer-small
        h2(id='4-2-TopNavtitleBar') Top Nav + title Bar
        p  In some cases it may make sense to have both the top nav & title bar together.  This will depend on your content.  One good example is when there is additional sub-navigation under the Title Bar (as shown on the next page).
        p This is largely an aesthetic choice, so don’t use this option if it looks ugly!
        .spacer-small
        img.tmpl-img(src='../../assets/img/top-nav-title-bar.png')
        .spacer-small
        h2(id='4-3-Embellishedtitlebar') Embellished title bar
        p  Title bars can be embellished beyond showing just the Page Title and Actions. But keep the Page Title on the left and the Actions on the right! This example from TCI includes a status element next to the Page Title, as well as additional info.
        .spacer-small
        img.tmpl-img(src='../../assets/img/embellished-title-bar.png')
        .spacer-small
        h2(id='4-4-Titleareahero1') Title area hero 1
        p  Consider embellishing the title area of the page to add emphasis or to funnel the user into a specific starting flow.
        .spacer-small
        img.tmpl-img(src='../../assets/img/title-area-hero1.png')
        .spacer-small
        h2(id='4-5-Titleareahero2') Title area hero 2
        p  Consider adding an image to key pages to add emphasis and flavor. On the other hand, avoid images when they are likely distract from other important content.
        p  In some cases, consider moving the actions to further emphasize them.
        .spacer-small
        img.tmpl-img(src='../../assets/img/title-area-hero2.png')
        .spacer-small
        h2(id='4-6-NoitemsFound') No items Found
        p  Use this pattern when there's no items to show.
        p  Include a clear call-to-action to get the user started. This avoids the feeling that this page is dead-end.
        .spacer-small
        img.tmpl-img(src='../../assets/img/no-items.png')
        .spacer-small
        .grey-separator-line
        h1(id='5-Navigation') Navigation
        p  These are some basic guidelines for consistent navigation.
        h2(id='5-PrimaryNavigation') Primary Navigation
        p Use this pattern when you have 2-7 top-level categories.
        .spacer-small
        img.tmpl-img(src='../../assets/img/primary-nav-bar.png')
        .spacer-small
        h2(id='5-1-Secondarynavigation') Secondary navigation
        p Use the secondary nav option to move between pages within a top-level category.
        .spacer-small
        img.tmpl-img(src='../../assets/img/left-side-secondary-nav.png')
        .spacer-small
        h2(id='5-2-Subnavigation') Sub navigation
        p  Sub-page navigation sits directly underneath the Page Title Area. Use this pattern when an page contains sub-pages.
        .spacer-small
        img.tmpl-img(src='../../assets/img/left-side-sub-page-nav.png')
        .spacer-small
        h2(id='5-3-Backbutton') Back button
        p  You can include a back symbol to return to a previous page. A back symbol is especially useful on details pages as a way to return to the parent page.
        .spacer-small
        img.tmpl-img(src='../../assets/img/back-nav.png')
        .spacer-small
        h2(id='5-4-Breadcrumbs') Breadcrumbs
        p  Consider including breadcrumbs when the user is navigating through many levels of pages, and where maintaining the full context of the page is important.
        .spacer-small
        img.tmpl-img(src='../../assets/img/bread-crumb.png')
        .spacer-small
        h2(id='5-5-Breadcrumbwithpagetitle') Breadcrumb with page title
        p  Consider emphasizing the page title while still including breadcrumbs on top to give the page a stronger sense of place. Increase the size contrast to differentiate the breadcrumbs from the page title.
        .spacer-small
        img.tmpl-img(src='../../assets/img/bread-crump-emphasized-title.png')
        .spacer-small
        //h1 Get the files
        //p You can either download the UXPL Sketch file and access files directly from Sketch. Or, if you want symbols to automatically update when updates are made, you can link to the Sketch file as a library. Both are only available on Mac OSX.
        //h2 Download
        //<a href="https://drive.google.com/file/d/0B6VCgF0_jIFhVGo5cEtnT1dkbVE/view">
        //button.tc-buttons-secondary Download the sketch file
        //</a>
        //.spacer-small
        //p Note: you will not automatically receive updates with this method.
        .grey-separator-line
        h1(id='6-Getthefiles') Get the files
        p  You can either download the UXPL Sketch file and access files directly from Sketch. Or, if you want symbols to automatically update when updates are made, you can link to the Sketch file as a library. Both are only available on Mac OSX.
        h2(id='6-Download') Download
        <a href="https://drive.google.com/file/d/0B6VCgF0_jIFhVGo5cEtnT1dkbVE/view">
        button.tc-buttons-secondary Download the sketch file
        </a>
        .spacer-small
        p Note: you will not automatically receive updates with this method.
        h2(id='6-1-Linktoourlibrary') Link to our library
        p  Link to our read-only Sketch file to incorporate our components in your visual designs. Compatible with Sketch 47 and above.
        ol
            li Download the Google Drive Personal desktop app:
            .spacer-small
            <a href="https://drive.google.com/open?id=0B6VCgF0_jIFhVGo5cEtnT1dkbVE">
            button.tc-buttons-secondary Google Drive
            </a>
            .spacer-small
            img.guide-img(src='../../assets/img/download-drive.png')
            .spacer-small
            li Add this file to your drive
            .spacer-small
            <a href="https://drive.google.com/open?id=0B6VCgF0_jIFhVGo5cEtnT1dkbVE">https://drive.google.com/open?id=0B6VCgF0_jIFhVGo5cEtnT1dkbVE</a>
            .spacer-small
            img.guide-img(src='../../assets/img/add-file-drive.png')
            .spacer-small
            li In Sketch, go to Sketch > Preferences > Libraries
            .spacer-small
            img.guide-img.sketch-img(src='../../assets/img/sketch.png')
            .spacer-small
            li Click Add Library...
            .spacer
            img.guide-img(src='../../assets/img/add-library.png')
            .spacer-small
            li Find the uxpl.sketch file in the UXPL Read-only folder in your drive. Select and add it:
            .spacer
            img.guide-img(src='../../assets/img/sketch-file.png')
            .spacer-small
            li You can now find all of the components as symbols to your documents.
        p This library is linked to your Sketch file and you’ll automatically receive updates if:
            ol
                li You don’t detach symbols from the main library.
                li You keep the uxpl.sketch file in the original google drive folder synced to your desktop.
        p  For more on Sketch libraries: <a href="https://www.sketchapp.com/docs/libraries/">https://www.sketchapp.com/docs/libraries/</a>
        p  Current library is in beta. Most components have been built to be responsive and resizable, but there are some issues to work out. Please contact uxsvc@tibco.com with any feedback or improvements you would like to see.
div.container



















