//.tc-dropdown.small {
//  font-smoothing: @font-smoothing;
//  -moz-font-smoothing: @font-smoothing;
//  -webkit-font-smoothing: @font-smoothing;
//  & .dropdown-selector {
//    font-size: @dropdown-font-size-small;
//    min-height: @dropdown-height-size-small;
//    height: 100%;
//    & .tc-dropdown-title {
//      font-size: @dropdown-menu-font-size-small;
//      line-height: @dropdown-height-size-small;
//      margin: @dropdown-title-margin-small;
//    }
//    & .tc-caret {
//      height: @dropdown-height-size-small;
//      width: @dropdown-caret-width;
//      background-size: @dropdown-caret-bg-img-size;
//    }
//  }
//
//  & .dropdown-menu {
//
//    > li > a {
//      padding: @dropdown-menu-item-padding-small;
//      font-size: @dropdown-menu-font-size-small;
//    }
//
//    .divider{
//      margin: @dropdown-menu-divider-margin-small;
//    }
//  }
//}
