.tc-wizard {
  margin: 20px auto;
  background: @colors-none;
  min-width: 500px;

  .nav-tabs {
    position: @position-relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: @input-title-font-color;
    >li {
      width: 25%;
      a {
        width: 70px;
        height: 70px;
        margin: 20px auto;
        border-radius: 100%;
        padding: 0;
        &:hover {
          background: @colors-transparent;
        }
      }
      &:after {
        content: " ";
        position: @position-absolute;
        left: 46%;
        opacity: 0;
        margin: 0 auto;
        bottom: 0px;
        border: 5px solid @colors-transparent;
        border-bottom-color: @colors-primary-disabled;
        transition: 0.1s ease-in-out;
      }
    }
    >li.active {
      >a {
        color: @colors-primary;
        cursor: @cursor-default;
        border: 0;
        border-bottom-color: @colors-transparent;
        &:hover {
          color: @colors-primary;
          cursor: @cursor-default;
          border: 0;
          border-bottom-color: @colors-transparent;
        }
        &:focus {
          color: @colors-primary;
          cursor: @cursor-default;
          border: 0;
          border-bottom-color: @colors-transparent;
        }
      }
      &:after {
        content: " ";
        position: @position-absolute;
        left: 46%;
        opacity: 1;
        margin: 0 auto;
        bottom: 0px;
        border: 10px solid @colors-transparent;
        border-bottom-color: @colors-primary-disabled;
      }
      span.round-tab {
        background: @colors-none;
        border: 2px solid @colors-primary-disabled;
      }
    }
  }
  .tab-pane {
    position: @position-relative;
    padding-top: 50px;
  }
  > div.tc-wizard-inner {
    position: @position-relative;
  }
  .tc-wizard-connecting-line {
    height: 2px;
    background: @colors-input-borders;
    position: @position-absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
  }
  span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: @colors-none;
    border: 2px solid @colors-input-borders;
    z-index: 2;
    position: @position-absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
    &:hover {
      color: @colors-primary;
      border: 2px solid @colors-primary;
    }
  }
}


