/**
 * @license
 * Copyright 2015 TIBCO Inc. All Rights Reserved.
 */

.tc-notifications-warning {
    .notification-variant(@notification-warning-color, @notification-warning-background-color, @notification-warning-border-color, @notification-warning-icon,@notification-shadow);
    & .tc-warn-close{
        display: @notification-close-display;

        width: @notification-close-new-width;
        height: @notification-close-new-height;
        background-size: @notification-close-new-background-size;
        background-image: @notification-close-warn-bg-image;
        background-position: @notification-close-background-position;
        background-repeat: @notification-close-background-repeat;
        float: @notification-close-float;
    }
}