<!--author:blithexu-->
<!--author:robert-->
<!--author:daquino-->
<style>
  .demo-modal-text-aling {
    text-align: left;
  }
  .demo-modal-body-box {
    margin-bottom: 10px;
  }
  .demo-modal-body-box input[type='text'] {
    width: 100%;
  }
</style>
<button type="button" class="btn-lg tc-buttons tc-buttons-primary-call" data-toggle="modal" data-target="#myModal">Open Modal</button>

<div class="demo-modal-text-aling">
  <div class="modal fade tc-modals" tabindex="-1" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">SHARE WITH OTHERS</h4>
        </div>
        <div class="modal-body">
          <p class="tc-modal-body-text">Invite people</p>
          <div class="demo-modal-body-box">
            <input type='text' class="tc-inputs" placeholder="Enter name or email"/>
          </div>
          <p class="tc-modal-body-text">Shared with Omar, Ivan, Vivek, and 8 other people.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="tc-buttons tc-buttons-secondary">Manage Access</button>
          <button type="button" class="tc-buttons tc-buttons-primary" data-dismiss="modal">Done</button>
        </div>
      </div>
    </div>
  </div>
</div>
