//.tc-search-container {
//  font-smoothing: @font-smoothing;
//  -moz-font-smoothing: @font-smoothing;
//  -webkit-font-smoothing: @font-smoothing;
//  border: @search-container-border;
//  outline: @search-container-outline;
//  background: @search-container-borderbackground;
//  border-bottom: @search-container-border-bottom;
//  display: @search-container-display;
//  /*
//  margin-top: @search-container-margin-top;
//  */
//  margin-top: 1px;
//
//  & .tc-caret {
//
//    background-image: @search-caret-background-image;
//    display: @search-caret-display;
//    height: @search-caret-height;
//    vertical-align: @search-caret-vertical-align;
//    width: @search-caret-width;
//    background-size: @search-caret-background-size;
//    background-position: @search-caret-background-position;
//    background-repeat: @search-caret-background-repeat;
//    border: @search-caret-border;
//    cursor: @search-caret-cursor;
//
//    &:hover, &:focus {
//      /* background-color: red;*/
//    }
//  }
//  & .tc-search-icon {
//    background-image: @search-icon-background-image;
//    display: @search-icon-display;
//    width: @search-icon-width;
//    height: @search-icon-height;
//    background-size: @search-icon-background-size;
//    background-position: @search-icon-background-position;
//    background-repeat: @search-icon-background-repeat;
//    border: @search-icon-border;
//
//  }
//  & .tc-search {
//    padding-left: 40px;
//
//  }
//  & input.tc-search {
//    border: @search-input-border;
//    outline: @search-input-outline;
//    /*  background: transparent !important;
//      border-bottom: 1px solid grey !important;*/
//    width: @search-input-width;
//    opacity: @search-input-opacity;
//    font-family: @search-input-font-family;
//    font-size: @search-input-font-size;
//    color: @search-input-color;
//
//  }
//  & input.tc-search-autosuggest {
//    border: @search-input-border;
//    outline: @search-input-outline;
//    /*  background: transparent !important;
//      border-bottom: 1px solid grey !important;*/
//    width: @search-input-width;
//    opacity: @search-input-opacity;
//    font-family: @search-input-font-family;
//    font-size: @search-input-font-size;
//    /*
//    color: @search-input-color;
//    */
//    color: #212121;
//  }
//}
//
//label.tc-search-label {
//  visibility: @search-label-visibility;
//  font-family: @search-label-font-family;
//  font-size: @search-label-font-size;
//  text-align: @search-label-text-align;
//  opacity: @search-label-opacity;
//  color: @search-label-color;
//  width: @search-label-width;
//  margin-bottom: @search-label-margin-bottom;
//  font-weight: @search-label-font-weight;
//
//}
//
///*
//
//.dropdown-content {
//  display: none;
//  position: absolute;
//  background-color: #f9f9f9;
//  min-width: 160px;
//  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//  z-index: 1;
//}
//.show {display:block;}*/
//.autocompleter, .autocompleter-hint {
//  position: @autocompleter-position;
//  margin-top: @autocompleter-margin-top;
//  border-radius: @autocompleter-border-radius;
//  z-index: @autocompleter-z-index;
//  /* width: 264px;
//   height: 304px;*/
//  border-radius: @autocompleter-border-radius;
//  background-color: @autocompleter-background-color;
//  box-shadow: @autocompleter-box-shadow;
//  height: @autocompleter-height;
//
//}
//
//.autocompleter {
//  width: @autocompleter-width;
//  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
//    margin-top: @autocompleter-bar-margin-top;
//    background-color: @autocompleter-bar-background-color;
//    /* background-color:  red !important;*/
//    width: @autocompleter-bar-width;
//    height: @autocompleter-bar-height;
//
//  }
//}
//
//.autocompleter-list li {
//  /*border: 1px solid yellow;*/
//  padding: @autocompleter-list-padding;
//  text-align: @autocompleter-list-text-align;
//  font-family: @font-source-sans-pro-regular;
//
//}
//
//.tc-inline {
//  margin-top: -2px;
//}
//
//.inputIcon {
//  margin-top: -3px;
//
//}