.tc-timer{
  display:@timer-display;

  td{
    font-size: @timer-font-size;
    color:@timer-base-color;

    .btn-default{
      color: @timer-base-color;
      border-color:@timer-background-color;
      font-size:@timer-meridian-font-size;
      border-width: @timer-borders-zero;
      border-radius: @timer-borders-zero;
      padding: @timer-borders-zero;
      margin: @timer-borders-zero;
      background-color: @timer-background-color;
      background-image:@timer-background-image;
      -webkit-box-shadow: @timer-box-shadow;
      box-shadow: @timer-box-shadow;

      &:hover, &:focus, &:active{
        color: @timer-hover-color;
        background-color: @timer-background-color;
      }
    }
    .form-control{
      -webkit-box-shadow: @timer-box-shadow;
      box-shadow:@timer-box-shadow;
      border: @timer-box-shadow;
      width: @timer-inputs-width;
      height: @timer-inputs-height;
      padding: @timer-borders-zero;
      font-size: @timer-font-size;
      color: @timer-base-color;
    }
  }
  .text-center {
    td{
      font-size: @timer-empty-font-size;
    }
  }
  .btn {
    padding: @timer-borders-zero @timer-btn-padding;
    line-height: @timer-btn-line-height;
    height: @timer-btn-height;
  }
}