/**
 * @license
 * Copyright 2015 TIBCO Inc. All Rights Reserved.
 */

.tc-notifications-info {
  .notification-variant(@notification-info-color, @notification-info-background-color, @notification-info-border-color, @notification-info-icon,@notification-shadow);
  & .tc-info-close{
    display: @notification-close-display;
    width: @notification-close-new-width;
    height: @notification-close-new-height;
    background-size: @notification-close-new-background-size;
    background-image: @notification-close-info-bg-image;
    background-position: @notification-close-background-position;
    background-repeat: @notification-close-background-repeat;
    float: @notification-close-float;


  }
}