/**
 * @license
 * Copyright 2015 TIBCO Inc. All Rights Reserved.
 */
.tc-buttons-primary-call {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@colors-primary-font, @colors-primary-call-background, @colors-primary-call-border,
          @colors-primary-font, @colors-primary-call-active, @colors-primary-font,
          @colors-link-call-disable, @colors-primary-call-active, @colors-link-call-disable);
  .draw-button(@dropdown-borders-width);
  font-weight: @font-weight-base;

  &:hover {
    .button-variant(@colors-primary-font, @color-button-call-hover-background, @color-button-call-hover-border,
            @colors-primary-font, @colors-primary-call-active, @colors-primary-font,
            @colors-link-call-disable, @colors-primary-call-active, @colors-link-call-disable);
  }

  &:active {
    .button-variant(@colors-primary-font, @color-button-call-active-background, @color-button-call-active-border,
            @colors-primary-font, @color-button-call-active-border, @colors-primary-font,
            @colors-link-call-disable, @colors-primary-call-active, @colors-link-call-disable);
    .draw-button(@dropdown-borders-width);
    .draw-border(@color-button-call-active-border);
  }

}

/*.tc-buttons-primary-disabled {
	.button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
	.button-variant(@colors-primary-font,  @color-button-call-active-background, @colors-primary-call-border,
					@colors-primary-font, @colors-primary-call-active, @colors-primary-font,
					@colors-link-call-disable, @colors-primary-call-active, @colors-link-call-disable);
	.draw-button(@dropdown-borders-width);
	opacity: 0.5;
}*/
.tc-buttons-primary-call-default {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@colors-primary-font, @color-button-call-active-background, @color-button-call-active-background,
          @colors-primary-font, @colors-primary-call-active, @colors-primary-font,
          @colors-link-call-disable, @colors-primary-call-active, @colors-link-call-disable);
  .draw-button(@dropdown-borders-width);
  opacity: 0.5;
}

.tc-buttons-primary-call-active {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@colors-primary-font, @color-button-call-active-background, @color-button-call-active-border,
          @colors-primary-font, @colors-primary-call-active, @colors-primary-font,
          @colors-link-call-disable, @colors-primary-call-active, @colors-link-call-disable);
  .draw-button(@dropdown-borders-width);
  .draw-border(@color-button-call-active-border);



}

.tc-buttons-primary-call-hover {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@colors-primary-font, @color-button-call-hover-background, @color-button-call-hover-border,
          @colors-primary-font, @colors-primary-call-active, @colors-primary-font,
          @colors-link-call-disable, @colors-primary-call-active, @colors-link-call-disable);
  .draw-button(@dropdown-borders-width);

}

.tc-buttons-primary-call-focused {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@colors-primary-font, @colors-primary-call-background, @colors-primary-call-border,
          @colors-primary-font, @colors-primary-call-active, @colors-primary-font,
          @colors-link-call-disable, @colors-primary-call-active, @colors-link-call-disable);
  .draw-button(@buttons-border-width-focus);
  box-shadow: 0px 0px 3.7px 3.2px #afd9ff;
}