<!--author:robert-->
<!--author:daquino-->
<!--author:blithexu-->
<style>
	.demo-radio-label-position {
		padding-top: 1px;
		padding-left: 5px;
	}
</style>
<div class="tc-radio-buttons tc-radio-button">
	<input type="radio" value="1" id="tc-radio-button-a" name="tc-radio-button" checked/>
	<label for="tc-radio-button-a"><span class="demo-radio-label-position">First</span></label>
</div>
