<!--author:robert-->
<!--author:daquino-->
<!--author:blithexu-->
<style>
	.demo-radio-label-position {
		padding-top: 1px;
		padding-left: 5px;
	}
</style>
<div class="tc-radio-buttons tc-radio-button">
	<input type="radio" value="2" id="tc-radio-button-b" name="tc-radio-button"/>
	<label for="tc-radio-button-b"><span class="demo-radio-label-position">Second</span></label>
</div>
