<!--author:daquino-->
<style>
	.tc-left-menu-collapsible {
		width: 275px;
	}
	.tc-left-menu-options {
		width: 240px;
	}
	.tc-left-menu-toggle-icon-container {
		width: 30px;
	}
	.tc-left-menu-toggle-icon {
	    position: relative;
	    top: 56px;
  	}
</style>
<div class="tc-left-menu-collapsible">
	<div id="tcLeftMenuOptions" class="tc-left-menu-options tc-left-menu-options-opacity">
		<div><a class="tc-left-menu-option" href="#">Link A</a></div>
		<div><a class="tc-left-menu-option" href="#">Link B</a></div>
		<div><a class="tc-left-menu-option" href="#">Link C</a></div>
		<div><a class="tc-left-menu-option" href="#">Link D</a></div>
	</div>
	<div class="tc-left-menu-toggle-icon-container">
		<div class="tc-left-menu-toggle-icon">
		</div>
	</div>
</div>