//.tc-dropdown.secondary{
//	.dropdown-selector{
//		min-height: @dropdown-height-secondary;
//    	border:@dropdown-border-secondary;
//    	background:@dropdown-border-color-secondary;
//        height: 100%;
//
//    	.glyphicon{
//	    	margin-left:@dropdown-glyphicon-margin-secondary;
//	    	font-size:@dropdown-glyphicon-font-size-secondary;
//	    	color:@dropdown-glyphicon-color-secondary;
//	    	padding-left:@dropdown-glyphicon-padding-secondary;
//	    	padding-right:@dropdown-glyphicon-padding-secondary;
//    	}
//
//    	&:hover, &:active, &:visited{
//    		color:@dropdown-active-color-secondary;
//    		background:@dropdown-color-secondary;
//    		border-top-left-radius: @dropdown-borders-radius;
//    		border-top-right-radius: @dropdown-borders-radius;
//    		border-bottom-left-radius: @value-zero;
//    		border-bottom-right-radius: @value-zero;
//    		border:@dropdown-active-border-secondary;
//
//    		.glyphicon{
//    			color:@dropdown-active-color-secondary;
//    		}
//    	}
//	}
//	&:hover:not(.open){
//	  .dropdown-selector {
//		border-color: @dropdown-active-color-secondary;
//		background-color: @dropdown-active-color-secondary;
//	  }
//	  .glyphicon {
//		color: @dropdown-active-color-blue;
//	  }
//	}
//	&.open{
//	 	.dropdown-selector {
//	    	.draw-dropdown(@dropdown-color-secondary; @dropdown-active-border-color-secondary; @dropdown-active-color-secondary);
//    		border-top-left-radius: @dropdown-borders-radius;
//    		border-top-right-radius: @dropdown-borders-radius;
//    		border-bottom-left-radius: @value-zero;
//    		border-bottom-right-radius: @value-zero;
//		}
//		.glyphicon{
//    		color:@dropdown-active-color-secondary;
//    	}
//	}
//	.dropdown-menu{
//		right:@dropdown-menu-right-secondary;
//		border-color:@dropdown-menu-border-color-secondary;
//		left:@dropdown-menu-left-secondary;
//        border-radius:@dropdown-borders-radius-secondary;
//
//		> li > a{
//    		color:@dropdown-menu-item-color-secondary;
//    		font-size:@dropdown-font-size-secondary;
//    		padding: @dropdown-menu-item-padding-secondary;
//    		p{
//    		    float: @dropdown-menu-item-float-secondary;
//    		}
//    		&:hover, &:active{
//				background:@dropdown-border-color-secondary;
//				color:@dropdown-font-color;
//    		}
//    		span{
//				vertical-align: @dropdown-menu-item-valign-secondary;
//    		}
//		}
//    	.glyphicon{
//    	    width: @dropdown-menu-glyphicon-width-secondary;
//    	}
//		.divider{
//			margin: @dropdown-menu-divider-margin-small;
//			background-color:@dropdown-color-secondary;
//		}
//	}
//
//    &:hover:not(.disabled) {
//        .dropdown-selector{
//            border-top-left-radius: @dropdown-borders-radius;
//            border-top-right-radius: @dropdown-borders-radius;
//            border-bottom-left-radius: @value-zero;
//            border-bottom-right-radius: @value-zero;
//        }
//    }
//}