<!--author:robert-->
<!--author:daquino-->
<!--author:blithexu-->
<!--author:abalamma-->
<div class="dropdown tc-dropdown secondary">
    <button class="dropdown-selector" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="tropos-shortcuts glyphicon glyphicon-option-vertical"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a href="#">Action</a></li>
        <li class="divider"></li>
        <li><a href="#">Another action</a></li>
        <li class="divider"></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>