.tc-footer {
  .tc-footer-main {
    border-top: @footer-main-border-top;
    background: @footer-main-background;
    padding: @footer-main-padding;

    .tc-footer-left-panel {
      margin-left: @footer-margin;
    }

    ul.tc-footer-right-panel {
      margin-right: @footer-margin;

      li {
        a {
          color: @footer-font-color;
        }

        a:hover, a:link, a:visited{
          color: @footer-font-color;
          text-decoration: none;
        }

      }

      li:not(:last-child):after {
        pointer-events: none;
        content: "|";
        margin-left: 5px;
        text-decoration: none;
        cursor: none;
      }

    }

    .tc-footer-logo {
      background: @footer-logo-img no-repeat;
      width: @footer-logo-width;
      height: @footer-line-height;
      display: block;
      background-size: @footer-logo-width;
    }

    ul {
      margin-bottom: 0px;
      li {
        height: @footer-line-height;
        line-height: @footer-line-height;
        vertical-align: top;
        color: @footer-font-color;
      }
    }
  }
}