/**
 * TIBCO Cloud UI Pattern - 'Buttons' category
 */

.tc-buttons{
	display: @buttons-display;
	white-space: nowrap;
	outline: @no-outline;
  /*  width: 78px;
    height: 48px;
    border-radius: 3px;
    background-color: #0086ff;
    background-color: var(--deep-sky-blue);
    border: solid 1px #0086ff;*/
}