.tc-form-div {
  position: relative;
  width: 264px;
  height: 72px;
  margin-bottom: 22px;
  //top:50%;
  //left:50%;

  input {
    //margin-bottom: 30px;
    position: relative;
    padding-bottom: 0px;
    padding-top: 20px;
    border: @forms-input-border;
    outline: @forms-input-outline;
    background: @forms-input-background;
    width: 100%;
    border-bottom: @forms-input-border-bottom;
    font-size: 16px;
    z-index: 1;
    &:focus {
      border-bottom: 1px solid @colors-primary;

    }
  }
  label {
    position: absolute;
    left: 0px;
    top: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: 0.3px;
    text-align: left;
    color: @color-gray;
    font-size: 16px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
}

.tc-form-div {
  input {

    &:focus, &:valid {

      & ~ label {
        top: 2px;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        z-index: 2;
      }

      &:focus ~ label {
        color: @colors-primary;
      }
    }

  }
}

.tc-suggest {
  font-size: @forms-suggest-font-size;
  color: @forms-suggest-color;
  width: @forms-suggest-width;
  text-align: left;
  line-height: 2;
}

.tc-form.tc-error {
  border-bottom: @forms-error-border-bottom;
}

.tc-suggest.tc-error {
  color: @forms-error-color;
}