<!--author:robert-->
<!--author:daquino-->
<!--author:blithexu-->
<div class="dropdown tc-dropdown disabled small">
  <button id="dLabel" class="dropdown-selector" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled="true">
    <span class="tc-dropdown-title">Dropdown disabled</span>
    <span class="tc-caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
