<!--author:ylakkaku-->
 <div class="tc-wizard">
        <div class="tc-wizard-inner">
          <div class="tc-wizard-connecting-line"></div>
          <ul class="nav nav-tabs" role="tablist">

            <li role="presentation" class="active">
              <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab"> 1 </span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">2</span>
              </a>
            </li>
            <li role="presentation" class="disabled">
              <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                <span class="round-tab">3</span>
              </a>
            </li>

            <li role="presentation" class="disabled">
              <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                <span class="round-tab">4</span>
              </a>
            </li>
          </ul>
        </div>

        <form role="form">
          <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="step1">
              <h3>Step 1</h3>
              <p>This is step 1</p>
              <ul class="list-inline pull-right">
                <li><button type="button" class="tc-buttons tc-buttons-primary next-step">Next</button></li>
              </ul>
            </div>
            <div class="tab-pane" role="tabpanel" id="step2">
              <h3>Step 2</h3>
              <p>This is step 2</p>
              <ul class="list-inline pull-right">
                <li><button type="button" class="tc-buttons tc-buttons-primary prev-step">Previous</button></li>
                <li><button type="button" class="tc-buttons tc-buttons-primary next-step">Next</button></li>
              </ul>
            </div>
            <div class="tab-pane" role="tabpanel" id="step3">
              <h3>Step 3</h3>
              <p>This is step 3</p>
              <ul class="list-inline pull-right">
                <li><button type="button" class="tc-buttons tc-buttons-primary prev-step">Previous</button></li>
                <li><button type="button" class="tc-buttons tc-buttons-primary next-step">Next</button></li>
              </ul>
            </div>
            <div class="tab-pane" role="tabpanel" id="complete">
              <h3>Complete</h3>
              <p>You have successfully completed all steps.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </form>
 </div>