.tc-tooltip {
  .draw-tooltip(@tooltip-width, @tooltip-height, @tooltip-background-color, @tooltip-text-color, @tooltip-border, @tooltip-border-radius);
  &:after {
    .tooltip-draw-arrow();
  }
  &:before {
    content: "The 3-digit or 4-digit number on usually printed on the back of your card";
  }

  & .tc-caret {
    background-image: @icon-close-tooltip;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 1;

  }

  & .tc-tooltip-text {
    padding: 24px;
    font-family: @tooltip-font-family;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0px;

  }
}