/**
 * @license
 * Copyright 2015-2016 TIBCO Inc. All Rights Reserved.
 */

 .tc-radio-buttons {
	position: relative;
	width: @radiobutton-width;
	height: @radiobutton-height;
  	& label {
	    width: @radiobutton-label-width;
	    height: @radiobutton-label-width;
	    cursor: @radiobutton-cursor-hover;
	    position: absolute;
	    top: @value-zero;
	    left: @value-zero;
	    border-style: solid;
	    border-width: @radiobutton-borders-width;
	    &:after {
			content: '';
			position: absolute;
			border-color: @radiobutton-borders-color-aftr;
			border-width: @radiobutton-borders-width-aftr;
			border-style: solid;
	    }
	    & span {
	    	font-family: @radiobutton-font-family;
 			font-weight: @radiobutton-font-weight;
	    	position: absolute;
	    	top: @value-zero;
	    	left: @radiobutton-label-width;
	    }
  	}
	& input[type=radio] {
	    visibility: hidden;
	    &:checked + label:after {
	      opacity: @radiobutton-selected-label-opacity-aftr;
	    }
	}
 }