extends ./_layout/new.jade

block content
    div.landing-bg
        div.container
            div.welcome
                p.tibco-ux TIBCO UX
                h1(id='1-PatternLibrary').ui-library Pattern Library
                div.mashling
                    a(href="/updates/index.html").version version 1.1.0 Feb. 2018
                    div.mashy
                img.flogo(src="/assets/img/flogo-img.png")

            div.flex-container
                div.card.left
                    div.card-img#dev
                    div.card-details
                        p.card-title Development
                        p.card-description Howdy! Here’s where you can get all the components and instructions for implementing a stellar UI.
                        a("href"="/components")
                            button.tc-buttons-secondary Get started
                div.card.right
                    div.card-img#design
                    div.card-details
                        p.card-title Design
                        p.card-description These guidelines show how to consistently apply color typography, page layout, spacing, and grids. You’ll also find some helpful file downloads.
                        a("href"="/design")
                            button.tc-buttons-secondary Stay gold

                div.card.left
                    div.card-img#copy
                    div.card-details
                        p.card-title Copy
                        p.card-description These guidelines can help you choose the right words to keep communication clear, friendly, and easy to understand.
                        a("href"="/copy")
                            button.tc-buttons-secondary Say it right
                div.card.right
                    div.card-img#process
                    div.card-details
                        p.card-title Working with UX
                        p.card-description Want to kick off a project? This is your guide to getting it done right and receiving the seal of approval from the TIBCO UX Department.
                        a("href"="/work")
                            button.tc-buttons-secondary Work with UX
            include ../_includes/footer
