<!--author:rodrigo-->
<div>
    <div class="tc-notifications tc-notifications-error">
        <!--<button class="tc-notifications-close">×</button>-->
        <span class="tc-error-close"></span>
        <div class="tc-notifications-message">App failed to push.</div>
    </div>
</div>