-if(category.displayContent)
    section(id=category.id)
        h1.page-header #{category.title}
        div.uipsite-section-container
            -if(category.components)
                each comp in category.components
                    include ../_includes/component
        //div.uipsite-section-description !{category.description}
