header.uipsite-header
    nav.navbar.navbar-default
        div.container-fluid
            div.navbar-header
                button(type="button", data-toggle="collapse", date-target="#"+header.id, aria-expanded="false").navbar-toggle.collapsed
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                    //a(href=root + header.brand.href).navbar-brand.mynav
                    //    img(src='../../assets/img/uxpl-logo.png')
                a(href=root+header.brand.href).navbar-brand.mynav
            div(id=header.id).collapse.navbar-collapse.mynav
                ul.nav.navbar-nav
                    each item in header.items
                        li
                            a(href=root+item.href) #{item.title}