head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title TIBCO UX Pattern Library
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', type='image/png', href='/assets/img/logo-uxpl.png')
    script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-108938042-1')
    script(src='/assets/js/analytics.js')
    each style in head.styles
        link(rel='stylesheet', href=root+style)