<!--author:rodrigo-->
<div>
    <div class="tc-notifications tc-notifications-success">
        <span class="tc-success-close"></span>
        <div class="tc-notifications-message">Invitations have been resent</div>
    </div>
</div>