<!--author:rodrigo-->
<div>
    <div class="tc-notifications tc-notifications-info">
        <span class="tc-info-close"></span>
        <div class="tc-notifications-message">New VPN connection detected.</div>
    </div>
</div>