<!--author:blithexu-->
<!--author:robert-->
<!--author:daquino-->
<!--author:rodrigo-->
<!--author:sgomez-->
<nav class="navbar navbar-default tc-header container">

    <div class="navbar-header">
        <a class="navbar-brand" href="#"><i class="tc-header-logo"></i></a>
    </div>

    <div class="collapse navbar-collapse tc-header-navbar-collapse">

        <ul class="nav navbar-nav tc-header-navbar-nav">
            <li class="tc-header-navbar-main-link active"> <a href="#">Global Navigation</a> </li>
            <li> <a href="#">Link 1</a> </li>
            <li> <a href="#">Link 2</a> </li>
        </ul>

        <ul class="nav navbar-nav navbar-right tc-header-navbar-nav tc-header-navbar-right">
            <li class="tc-header-right-noborder"> <a href="#">Link 3</a> </li>
            <li class="tc-header-right-noborder"> <a href="#">Link 4</a> </li>
            <li class="tc-header-search-image"></li>
            <li>
                <div class="tc-header-question-image"></div>
            </li>
            <li class="dropdown tc-header-user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    User
                    <div class="tc-header-inline-block"><span class="caret"></span></div>
                </a>
                <ul class="dropdown-menu">
                    <li> <a href="#">My Profile</a> </li>
                    <li role="separator" class="divider"></li>
                    <li> <a href="#" >Logout</a> </li>
                </ul>
            </li>
        </ul>

    </div>
</nav>
