/**
 * @license
 * Copyright 2015 TIBCO Inc. All Rights Reserved.
 */

.tc-buttons-secondary {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@colors-secondary, @color-button-second-background, @color-button-second-border,
          @colors-primary-font, @colors-active, @colors-disable, @buttons-secondary-background-color,
          @colors-active, @buttons-secondary-border-disabled);
  .draw-button(@buttons-border-width);
  font-weight: @font-weight-normal;
  &:hover {
    .button-variant(@color-button-second-hover, @color-button-second-background, @color-button-second-hover-border);
  }
  &:active {
    .button-variant(@color-button-second-active, @color-button-second-background, @color-button-second-active-border);
    box-shadow: @color-button-second-box-shadow;

  }
}

.tc-buttons-second-disabled {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@colors-primary-new, @color-button-second-background, @colors-primary-new,
          @colors-primary-font, @colors-active, @colors-disable, @buttons-secondary-background-color,
          @colors-active, @buttons-secondary-border-disabled);
  .draw-button(@buttons-border-width);
  font-weight: @font-weight-normal;

  opacity: 0.5;
}

.tc-buttons-second-active {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@color-button-second-active, @color-button-second-background, @color-button-second-active-border);
  .draw-button(@dropdown-borders-width);
  .button-border-box-shadow(@color-button-second-hover-border);
  font-weight: @font-weight-normal;

  //box-shadow: @color-button-second-box-shadow;
}

.tc-buttons-second-hover {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@color-button-second-hover, @color-button-second-background, @color-button-second-hover-border);
  .draw-button(@dropdown-borders-width);
  font-weight: @font-weight-normal;

}

.tc-buttons-secondary-focused {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@colors-secondary, @color-button-second-background, @colors-primary,
          @colors-primary-font, @colors-active, @colors-disable, @buttons-secondary-background-color,
          @colors-active, @buttons-secondary-border-disabled);
  .draw-button(@buttons-border-width-focus);
  box-shadow: 0px 0px 3.7px 3.2px @colors-primary-focus;
  font-weight: @font-weight-normal;

}