<!--author:blithexu-->
<!--author:robert-->
<!--author:daquino-->
<div class="tc-table-responsive">
  <table class="table tc-tables tc-table tc-table-hover">
    <thead>
      <tr>
        <th class="c1">
          <div class="tc-checkboxes tc-checkbox">
            <input type="checkbox" value="None" id="tc_checkbox_select_all" name="tc_checkbox_select_all" class="tc-table-checkbox-select-all"/>
            <label for="tc_checkbox_select_all"></label>
          </div>
        </th>
        <th class="c2 cell-space-nowrap">API name</th>
        <th class="c3">Version</th>
        <th class="c4">Description</th>
        <th class="c5 cell-space-nowrap">Last modified</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="tc-checkboxes tc-checkbox">
            <input type="checkbox" value="None" id="tc-checkbox-1" name="tc-checkbox-1"/>
            <label for="tc-checkbox-1"></label>
          </div>
        </td>
        <td class="cell-space-nowrap">New Uber API</td>
        <td>1.0.0</td>
        <td>Move your app forward with the Uber API</td>
        <td class="cell-space-nowrap">1/27/2016 1:17 AM</td>
      </tr>
      <tr>
        <td>
          <div class="tc-checkboxes tc-checkbox">
            <input type="checkbox" value="None" id="tc-checkbox-2" name="tc-checkbox-2"/>
            <label for="tc-checkbox-2"></label>
          </div>
        </td>
        <td class="cell-space-nowrap">Sample API 01</td>
        <td>1.0.0</td>
        <td>Description of API 01</td>
        <td>1/27/2016 1:17 AM</td>
      </tr>
      <tr>
        <td>
          <div class="tc-checkboxes tc-checkbox">
            <input type="checkbox" value="None" id="tc-checkbox-3" name="tc-checkbox-3"/>
            <label for="tc-checkbox-3"></label>
          </div>
        </td>
        <td>Sample API 02</td>
        <td>1.0.0</td>
        <td>Description of API 02</td>
        <td>1/27/2016 1:17 AM</td>
      </tr>
      <tr>
        <td>
          <div class="tc-checkboxes tc-checkbox">
            <input type="checkbox" value="None" id="tc-checkbox-4" name="tc-checkbox-4"/>
            <label for="tc-checkbox-4"></label>
          </div>
        </td>
        <td>Sample API 03</td>
        <td>1.0.0</td>
        <td>Description of API 03</td>
        <td>1/27/2016 1:17 AM</td>
      </tr>
    </tbody>
  </table>
</div>