<div class="tc-toggle-div">
    <p class="tc-toggle-text">True/False</p>
    <label class="tc-toggle">
        <input type="checkbox" checked>
        <span class="slider round"></span>
    </label>
</div>