extends ./basic

block content
    div.container-fluid.main-content
        div.row
            div.parentLoader
                div.loader
                div.loadtext Sending
            div.col-md-3.left-nav-menu
                include ../_includes/nav
            div.col-md-9
                block rightContent