//
   Created by hede on 12/8/2017.

doctype html
html.no-js

    include ../_includes/head

    body
        include ../_includes/header

        block content
            p put your content

        include ../_includes/scripts
