.tc-table {
  & > thead > tr > th {
    border-bottom: @table-header-borders-width @table-header-borders-style @table-borders-color;
  	.tc-table-row-typo-variant(@table-header-font-family; @table-header-font-size; 
      @table-header-font-weight; @table-header-font-color; @table-header-line-height);
    .tc-table-checkboxes;

    &.c1{
      width:40px;
    }
    &.c3{
      width:60px;
    }

    @media (max-width: 700px) {
      &.c2{
        width:120px;
      }
      &.c4{
        width:220px;
      }
      &.c5{
        width:120px;
      }
    }
    @media (min-width: 700px) and (max-width: 1360px) {
      &.c2{
        width:150px;
      }
      &.c4{
        width:350px;
      }
      &.c5{
        width:150px;
      }
    }
  }
  & > tbody > tr > td {
    text-align: left;
    border-top: none;
    vertical-align: middle;
    border-bottom: @table-row-borders-width @table-row-borders-style @table-borders-color;
  	.tc-table-row-typo-variant(@table-row-font-family; @table-row-font-size; 
      @table-header-font-weight; @table-row-font-color; @table-row-line-height);
    .tc-table-checkboxes;
  }
  &.tc-table-hover {
		> tbody > tr:hover {
			background-color: @table-row-hover-bg-color;
		}
	}

  & .cell-space-nowrap {
    /*& > th, & > td {*/
      white-space: nowrap;
    /*}*/
  }
}
.tc-table-checkbox-select-all {};

.tc-table-responsive {
	@media screen and (max-width: @table-screen-xs-max) {
		border-color: @table-borders-color;
	}
}
