.tc-global-header {
  width: 100%;
  height: 40px;
  background-color: #062e79;
  top: 0;
  position: fixed;
  z-index: 9999;
  width: 100%;

  .header-logo {
    padding-left: 24px;
    float: left;
    background:url('../img/tibco-cloud-sample-tenant.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100%;
    width:30%;
  }
  .header-icon {
    padding-left: 24px;
    float: right;
    padding-top: 8px;
  }
  .profile-name {
    width: 92px;
    height: 14px;
    opacity: 0.75;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    float: right;
    margin-right: 14px;
    margin-left: 14px;
    padding-top: 12px;
  }
}

.tc-container-background {
  display: none;
  height: 100%;
  width: 80%;
  left: 0;
  position: fixed;
  z-index: -9999;
  background-color: hsla(0, 0%, 44%, .75);
  top: 0;
  cursor: pointer;
}

.tc-panel-background {
  display: none;
  margin-top: 40px;
  height: 100%;
  right: 0;
  top: 0;
  min-width: 20%;
  width: 20%;
  position: fixed;
  z-index: 9999;
  background-color: hsla(0, 0%, 44%, .75);
}

.tc-panel-container {
  margin-top: 40px;
  height: 100%;
  right: 0;
  top: 0;
  min-width: 0;
  width: 0;
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  &.slide-in {
    min-width: 20%;
    width: 394px;
    transition: all .5s ease;
  }
  .tc-panel-content {
    display: none;
    &.active {
      display: block;
    }
  }
}

.tc-icon-tray {
  right: 0;
  width: 394px;
  min-width: 20%;
  height: 40px;
  top: 0;
  float: right;
  //position: fixed;
  z-index: -9999;

  background-color: #062e79;
  &.active {
    background-color: #fff;
    border-bottom: #052662 1px solid;
    .tc-global-header-nav {
      .tc-header-nav-item {
        position: relative;
        &.active {
          &:before {
            content: "";
            display: block;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #062e78;
            position: absolute;
            bottom: -22%;
            left: 9%;
          }
        }
        &.profile {
          background-image: url('../img/ic-profile-inactive.svg');
          &:hover {
            background-image: url('../img/ic-profile-hover.svg');
            .tc-profile-name {
              color: #0081cb;
            }
          }
          .tc-profile-name {
            color: #8197c0;
          }
          &.active {
            background-image: url('../img/ic-profile-active.svg');
            opacity: 1;
            .tc-profile-name {
              color: #062e79;
            }
          }
          :after {
            content: url('../img/ic-profile-hover.svg') url('../img/ic-profile-active.svg');
            width:0;
            height:0;
            display: none;
          }
        }
        &.notifications {
          background-image: url('../img/ic-notifications-inactive.svg');
          &:hover {
            background-image: url('../img/ic-notifications-hover.svg');
          }
          &.active {
            background-image: url('../img/ic-notifications-active.svg');
            opacity: 1;
          }
          &:after {
            content: url('../img/ic-notifications-hover.svg') url('../img/ic-notifications-active.svg');
            width:0;
            height:0;
            display: none;
          }
        }
        &.picker {
          background-image: url('../img/ic-product-picker-inactive.svg');
          &:hover {
            background-image: url('../img/ic-product-picker-hover.svg');
          }
          &.active {
            background-image: url('../img/ic-product-picker-active.svg');
            opacity: 1;
          }
          &:after {
            content: url('../img/ic-product-picker-hover.svg') url('../img/ic-product-picker-active.svg');
            width:0;
            height:0;
            display: none;
          }
        }
        &.help {
          background-image: url('../img/ic-help-inactive.svg');
          &:hover {
            background-image: url('../img/ic-help-hover.svg');
          }
          &.active {
            background-image: url('../img/ic-help-active.svg');
            opacity: 1;
          }
          &:after {
            content: url('../img/ic-help-hover.svg') url('../img/ic-help-active.svg');
            width:0;
            height:0;
            display: none;
          }
        }
        &.search {
          background-image: url('../img/ic-search-inactive.svg');
          &:hover {
            background-image: url('../img/ic-search-hover.svg');
          }
          &.active {
            background-image: url('../img/ic-search-active.svg');
            opacity: 1;
          }
          &:after {
            content: url('../img/ic-search-hover.svg') url('../img/ic-search-active.svg');
            width:0;
            height:0;
            display: none;
          }
        }
      }
    }
  }
  .tc-global-header-nav {
    margin: 0 3em 0 1.5em;
    list-style-type: none !important;
    cursor: pointer;
    display: table-row;
    position: relative;
    float: right;
    width: 97%;
    .tc-header-nav-item {
      display: table-cell;
      background-repeat: no-repeat;
      height: 2em;
      width: 2em;
      padding: 0.8em 3.2em 0 0;
      background-position: left 0.5em;
      opacity: 0.75;
      font-size: 1em;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0.3px;
      color: #fff;
      white-space: nowrap;
      position: relative;
      float: right;
      &.profile {
        margin-right: 4em;
        background-image: url('../img/ic-profile.svg');
      }
      &.notifications {
        background-image: url('../img/ic-notifications.svg');
      }
      &.picker {
        background-image: url('../img/ic-product-picker.svg');
      }
      &.help {
        background-image: url('../img/ic-help.svg');
      }
      &.search {
        background-image: url('../img/ic-search-header.svg');
      }
      .tc-profile-name {
        padding-left: 2em;
      }
    }
  }
}


