.tc-left-menu-collapsible {
    .tc-left-menu-options {
        height: 100%;
        background-color: transparent;
        z-index: 1;
        overflow-x: hidden;
        overflow-y: hidden;
        transition: 0.5s;
        float: left;
    }

    .tc-left-menu-options a.tc-left-menu-option {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        transition: 0.3s;
    }

    .tc-left-menu-toggle-icon-container {
        height: 100%;
        float: right;
        background-color: transparent;
        
        .tc-left-menu-toggle-icon {
            background-image: @menu-collapsible-toggle-arrow-icon;
            background-position: center center;
            background-repeat: no-repeat;
            vertical-align: middle;
            width: 14px;
            height:24px;
            transition: 0.3s;
            cursor: pointer;
        }
    }
}

.tc-left-menu-main-detail {
    transition: margin-left .5s;
    padding: 16px;
    float: right;
}

.tc-left-menu-options-opacity {}

.tc-left-menu-options-opacity-on {
    filter: alpha(opacity=50);
    opacity: 0.2;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opactiy .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.tc-left-menu-options-opacity-off {
    filter: alpha(opacity=50);
    opacity: 1;
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opactiy 1.5s ease-in-out;
    -ms-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;
    transition: opacity 1.5s ease-in-out;
}
