<!--author:harish-->
<div>
    <div class="tc-notifications tc-notifications-success">
        <div class="tc-notifications-message tc-details">Invitations have been resent to various team members <a>Details</a></div>
        <span class="tc-success-close"></span>
    </div>
</div>

<div class="tc-details-container">
    <div class="tc-details-sent">
        <h3>12 invitations sent</h3>
        <ul class="tc-details-list">
            <li>newgal22@company.com</li>
            <li>oldguy4@company.com</li>
            <li>newguy1@company.com</li>
            <li>newguy2@company.com</li>
            <li>newguy3@company.com</li>
            <li>newguy6@company.com</li>
            <li>newguy8@company.com</li>
            <li>newguy9@company.com</li>
            <li>newguy11@company.com</li>
            <li>newguy12@company.com</li>
            <li>newguy13@company.com</li>
            <li>newguy15@company.com</li>
        </ul>
    </div>
    <div class="line">
    </div>
    <div class="tc-details-notSent">
            <h3>3 invitations not sent</h3>
        <p>Invalid address</p>
            <ul class="tc-details-list active">

                <li>newguy3@company.com</li>
                <li>newguy7$@company.com</li>
            </ul>
        <p>Existing members</p>
        <ul class="tc-details-list">

            <li>newguy45@company.com</li>
            <li>newguy75@company.com</li>
        </ul>

        </div>
    </div>
