<!--&lt;!&ndash;author:harish&ndash;&gt;-->
<!--<div>-->
    <!--<div class="tc-notifications tc-notifications-success">-->
        <!--<span class="tc-success-close"></span>-->
        <!--<div class="tc-notifications-message tc-details">Invitation has been resent to various team members <a>Details</a></div>-->
    <!--</div>-->
<!--</div>-->