<!--author:blithexu-->
<!--author:robert-->
<!--author:daquino-->
<div class="tc-search">
<label class="tc-search-label" id="test">Country</label>
<div class="tc-text-areas tc-search-container">

  <input type='text' class="tc-search inputIcon" onfocus="focusFunction1(this)" placeholder="Search" onclick="" onblur="blurFunction1(this)" value=""/>
  <span class="tc-search-icon"></span>
</div>
</div>