extends ../_layout/left-nav-layout.jade

block rightContent
    div.container
        section
            .title Updates
            p Welcome to the UX Pattern Library (UXPL) Updates page. Check out what we’ve done recently to improve and extend the library and to fix issues.
            .blue-separator-line
            //- inject:updates
            h1 Version 1.1.0
            ul
               li This was released in February 2018.
               li UXPL is now available as a node module. The readme file explains how to include the private registry where UXPL is hosted and how to run npm install uxpl.
               li We’ve removed the dependency on Bootstrap and JQuery libraries.
               li We’re using a CI/CD pipeline to improve the release process.
               li Feedback from the Contact form now opens JIRA tickets and sends an email to the submitter. The email includes the ticket number, so you can track progress of your ticket.
               li A new Updates page keeps you informed about each release.
            .grey-separator-line
            h1 Version 1.0
            p In January 2018 we introduced the UXPL website, with the following features
            ul
               li Development. A set of downloadable components that you can include in your projects.
               li Design. Guidelines on how to consistently apply color typography, page layout, spacing, and grids.
               li Copy. Guidelines to help choose the right words for your UI, so you can keep communication clear, friendly, and meaningful.
               li Work with UX. Info on how your team can engage the UX team and get the TIBCO UX seal of approval for your project.
               li Contact. A form to send feedback or ask questions about the UXPL.
            //- endinject

