.tc-modal-large {
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    vertical-align: middle;
    border-radius: 3px;
    //background-color: #fafafa;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.33);
    border: solid 1px #d8d8d8;
    text-align: left;

  }

  /* Modal Content */
  .modal-content {
    position: relative;
    top:50%;
    left:50%;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 720px;
    //height: 617px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //-webkit-animation-name: animatebottom;
    //-webkit-animation-duration: 0.4s;
    //animation-name: animatebottom;
    //animation-duration: 0.4s
    //animation-name: slideInUp;slideInUp
    animation-name: slideInUp;
    animation-duration: 0.4s;
  }
  @keyframes slideInUp {
    from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }

    to {
      transform: translate3d(0, 0, 0);
    }
  }

  /* The Close Button */
  .close-new {
    float: right;
    width: 20px;
    height: 20px;
    object-fit: contain;
    background-image: @modal-close-icon;
    color: #221122;
    cursor: pointer;
  }

  /*
  .close:hover,
  .close:focus {
    //color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  */

  .modal-header {
    /*padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    */
    height: 68px;
    border-radius: 3px;
    background-color: #ffffff;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 24px;

    .modal-heading {
      width: 464px;
      height: 27px;
      font-family: @font-source-sans-pro-regular;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: 0.3px;
      text-align: left;
      color: #262626;
      display: inline-block;
    }
  }

  .modal-large-body {
    padding: 24px 2px 2px 24px;
    max-height: 360px;
    overflow: auto;
    margin-right: 4px;
    //& .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    //  width: 2px;
    //  //border: 1px solid red;
    .scrollBar();

  }

  .modal-footer {
    padding: 15px;
    line-height: 2.33;
    /*padding: 2px 16px;
    background-color: #5cb85c;
    color: white;*/
    text-align: right;
    height: 68px;
    border-radius: 3px;
    background-color: #ffffff;
    background-color: var(--white-four);
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .tc-modal-icon {
    float: left;
    background-image: @modal-alert-icon;
    width: 30px;
    height: 30px;
    //border: 1px solid red;
    object-fit: contain;
    background-position: @buttons-caret-background-position;
    background-repeat: @buttons-caret-background-repeat;
    margin-right: 16px;
  }

  #alert-message {
    display: block;
    float: left;
    width: 270px;
    // height: 20px;
    font-family: @font-source-sans-pro-regular;
    font-size: 16px;
    text-align: left;
    color: #d0021b;
  }
  #action-buttons > button {
    margin: 0px 13px;
    display: inline-block;
  }
  p {
    //border: 1px solid red;
    margin-top: 0px !important;
  }
}

.tc-modal-small {
  .modal-small {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    //background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

    //width: 720px;
    //height: 617px;
    border-radius: 3px;
    //background-color: #fafafa;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.33);
    border: solid 1px #d8d8d8;
    text-align: left;
  }

  /* Modal Content */
  .modal-content-small {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    top: 50%;
    left: 50%;
    width: 512px;
    height: 276px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: slideInUp;
    animation-duration: 0.3s;
  }

  /* Add Animation */

  /* The Close Button */
  .close-new-small {
    float: right;
    width: 20px;
    height: 20px;
    object-fit: contain;
    background-image: @modal-close-icon;
    color: #221122;
  }

  /*
  .close:hover,
  .close:focus {
    //color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  */

  .modal-header-small {
    /*padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    */
    height: 68px;
    border-radius: 3px;
    background-color: #ffffff;

    //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 24px;

    .modal-heading {
      width: 464px;
      height: 27px;
      font-family: @font-source-sans-pro-regular;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: 0.3px;
      text-align: left;
      color: #262626;
      display: inline-block;
    }
  }

  .modal-small-body {
    padding: 2px 2px 2px 24px;
    max-height: 360px;
    /*& .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
      width: 2px;
      //border: 1px solid red;
      height: 175px !important;
    }*/
  }

  .modal-footer {
    line-height: 2.33;
    /*padding: 2px 16px;
    background-color: #5cb85c;
    color: white;*/
    height: 68px;
    border-radius: 3px;
    background-color: #ffffff;
    background-color: var(--white-four);
    //box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.1);
    border-top: 0px;
  }
  .tc-modal-icon {
    float: left;
    background-image: @modal-alert-icon;
    width: 30px;
    height: 30px;
    //border: 1px solid red;
    object-fit: contain;
    background-position: @buttons-caret-background-position;
    background-repeat: @buttons-caret-background-repeat;
    margin-right: 16px;
  }

  .headerSmall {
    width: 464px;
    height: 48px;
    font-family: @font-source-sans-pro-regular;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #212121;
  }
  .contentSmall {
    width: 464px;
    height: 48px;
    font-family: @font-source-sans-pro-regular;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #212121;
  }
  #action-buttons1 > button {
    margin: 0px 13px;
    display: inline-block;
  }
  p.headerSmall {
    // border: 1px solid red;
    margin-top: 0px !important;
    .modal-small-section-variants(@modal-small-body-text-color, @modal-small-font-size, @font-weight-base, @modal-small-line-height, @modal-small-letter-spacing);
  }
  p.contentSmall {
    margin-top: 0px !important;
    .modal-small-section-variants(@modal-small-body-text-color, @modal-small-font-size, @modal-small-font-normal, @modal-small-line-height, @modal-small-letter-spacing);
  }
}