<!--author:daquino-->
<div class="tc-indicators">
	<div class="tc-indicators-card">
		<div class="tc-card-border-status-empty">
		<div class="tc-card-blank-space-status-empty top"></div>
			<div class="tc-indicators-circle-status-empty">
				<div class="tc-indicators-caret-up-status-empty"></div>
				<div class="info-quantity-instances"></div>
				<div class="tc-indicators-caret-down-status-empty"></div>
				<div class="tc-card-blank-space-status-empty left"></div>
				<div class="tc-card-blank-space-status-empty right"></div>
				<div class="tc-card-blank-space-status-empty bottom"></div>
				<div class="info-lbl-instances-status-empty">
					<span class="lbl-status-empty">Empty</span>
					<span class="display-hover-empty">Empty</span>
					<span class="lbl-acting-status-empty" hidden>Scaling...</span>
				</div>
			</div>
		</div>
	</div>
</div>