<!--author:daquino-->
<div class="tc-indicators">
	<div class="tc-indicators-card">
		<div class="tc-card-border-status-running">
		<div class="tc-card-blank-space-status-running top"></div>
			<div class="tc-indicators-circle-status-running">
				<div class="tc-indicators-caret-up-status-running"></div>
				<div class="info-quantity-instances"><span>2</span></div>
				<div class="tc-indicators-caret-down-status-running"></div>
				<div class="tc-card-blank-space-status-running left"></div>
				<div class="tc-card-blank-space-status-running right"></div>
				<div class="tc-card-blank-space-status-running bottom"></div>
				<div class="info-lbl-instances-status-running">
					<span class="lbl-status-running">Running</span>
					<span class="display-hover-running">Scale instances</span>
					<span class="lbl-acting-status-running" hidden>Scaling...</span>
				</div>
			</div>
		</div>
	</div>
</div>