<!--author:daquino-->
<div class="tc-indicators">
	<div class="tc-indicators-card">
		<div class="tc-card-border-status-stopped">
		<div class="tc-card-blank-space-status-stopped top"></div>
			<div class="tc-indicators-circle-status-stopped">
				<div class="tc-indicators-caret-up-status-stopped"></div>
				<div class="info-quantity-instances"><span>0</span></div>
				<div class="tc-indicators-caret-down-status-stopped"></div>
				<div class="tc-card-blank-space-status-stopped left"></div>
				<div class="tc-card-blank-space-status-stopped right"></div>
				<div class="tc-card-blank-space-status-stopped bottom"></div>
				<div class="info-lbl-instances-status-stopped">
					<span class="lbl-status-stopped">Stopped</span>
					<span class="display-hover-stopped">Start instances</span>
					<span class="lbl-acting-status-stopped" hidden>Scaling...</span>
				</div>
			</div>
		</div>
	</div>
</div>