<!--author:daquino-->
<div class="tc-indicators">
	<div class="tc-indicators-card">
		<div class="tc-card-border-status-error">
			<div class="tc-card-blank-space-status-error top"></div>
			<div class="tc-indicators-circle-status-error">
				<div class="tc-indicators-caret-up-status-error"></div>
				<div class="info-quantity-instances"><span>2/4</span></div>
				<div class="tc-indicators-caret-down-status-error"></div>
				<div class="tc-card-blank-space-status-error left"></div>
				<div class="tc-card-blank-space-status-error right"></div>
				<div class="tc-card-blank-space-status-error bottom"></div>
				<div class="info-lbl-instances-status-error">
					<span class="lbl-status-error">Error</span>
					<span class="display-hover-error">Scale instances</span>
					<span class="lbl-acting-status-error" hidden>Scaling...</span>
				</div>
			</div>
		</div>
	</div>
</div>