/**
 * @license
 * Copyright 2015-2016 TIBCO Inc. All Rights Reserved.
 */

.tc-checkbox {
	.checkbox-variant(
					#f9f9f9; @checkbox-borders-color;
		@checkbox-label-width-aftr; @checkbox-label-height-aftr;
		6px;12px;
		@checkbox-label-top; @checkbox-label-left; 
		@value-zero; @checkbox-label-opacity-hover-aftr);
	font-size: @checkbox-font-size;
	line-height: @checkbox-line-height;
	letter-spacing: @checkbox-letter-spacing;


}
.tc-checkbox-grey {
	.checkbox-variant(
					@checkbox-fill-color; @checkbox-borders-color;
					@checkbox-label-width-aftr; @checkbox-label-height-aftr;
					7px;15px;
					@checkbox-label-top; @checkbox-label-left;
					@value-zero; @checkbox-label-opacity-hover-aftr);
	background-color: @checkbox-grey-background-color;
	text-align: @checkbox-grey-text-align;

	font-size: @checkbox-font-size;
	line-height: @checkbox-line-height;
	letter-spacing: @checkbox-letter-spacing;

	#tc-checkbox {
		padding: @checkbox-padding;
	}
}


