<!--author:sravani-->
<div class="tc-switch-div">
    <p class="tc-switch-text">True/False</p>
    <label class="switch-text">
        <input type="checkbox">
        <span class="slider-text round-text"><span class="enable">Monthly Plan</span><span class="disable">Annual Plan</span></span>

        <!--<div class="slider-text round-text">-->
            <!--&lt;!&ndash;ADDED HTML <span class="on">ON</span><span class="off">OFF</span>END&ndash;&gt;-->
        <!--</div>-->
    </label>
</div>