<!--author:sravani-->
<div class="tc-switch-div">
    <p class="tc-switch-text">Toggle text hover</p>
    <label class="switch-text-hover">
        <input type="checkbox">
        <span class="slider-text round-text"><span class="enable">Monthly Plan</span><span
                class="disable">Annual Plan</span></span>

    </label>
</div>