<div class="tc-checkbox-new-checked">
    <input type="checkbox" id="checkbox-2-1" class="regular-checkbox"><label for="checkbox-2-1"></label>
    <label class="tag" for="checkbox-2-1">Checked</label>
</div>