<div class="tc-checkbox-new">
    <input type="checkbox" id="checkbox-1-1" class="regular-checkbox"><label for="checkbox-1-1"></label>
    <label class="tag" for="checkbox-1-1">Default</label>
</div>

