/**
 * @license
 * Copyright 2015 TIBCO Inc. All Rights Reserved.
 */
.tc-button-icon-text {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@colors-primary-font, @colors-primary-new, @colors-primary-font, @colors-primary-font, @colors-primary-new, @colors-primary-font, @colors-disable-new, @colors-primary-new, @colors-disable-new);
  .round-borders;
  .draw-button(@dropdown-borders-width);

  //font-size: 16px;
  //font-weight: 600;
  //color: #ffffff;
  & .tc-button-icon-text-title {
    display: @buttons-dropdown-title-display;
  }
  & .tc-icon {
    margin-right: @button-icon-margin-right;
    background-image: @icon-button-text;
    display: @buttons-caret-display;
    height: @buttons-caret-height;
    vertical-align: @buttons-caret-vertical-align;
    width: @button-caret-width;
    background-size: @button-icon-bg-img-size;
    background-position: @buttons-caret-background-position;
    background-repeat: @buttons-caret-background-repeat;
  }
  &:hover {
    .button-variant(@buttons-primary-color, @colors-primary-hover-background, @color-primary-hover-border);
  }
  &:active {
    .button-variant(@buttons-primary-color, @colors-primary-active-background, @color-primary-active-border);
    border: solid 1px #0075ff;
    box-shadow: inset 0 0 0 2px #0075ff;
  }
}

.tc-button-icon-text-disabled {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@buttons-primary-color,@colors-primary-new,@color-button-dissable-border);
  .draw-button(@dropdown-borders-width);
  & .tc-icon {
    background-image: @icon-button-text;
    display: @buttons-caret-display;
    height: @buttons-caret-height;
    vertical-align: @buttons-caret-vertical-align;
    width: @button-caret-width;
    margin-right: @button-icon-margin-right;
    background-size: @button-icon-bg-img-size;
    background-position: @buttons-caret-background-position;
    background-repeat: @buttons-caret-background-repeat;
  }
  opacity: 0.35;
}

.tc-button-icon-text-active {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@buttons-primary-color, @colors-primary-active-background, @color-primary-active-border);
  .draw-button(@dropdown-borders-width);
  & .tc-icon {
    background-image: @icon-button-text;
    display: @buttons-caret-display;
    height: @buttons-caret-height;
    vertical-align: @buttons-caret-vertical-align;
    width: @button-caret-width;
    margin-right: @button-icon-margin-right;
    background-size: @button-icon-bg-img-size;
    background-position: @buttons-caret-background-position;
    background-repeat: @buttons-caret-background-repeat;
  }
}

.tc-button-icon-text-hover {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@buttons-primary-color, @colors-primary-hover-background, @color-primary-hover-border);
  .draw-button(@dropdown-borders-width);
  & .tc-icon {
    background-image: @icon-button-text;
    display: @buttons-caret-display;
    height: @buttons-caret-height;
    vertical-align: @buttons-caret-vertical-align;
    width: @button-caret-width;
    margin-right: @button-icon-margin-right;
    background-size: @button-icon-bg-img-size;
    background-position: @buttons-caret-background-position;
    background-repeat: @buttons-caret-background-repeat;
  }
}
