.tc-table-responsive{
	width:100%;
}
.tc-tables {
	& > tfoot {
		& > tr {
			& > th,
			& > td {
				border-top-color: @table-borders-color;
			}
		}
	}
	& > tbody + tbody {
		border-top-color: @table-borders-color;
	}

	.tc-table-row-variant(checked; @table-row-checked-bg-color; @table-row-font-color);
	.tc-table-row-variant(selected; @table-row-active-bg-color; @table-row-font-active-color);
}

.tc-table-checkboxes {
	& > div.tc-checkboxes {
		display: @table-checkbox-display;
		top: @table-checkbox-top;
		width: @table-checkbox-width;
		height: @table-checkbox-height;
		& > input[type=checkbox] {
			visibility: hidden;
			&:checked + label:after {
				opacity: @checkbox-checked-label-opacity-aftr;
			}
		}
		&.tc-checkbox {
			.checkbox-variant(
				@table-checkbox-fill-color; @table-checkbox-borders-color; 
				@checkbox-label-width-aftr; @checkbox-label-height-aftr;
							@value-zero;@value-zero;

							@checkbox-label-top; @checkbox-label-left;
				@value-zero; @checkbox-label-opacity-hover-aftr);
			-webkit-box-shadow: @table-checkbox-shadow;
			-moz-box-shadow: @table-checkbox-shadow;
			box-shadow: @table-checkbox-shadow;   
			& label {
				width: @table-checkbox-width;
				height: @table-checkbox-height;
				border-width: @table-checkbox-borders-width;
				border-color: @table-checkbox-borders-color;
				border-radius: @table-checkbox-borders-radius;
				&:after {
					width: @table-checkbox-label-width;
					height: @table-checkbox-label-height;
					top: @table-checkbox-label-top;
					left: @table-checkbox-label-left;
					border-width: @table-checkbox-label-border-width;
					border-color: @table-checkbox-label-color;
				}
			}
		}
	}
}