<!--author:robert-->
<!--author:daquino-->
<!--author:blithexu-->
<style>
	.demo-checkbox-label-position {
		padding-top: 1px;
		padding-left: 5px;
	}
</style>
<div class="tc-checkboxes tc-checkbox-grey">
	<input type="checkbox" value="None" id="tc-checkbox" name="tc-checkbox-checked" />
	<label for="tc-checkbox"><span class="demo-checkbox-label-position">Checkbox</span></label>
</div>