.tc-calendar{
  font-family:@font-source-sans-pro-regular;
  
  .btn-default{
    color: @calendar-button-color;
    border-color:@calendar-background-color;
    font-size:@calendar-font-size;
    border-radius: @calendar-borders-zero;
    border-width: @calendar-borders-zero;
    padding: @calendar-borders-zero;
    margin: @calendar-borders-zero;
    background-color: @calendar-background-color;
    background-image:@calendar-background-image;
    -webkit-box-shadow: @calendar-box-shadow;
    box-shadow: @calendar-box-shadow;

    &.btn-sm{
      width:@calendar-day-box;

      &.pull-right{
        margin:@calendar-borders-zero;
      }

      .arrow-icons{
        content:@calendar-arrow-icons-content;
        display:@calendar-arrow-icons-display;
        width: @calendar-arrow-icons-width;
        height: @calendar-arrow-icons-height;
        border-right:@calendar-arrow-icons-borders;
        border-top: @calendar-arrow-icons-borders;
      }

      .glyphicon-chevron-left {
        &:before{
          .arrow-icons;
          -webkit-transform: @calendar-arrow-icons-transform-left;
          transform: @calendar-arrow-icons-transform-left;
          margin-left: @calendar-arrow-icons-margin;
        }
      }

      .glyphicon-chevron-right {
        &:before{
          .arrow-icons;
          -webkit-transform: @calendar-arrow-icons-transform-right;
          transform: @calendar-arrow-icons-transform-right;
          margin-right: @calendar-arrow-icons-margin;
        }
      }
    }

    .text-info, .text-muted{
      color: @calendar-button-color;
    }

    &:hover, &:focus, &:active{
      color: @calendar-button-color;
      background-color: @calendar-background-color-hover;
      border-radius: @calendar-borders-hover;
    }
  }
  small{
    display:@calendar-small-display;
  }
  strong{
    font-size: @calendar-font-size-title;
    font-weight: @calendar-font-weight;
    font-family: @font-source-sans-pro-regular;
  }

  .unique-date-span{
    border-radius: @calendar-date-radius;
    padding: @calendar-date-padding;
  }
  .selected button span{
    .unique-date-span;
    background-color:@calendar-color-selected;
  }
  .today button span{
    .unique-date-span;
    background-color: @calendar-background-color;
    border: @calendar-border-today; 
  }
  .in-range button span{
    background-color: @calendar-color-in-range;
    border-radius: @calendar-borders-zero;
    padding: @calendar-date-range-padding;
  }
}
