<!--&lt;!&ndash;author:ksripath&ndash;&gt;-->

<div class="dropdown tc-dropdown">
    <button class=" tc-buttons tc-buttons-dropdown " onclick="openDropDown(this)">
        <span class="tc-dropdown-title">Default</span>
        <span class="tc-caret"></span>
    </button>

    <ul class="dropdown-menu dropdown-list" aria-labelledby="dLabel">
        <li>Item1</li>
        <li>Item2</li>
        <li>Item3</li>
        <li>Item4</li>
        <li>Item5</li>
        <li>Item6</li>
        <li>Item7</li>
        <li>Item8</li>
        <li>Item9</li>
        <li>Item10</li>
        <li>Item11</li>
        <li>Item12</li>
    </ul>
</div>

<!--<span >Initial</span>-->