.form-group{
	display: inline-grid;
}
.tc-text-areas {
	width: @text-area-min-width;
	font-smoothing: @font-smoothing;
	-moz-font-smoothing: @font-smoothing;
	-webkit-font-smoothing: @font-smoothing;

}
#comment {
	height: @text-area-min-height;
}
#comment1 {
	height: @text-area-min-height;
}
.demo-text-area-label {
	text-align: left;
	& label {
		margin-bottom: 0px;
		width: 264px;
		height: 17px;
		opacity: 0.9;
		font-family: @font-source-sans-pro-regular;
		font-size: 13px;
		text-align: left;
		color: #212121;

	}
}
.demo-text-area-label-disabled {
	text-align: left;
	cursor: not-allowed;
	& label {
		margin-bottom: 0px;
		width: 264px;
		height: 17px;
		opacity: 0.9;
		font-family: @font-source-sans-pro-regular;
		font-size: 13px;
		text-align: left;
		color: #4f4f4f;

	}
	& .tc-text-area{
		color: @forms-disabled-color;
		border-color: #b6b6b6;
		cursor: not-allowed;
	}
}



.tc-text-area {
	color: @text-area-font-color;
	font-family: @text-area-font-family;
	font-size: @text-area-font-size;
	font-weight: @text-area-font-weight;
	border-radius: @text-area-borders-radius;
	border-color: @text-area-borders-color;

}

