<!--author:Harish-->

<div class="tc-forms">


    <!--<label class="tc-label" id="test">First Name</label>-->
    <div class="tc-form-div">
        <input type='text' class="tc-form" value="Robert" required/>

        <label class="place-holder">FirstName</label>

        <div class="tc-suggest">Full first name;no nicknames or initials</div>
    </div>


</div>


