<!--author:Harish-->
<div class="tc-forms ">
    <!--<label class="tc-label " id="test">Email Address</label>-->
    <div class="tc-form-div">
        <input type='text' class="tc-form tc-error" onclick="" value="Mangrob@yahoo" required/>
        <label>Email</label>
        <div class="tc-suggest tc-error">Address not valid</div>

    </div>
</div>