/**
 * @license
 * Copyright 2015-2016 TIBCO Inc. All Rights Reserved.
 */

 .tooltip {
 	font-family: @tooltip-font-family;
 	font-size: @tooltip-font-size;
 	font-weight: @tooltip-font-weight;
 	color: @tooltip-font-color;
 	& .tooltip-inner {
 		background-color: @tooltip-fill-color;
 		border-radius: @tooltip-border-radius;
		max-width: none;
		white-space: nowrap;
 	}
 	&.top {
 		.tooltip-arrow-variant(top);
 	}
 	&.right {
 		.tooltip-arrow-variant(right);
 	}
 	&.bottom {
 		.tooltip-arrow-variant(bottom);
 	}
 	&.left {
 		.tooltip-arrow-variant(left);
 	}
 }