extends ../_layout/left-nav-layout.jade

block rightContent
    div.container
        section
            .title Development
            //p.lead UI Pattern is a common Pattern library designed and used by TIBCO Cloud. The purpose of this project is to improve develop efficiency and consistency. UI Pattern is based on <a href="http://getbootstrap.com/">Bootstrap</a>, so all the features that Bootstrap provides, are also available in the UI Pattern.
            p This page contains everything a developer needs to implement our defined set of common components. CSS, Javascript and HTML are included.

            p Who is this for?
            p Developers - a complete toolset for implementing this common pattern library.
            p UX designers - to reference how elements should look and behave so that it matches.
            .blue-separator-line
            h1(id='1-GettingStarted') Getting Started
            p All the styles for the components exist in the tibco-cloud-ui-pattern.css and all the javascript for the components exist in tibco-cloud-ui-pattern.js .
            p To use components from the UI pattern library download the vendor folder below.

            <a href="../uxpl.zip" download>
            button.tc-buttons-secondary Download
            </a>
            .spacer-small
            p This includes the following styles and js from the vendor folder.
            pre
                code.markup
                    p.markup-paragraph
                        |&lt;link rel=&quot;stylesheet&quot; href=&quot;path/to/uxpl/css/tibco-cloud-ui-pattern.css&quot;&gt;
                        |&lt;script type=&quot;text/javascript&quot; src=&quot;path/to/uxpl/js/tibco-cloud-ui-pattern.js&quot;&gt;&lt;/script&gt;

            .spacer-small
            p Alternatively, you can also download UXPL as a node package from our private npm registry.
            p To download the package and use it follow the steps below.
            ol
                li Go to your project root folder. Set your npm registry to point to ours.
                pre.markup.codepen-button-enabled
                    code.markup
                        | npm set registry http://ux.tibco.com:5555
                li Now run the install command.
                pre.markup.codepen-button-enabled
                    code.markup
                        | npm install uxpl
                p If you want to download a specific version of uxpl you can append version number to npm install like this .
                pre.markup.codepen-button-enabled
                    code.markup
                        | npm install uxpl@1.1.0
                li Our registry has an uplink to npmjs so downloading other packages will still work. But, if you want to publish to npmjs after installing UXPL you can set back your npm registry to the default one.
                pre.markup.codepen-button-enabled
                    code.markup
                        | npm set registry https://registry.npmjs.org/
                li Once you have downloaded the package you can include it in your project using the following includes.
                pre
                    code.markup
                        p.markup-paragraph
                            | &lt;link rel=&quot;stylesheet&quot; href=&quot;node_modules/uxpl/css/tibco-cloud-ui-pattern.css&quot;&gt;
                            | &lt;script type=&quot;text/javascript&quot; src=&quot;node_modules/uxpl/js/tibco-cloud-ui-pattern.js&quot;&gt;&lt;/script&gt;
            .spacer-small
            //p If you want to use the files and not download the files you can use the CDN method to refer to this file. Prepend the files with http://ux.tibco.com (eg /vendor/bootstrap/css/bootstrap.css becomes http://ux.tibco.com//vendor/bootstrap/css/bootstrap.css)

            //p The location of uxpl folder and folder structure is listed below
            //figure
            //    pre
            //        code uxpl/
            //            |   |--dist/
            //            |       |-- vendor/
            //            |           |-- bootstrap/
            //            |               |-- css/
            //            |               |-- fonts/
            //            |               |-- js/
            //            |           |-- jquery/
            //            |               |-- css/
            //            |               |-- js/
            //            |           |-- uxpl/
            //            |               |-- css/
            //            |               |--fonts/
            //            |               |--img/
            //            |               |-- js
            //
            ////h1 Contribute
            ////p To get the repository follow these steps
            ////ol
            ////    li mkdir ui-pattern
            ////    li git clone https://git.tibco.com/git/product/tibcolnd.git -b ui-pattern --single-branch ui-pattern
            ////    li Run following commands in Command prompt.
            ////    li npm install
            ////    li gulp serve
            ////    li This will start the local server at http://localhost:5000/. go to following link to view components.
            ////    li http://localhost:5000/uxpl/components/index.html
            //p To add a component, the new files should be added to the component-src folder. As an example, here is the list of the files you would need to add for adding the primary button component listed <a href="http://localhost:5000/components/index.html#buttons-primary">here</a>
            //pre
            //    code uxpl/
            //        |   |-- src/
            //        |       |-- buttons/
            //        |           |-- primary/
            //        |               |-- snippets/
            //        |                   |-- primary.html  -- The actual markup for the button for different states
            //        |                   |-- primary-active.html
            //        |                   |-- primary-disabled.html
            //        |                   |-- primary-hover.html
            //        |               |-- buttons-primary.less  -- The styles associated with the button
            //        |           |-- buttons.js -- The javascript associated with buttons section
            //        |           |-- buttons.less -- The styles common to all buttons
            //        |           |-- readme.md -- Read me with the component description (optional)

            each category in categories
                include ../_includes/category
