<!--author:blithexu-->
<!--author:robert-->
<!--author:abalamma-->
<table class="tc-timer">
  <tbody>
    <tr class="text-center">
      <td>
        <a class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a class="btn btn-link"><span class="glyphicon glyphicon-chevron-up"></span></a>
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="form-group">
        <input style="width:50px;" type="text" class="form-control text-center" maxlength="2" value="10">
      </td>
      <td>:</td>
      <td class="form-group">
        <input style="width:50px;" type="text" class="form-control text-center" maxlength="2" value="52">
      </td>
      <td><button type="button" class="btn btn-default text-center">PM</button></td>
    </tr>
    <tr class="text-center">
      <td>
        <a class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a>
      </td>
      <td>&nbsp;</td>
      <td>
        <a class="btn btn-link"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
      <td></td>
    </tr>
  </tbody>
</table>