<!--author:robert-->
<!--author:daquino-->
<!--author:blithexu-->

<div class="form-group demo-text-area-label">
  <label for="comment">Note</label>
  <textarea class="form-control tc-text-areas tc-text-area" placeholder="" id="comment">My name is mud.</textarea>
</div>

