<div class="form-group demo-text-area-label-disabled">
    <label for="comment1">Note</label>
    <textarea class="form-control tc-text-areas tc-text-area" placeholder="" id="comment1" disabled>Text Area Disabled.</textarea>
</div>