<!--snippet: <div id="myModal" class="modal" >


    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-heading">Modal heading keep to 1 line
            </div>
            <span class="close"></span>

        </div>
        <div class="modal-body">
            <p>Two lines of text here with additional information. Can have more space to continue going.
            </p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Can have more space to continue going.
            </p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>




        </div>
        <div class="modal-footer">
            <span class="tc-modal-icon"></span>
            <div id="alert-message">Alert Message goes here</div>
            <div id="action-buttons">
                <button class="tc-buttons tc-buttons-borderless"><span>Cancel</span></button>
                <button class="tc-buttons tc-buttons-secondary"><span>Save draft</span></button>

                <button class="tc-buttons tc-buttons-primary"><span>Submit</span></button>

            </div>
        </div>
    </div>

</div>
snippet!-->


<!--<img src="/vendor/uxpl/img/largemodal.png" style="width:1200px;"/>-->
<!--<div style="margin-top:10px; float:left;">
    <button id="myBtn">Open Modal</button>
</div>-->
<div class="tc-modal-large">
    <div style="margin-top:10px; float:left;">
        <button type="button" class="btn-lg tc-buttons tc-buttons-primary-call" id="myBtn">Large Modal
        </button>
    </div>

    <div class="modal-overlay"></div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-heading">Modal heading keep to 1 line
                </div>
                <span class="close-new"></span>

            </div>
            <div class="modal-large-body">
                <p>Two lines of text here with additional information. Can have more space to continue going.
                </p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Can have more space to continue going.
                </p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
                <p>Two lines of text here with additional information. Also keep it short and sweet.</p>


            </div>
            <div class="modal-footer">
                <span class="tc-modal-icon"></span>
                <div id="alert-message">Alert Message goes here</div>
                <div id="action-buttons">
                    <button class="tc-buttons tc-buttons-borderless" id="cancelBtn"><span>Cancel</span></button>
                    <button class="tc-buttons tc-buttons-secondary"><span>Save draft</span></button>

                    <button class="tc-buttons tc-buttons-primary"><span>Submit</span></button>

                </div>
            </div>
        </div>

    </div>

</div>
<script>
    // Get the modal
    var modal = document.querySelector('#myModal');

    // Get the button that opens the modal
    var btn = document.querySelector("#myBtn");

    // Get the <span> element that closes the modal
    var span = document.querySelector(".close-new");

    var modalDialog = document.querySelector(".modal-content");
    var closeBtn = document.querySelector("#cancelBtn");//needs refactoring
    closeBtn.onclick = function () {
        modal.style.display = "none";
        showHideBodyScroll("auto");

    }

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
        showHideBodyScroll("hidden");
        modalDialog.style.marginTop = -(modalDialog.clientHeight / 2) + 'px';
        modalDialog.style.marginLeft = -(modalDialog.clientWidth / 2) + 'px';
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
        showHideBodyScroll("auto");

    }
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            showHideBodyScroll("auto");
        }
    }

    function showHideBodyScroll(value) {
        document.querySelector("body").style.overflow = value;

    }


</script>


