<!--snippet: <div id="myModal" class="modal" >


    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-heading">Modal heading keep to 1 line
            </div>
            <span class="close"></span>

        </div>
        <div class="modal-body">
            <p>Two lines of text here with additional information. Can have more space to continue going.
            </p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Can have more space to continue going.
            </p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>
            <p>Two lines of text here with additional information. Also keep it short and sweet.</p>




        </div>
        <div class="modal-footer">
            <span class="tc-modal-icon"></span>
            <div id="alert-message">Alert Message goes here</div>
            <div id="action-buttons">
                <button class="tc-buttons tc-buttons-borderless"><span>Cancel</span></button>
                <button class="tc-buttons tc-buttons-secondary"><span>Save draft</span></button>

                <button class="tc-buttons tc-buttons-primary"><span>Submit</span></button>

            </div>
        </div>
    </div>

</div>
snippet!-->


<!--<img src="/vendor/uxpl/img/largemodal.png" style="width:1200px;"/>-->
<!--<div style="margin-top:10px; float:left;">
    <button id="myBtn">Open Modal</button>
</div>-->
<div class="tc-modal-small">
    <div style="margin-top:10px; float:left;">
        <button type="button" class="btn-lg tc-buttons tc-buttons-primary-call" id="myBtn1">Small Modal
        </button>
    </div>
    <div id="myModal1" class="modal-small">

        <!-- Modal content -->
        <div class="modal-content-small">
            <div class="modal-header-small">

                <span class="close-new-small"></span>

            </div>
            <div class="modal-small-body">
                <p class="headerSmall">Modal heading asking for confirmation or making a statement—keep it short and
                    sweet
                </p>
                <p class="contentSmall">Two lines of text here with additional information. Also keep it short and
                    sweet.</p>


            </div>
            <div class="modal-footer">
                <div id="action-buttons1">

                    <button class="tc-buttons tc-buttons-borderless" id="cancelBtn1"><span>Cancel</span></button>

                    <button class="tc-buttons tc-buttons-primary"><span>Submit</span></button>

                </div>
            </div>
        </div>

    </div>

</div>
<script>
    // Get the modal
    var modalSmall = document.querySelector('#myModal1');

    // Get the button that opens the modal
    var btnSmall = document.querySelector('#myBtn1');

    // Get the <span> element that closes the modal
    var spanSmall = document.querySelector(".close-new-small");
    var modalSmallDialog = document.querySelector(".modal-content-small");

    var closeBtnSmall = document.querySelector("#cancelBtn1");//needs refactoring
    closeBtnSmall.onclick = function () {
        modalSmall.style.display = "none";
    }

    // When the user clicks the button, open the modal
    btnSmall.onclick = function () {
        modalSmall.style.display = "block";
        console.log("Dialog height" + modalSmallDialog.clientHeight / 2);
        modalSmallDialog.style.marginTop = -(modalSmallDialog.clientHeight / 2) + 'px';
        modalSmallDialog.style.marginLeft = -(modalSmallDialog.clientWidth / 2) + 'px';
    }

    // When the user clicks on <span> (x), close the modal
    spanSmall.onclick = function () {
        modalSmall.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modalSmall) {
            modalSmall.style.display = "none";
        }
    }


</script>


