<!--author:blithexu-->
<!--author:robert-->
<!--author:daquino-->
<div class="tc-input-icon-grp-size">
  <div class="tc-input-icon left-addon">
    <i class="add-icon-search"></i>
    <input type="text" class="tc-inputs tc-input-icon-control" value="Input with icon left"/>
  </div>
</div>