/**
 * @license
 * Copyright 2015 TIBCO Inc. All Rights Reserved.
 */

.tc-button-icon-text-secondary {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@colors-secondary, @color-button-second-background, @color-button-second-border,
          @colors-primary-font, @colors-active, @colors-disable, @buttons-secondary-background-color,
          @colors-active, @buttons-secondary-border-disabled);
  .draw-button(@buttons-border-width);
  font-weight: @font-weight-normal;

  font-weight: @font-weight-normal;
  //.round-borders;
  & .tc-caret {
    position: @button-icon-position_inherit;
    margin-right: @button-icon-margin-right;
    background-image: @icon-button-text-sec;
    display: @buttons-caret-display;
    height: @buttons-caret-height;
    vertical-align: @buttons-caret-vertical-align;
    width: @button-caret-width;
    background-size: @button-icon-bg-img-size;
    background-position: @buttons-caret-background-position;
    background-repeat: @buttons-caret-background-repeat;
  }
  &:hover {
    .button-variant(@color-button-second-hover, @color-button-second-background, @color-button-second-hover-border);
    font-weight: @font-weight-normal;

  }
  &:active {
    .button-variant(@color-button-second-active, @color-button-second-background, @color-button-second-active-border);
    box-shadow: @color-button-second-box-shadow;
    font-weight: @font-weight-normal;

  }
}

.tc-button-icon-text-secondary-disabled {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@colors-primary-new, @color-button-second-background, @colors-primary-new,
          @colors-primary-font, @colors-active, @colors-disable, @buttons-secondary-background-color,
          @colors-active, @buttons-secondary-border-disabled);
  .draw-button(@buttons-border-width);
  & .tc-caret {
    position: @button-icon-position_inherit;
    margin-right: @button-icon-margin-right;
    background-image: @icon-button-text-sec;
    display: @buttons-caret-display;
    height: @buttons-caret-height;
    vertical-align: @buttons-caret-vertical-align;
    width: @button-caret-width;
    background-size: @button-icon-bg-img-size;
    background-position: @buttons-caret-background-position;
    background-repeat: @buttons-caret-background-repeat;
  }
  opacity: 0.5;
}

.tc-button-icon-text-secondary-hover {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@color-button-second-hover, @color-button-second-background, @color-button-second-hover-border);
  .draw-button(@dropdown-borders-width);
  font-weight: @font-weight-normal;

  & .tc-caret {
    position: @button-icon-position_inherit;
    margin-right: @button-icon-margin-right;
    background-image: @icon-button-text-sec;
    display: @buttons-caret-display;
    height: @buttons-caret-height;
    vertical-align: @buttons-caret-vertical-align;
    width: @button-caret-width;
    background-size: @button-icon-bg-img-size;
    background-position: @buttons-caret-background-position;
    background-repeat: @buttons-caret-background-repeat;
  }
}

.tc-button-icon-text-secondary-active {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@color-button-second-active, @color-button-second-background, @color-button-second-active-border);
  .draw-button(@dropdown-borders-width);
  font-weight: @font-weight-normal;
  box-shadow: @color-button-second-box-shadow;

  & .tc-caret {
    position: @button-icon-position_inherit;
    margin-right: @button-icon-margin-right;
    background-image: @icon-button-text-sec;
    display: @buttons-caret-display;
    height: @buttons-caret-height;
    vertical-align: @buttons-caret-vertical-align;
    width: @button-caret-width;
    background-size: @button-icon-bg-img-size;
    background-position: @buttons-caret-background-position;
    background-repeat: @buttons-caret-background-repeat;
  }
}