<!--author:blithexu-->
<!--author:robert-->
<!--author:daquino-->
<footer class="tc-footer">
    <div class="container tc-footer-main">
        <ul class="pull-left list-inline tc-footer-left-panel">
            <li>
                <i class="tc-footer-logo"></i>
            </li>
            <li>
                <span class="tropos-main-footer-copyright ">Copyright (c) 2015-2016 TIBCO Software Inc. All rights reserved.</span>
            </li>
        </ul>

        <ul class="pull-right list-inline tc-footer-right-panel">
            <li>
                <a href="http://www.tibco.com/company/privacy-cma" target="_blank">Privacy Policy</a>
            </li>
            <li>
                <a href="http://cloudbeta.tibco.com" target="_blank">Beta Agreement</a>
            </li>
            <li>
                <a href="http://www.tibco.com/trademarks" target="_blank">Trademarks</a>
            </li>

        </ul>
    </div>
</footer>