/**
 * @license
 * Copyright 2015-2016 TIBCO Inc. All Rights Reserved.
 */
.tc-button-switch {
	display: @buttons-switch-display;
	min-width: @buttons-switch-width;
	height: @buttons-switch-height;
	position: relative;
	border: none;
	background: transparent;
	outline: none;
  	& label {
	    width: @buttons-switch-width;
	    height: @buttons-switch-height;
	    cursor: @buttons-switch-cursor-hover;
	    position: absolute;
	    top: @value-zero;
	    left: @value-zero;
	    border-style: solid;
	    border-width: @buttons-switch-borders-width;
	    &:after {
			content: '';
			position: absolute;
			border-width: @buttons-switch-borders-width-aftr;
			border-style: solid;
			border-radius: @buttons-switch-toggle-radius;
			//width: @buttons-switch-toggle-width;
			//height: @buttons-switch-toggle-width;
			top: @buttons-switch-label-top-aftr;
	    }
	    & span {
	    	font-family: @buttons-switch-font-family;
 			font-weight: @buttons-switch-font-weight;
	    	position: absolute;
	    	top: @value-zero;
	    	left: @buttons-switch-label-width;
	    }
  	}
	
	.button-switch-variant(
		@buttons-switch-fill-color-off; @buttons-switch-fill-color-off;
		@buttons-switch-borders-radius; @buttons-switch-toggle-color; 
		@buttons-switch-toggle-color; @buttons-switch-label-left; 
		@buttons-switch-toggle-opacity-aftr; @buttons-switch-label-opacity-hover-aftr);
	
	&.switch-on {
		.button-switch-variant(
			@buttons-switch-fill-color-on; @buttons-switch-fill-color-on; 
			@buttons-switch-borders-radius; @buttons-switch-toggle-color; 
			@buttons-switch-toggle-color; @buttons-switch-label-left-aftr; 
			@buttons-switch-toggle-opacity-aftr; @buttons-switch-label-opacity-hover-aftr);
	}
}
