/**
 * @license
 * Copyright 2017 TIBCO Inc. All Rights Reserved.
 */
//its a large pink button
.tc-buttons-large {
	font-smoothing: @font-smoothing;
	-moz-font-smoothing: @font-smoothing;
	-webkit-font-smoothing: @font-smoothing;
 	.button-size(@buttons-large-padding-vertical, @buttons-large-padding-horizontal, @buttons-large-font-size, @buttons-large-line-height, @buttons-radius);
	.button-variant(@colors-primary-font,@colors-large-bg,@colors-large-border);
	.round-borders;
 	.draw-button(@dropdown-borders-width);
	letter-spacing: @buttons-large-letter-spacing;
	font-size: @buttons-large-font-size ;
}


