/**
 * @license
 * Copyright 2015-2016 TIBCO Inc. All Rights Reserved.
 */
.tc-indicators {
	
	& .tc-indicators-card {
	    position: relative;
	    height: @indicators-card-height;
	    width: @indicators-card-width;
	    border-width: 1px;
	    border-style: solid;
	    border-color: transparent;
		&:hover {
			background-color: @colors-none;
		    border-style: solid;
		    border-width: 1px;
		    border-color: @indicators-card-border-color-non-selected;
		    -webkit-border-radius: @indicators-card-border-radius;
			-moz-border-radius: @indicators-card-border-radius;
			border-radius: @indicators-card-border-radius;
		}

		.tc-card-border-variant(running);
		.tc-card-border-variant(stopped);
		.tc-card-border-variant(error);
		.tc-card-border-variant(empty);

		.tc-card-blank-space-variant(running);
		.tc-card-blank-space-variant(stopped);
		.tc-card-blank-space-variant(error);
		.tc-card-blank-space-variant(empty);

		& .selected-stopped {
	    	.tc-card-selected(#0081cb);
		}
		& .selected-running {
	    	.tc-card-selected(#58a400);
		}
		& .selected-error {
	    	.tc-card-selected(#cb4f10);
		}
		& .selected-empty {
	    	.tc-card-selected(@indicators-card-border-color-non-selected);
		}

		& .tc-indicators-circle-status-empty {
			.tc-indicators-circle-base;
			.tc-indicator-circle-variant(
				#727272, #727272, #727272, @top-qty-lbl-empty, @top-desc-lbl, @right-qty-lbl, @right-desc-lbl, dotted);
			&:hover {
				cursor: auto;
			}
		  	.info-quantity-instances:after{
			  	content: '--';
			}
		}

		& .tc-indicators-circle-status-stopped {
			.tc-indicators-circle-base;
			.tc-indicator-circle-variant(
				#b5b5b5, #b5b5b5, #b5b5b5, @top-qty-lbl, @top-desc-lbl, @right-qty-lbl, @right-desc-lbl, solid);

            &.status-stopped-start {
                .tc-indicator-circle-variant(
                    #0081cb, white, #0081cb, @top-qty-lbl, @top-desc-lbl-ext, @right-qty-lbl, @right-desc-lbl, solid);
                background-color: blue;
                & .info-quantity-instances {
                    font-size: 22px;
                    top: @top-qty-lbl;
                }
            }

            &.status-stopped-scale {
                .tc-indicator-circle-variant(
                    #0081cb, #0081cb, #0081cb, @top-qty-lbl, @top-desc-lbl-ext, @right-qty-lbl, @right-desc-lbl, solid);
                background-color: transparent;
            }

            &.tc-circle-no-border {
                border-color: transparent;
            }
		}

		& .tc-indicators-circle-status-running {
			.tc-indicators-circle-base;
			.tc-indicator-circle-variant(
				#58a400, #58a400, #58a400, @top-qty-lbl, @top-desc-lbl, @right-qty-lbl, @right-desc-lbl, solid);

            &.status-running-scale {
                .tc-indicator-circle-variant(
                    @color-lbl-instances, @color-lbl-instances, @color-lbl-instances
                    , @top-qty-lbl, @top-desc-lbl-ext, @right-qty-lbl, @right-desc-lbl, solid);
            }

			&.status-to-running-scale{}

            &.tc-circle-no-border {
                border-color: transparent;
            }
		}

		& .tc-indicators-circle-status-error {
			.tc-indicators-circle-base;
			.tc-indicator-circle-variant(
				#cf4c00, #cf4c00, #cf4c00, @top-qty-lbl, @top-desc-lbl, @right-qty-lbl-err, @right-desc-lbl-err, solid);

            &.status-error-scale {
                .tc-indicator-circle-variant(
                    #cf4c00, #cf4c00, #cf4c00
                    , @top-qty-lbl, @top-desc-lbl, @right-qty-lbl-err
                    , @right-desc-lbl-err, solid);
            }

            &.status-to-error-scale{}

            &.tc-circle-no-border {
                border-color: transparent;
            }
		}

		& .tc-running-spinner {
		  width: @indicators-circle-diameter;
		  height:@indicators-circle-diameter;
		  &:after {
			.tc-base-scaling-spinner(@indicators-green-ic-scaling-spinner);
			top: -10px;
			right: -10px;
		  }
		}

		& .tc-stopped-spinner {
		  width: @indicators-circle-diameter;
		  height:@indicators-circle-diameter;
		  &:after {
			.tc-base-scaling-spinner(@indicators-blue-ic-scaling-spinner);
			top: -10px;
			right: -10px;
		  }
		}

		& .tc-error-spinner {
		  width: @indicators-circle-diameter;
		  height:@indicators-circle-diameter;
		  &:after {
			.tc-base-scaling-spinner(@indicators-red-ic-scaling-spinner);
			top: -10px;
			right: -10px;
		  }
		}

		& .tc-indicator-stopped-caret-up {
			.tc-indicator-caret-up(@indicators-caret-blue-arrow, @top-caret-up-arrow);
	    }

		& .tc-indicator-stopped-caret-down {
			.tc-indicator-caret-down(@indicators-caret-blue-arrow, @top-caret-down-arrow);
	    }

		& .tc-indicator-running-caret-up {
			.tc-indicator-caret-up(@indicators-caret-green-arrow, @top-caret-up-arrow);
	    }

		& .tc-indicator-running-caret-down {
			.tc-indicator-caret-down(@indicators-caret-green-arrow, @top-caret-down-arrow);
	    }

		& .tc-indicator-error-caret-up {
			.tc-indicator-caret-up(@indicators-caret-red-arrow, @top-caret-up-arrow);
	    }

		& .tc-indicator-error-caret-down {
			.tc-indicator-caret-down(@indicators-caret-red-arrow, @top-caret-down-arrow);
	    }

		& .tc-indicator-disabled-caret-up {
			.tc-indicator-caret-up(@indicators-caret-gray-arrow, @top-caret-up-arrow);
	    }

		& .tc-indicator-disabled-caret-down {
			.tc-indicator-caret-down(@indicators-caret-gray-arrow, @top-caret-down-arrow);
	    }

		& .inline-block-left {
			float: left;
			vertical-align: middle;
		}

		& .disabled {
			cursor: auto;
			pointer-events: none;
		}
	}

	& .tc-indicators-info-lbl-instances {
		color:#484848;
	}

	/*
	 * status: init, allrun, somerun, zerorun
	 */
	.tc-indicator-circle-status-variant(@fill-color, @border-style) {
		background-color: transparent;
		border-color: @fill-color;
		border-style: @border-style;
	}

	.tc-indicator-lbl-status-instances-variant(@color, @top, @right, @font-size) {
		background-color: transparent;
		position: absolute;
		color: @color;
		top: @top;
		right: @right;
		font-size: @font-size;
		white-space: normal;
		cursor: pointer;
		height: 35px;
		font-weight: normal;
		line-height: 1;
		letter-spacing: 0.8px;
		text-align: center;
		width: @desc-lbl-width-ext;
		.tc-card-border-bottom-radius();
	}

	.tc-indicator-lbl-quantity-instances-variant(@color, @top, @right) {
		position: absolute;
		right: @right-qty-lbl;
		top: @top;
		width: @indicators-card-width;
		height: 31px;
		font-size: 24px;
		font-weight: normal;
		text-align: center;
		color: @color;
    	background: transparent;
	}

	.info-lbl-instances-disabled {
		pointer-events: none;
		cursor: auto;
		color: gray;
		background-color: #F0F0F0;
	}

	.tc-indicator-circle-variant(
		@border-color, @qty-color, @color
			, @top-lbl-qty, @top-lbl-desc, @right-lbl-qty, @right-lbl-desc, @border-style) {
		.tc-indicator-circle-status-variant(@border-color, @border-style);
		& .info-lbl-instances-status-empty {
			.tc-indicator-lbl-status-instances-variant(
				@color, @top-lbl-desc, @right-lbl-desc, @indicators-lbl-font-size);
			.display-hover-empty {
				display: none;
				cursor: auto;
			}
			cursor: auto;
		}
		& .info-lbl-instances-status-running {
			.tc-indicator-lbl-status-instances-variant(
				@color, @top-lbl-desc, @right-lbl-desc, @indicators-lbl-font-size);
			& .display-hover-running {
				display: none;
			}
		}
		& .info-lbl-instances-status-error {
			.tc-indicator-lbl-status-instances-variant(
				@color, @top-lbl-desc, @right-lbl-desc, @indicators-lbl-font-size);
			& .display-hover-error {
				display: none;
			}
		}
		& .info-lbl-instances-status-stopped {
			.tc-indicator-lbl-status-instances-variant(
				@color, @top-lbl-desc, @right-lbl-desc, @indicators-lbl-font-size);
			& .display-hover-stopped {
				display: none;
			}
		}
		& .info-quantity-instances {
			.tc-indicator-lbl-quantity-instances-variant(
				@qty-color, @top-lbl-qty, @right-lbl-qty);
		}
		& .info-lbl-instances-ext {
			.tc-indicator-lbl-status-instances-variant(
				@color, @top-lbl-desc, @right-lbl-desc, @indicators-lbl-ext-font-size);
			&.disabled {
				.info-lbl-instances-disabled();
				border-color: @border-color;
				border-left-style: solid;
				border-right-style: solid;
				border-bottom-style: solid;
				border-bottom-width: 1px;
				border-top-style: none;
			}
			&.to-running-scale {
				.tc-card-border-bottom-radius();
				background-color: #58a400;
				color: @colors-none;
				padding-top: @padding-top-desc-lbl-ext;
				.to-scale-position;
			}
			&.to-stopped-scale {
				.tc-card-border-bottom-radius();
				background-color: #0081cb;
				color: @colors-none;
				padding-top: @padding-top-desc-lbl-ext;
				.to-scale-position;
			}
			&.to-error-scale {
				.tc-card-border-bottom-radius();
				background-color: #cb4f10;
				color: @colors-none;
				padding-top: @padding-top-desc-lbl-ext;
			    .to-scale-position;
			}
			&.to-empty-scale {
				.tc-card-border-bottom-radius();
				background-color: @colors-none;
				color: @colors-none;
				padding-top: @padding-top-desc-lbl-ext;
				.to-scale-position;
			}
			&.scaling {
				.tc-card-border-bottom-radius();
				background-color: transparent;
				color: @color;
				padding-top: 0;
			}

			.to-scale-position {
			    position: absolute;
			    height: 28px;
			    top: 79px;
			}
		}
	}

	.tc-indicators-circle-base {
		position: absolute;
		top: @indicators-circle-top;
		right: @indicators-circle-right;
		width: @indicators-circle-diameter;
		height:@indicators-circle-diameter;
		-webkit-border-radius: @indicators-circle-diameter / 2;
		-moz-border-radius: @indicators-circle-diameter / 2;
		border-radius: @indicators-circle-diameter / 2;
		border-width: @indicators-circle-border-width;
		&:hover {
			cursor: pointer;
		}
	}

	.tc-indicator-caret-up(@background-caret-narrow-icon, @top-caret) {
		.tc-indicator-caret;
		top: @top-caret;
		background-image: @background-caret-narrow-icon;
		transform:rotate(180deg);  -webkit-transform:rotate(180deg);
	}

	.tc-indicator-caret-down(@background-caret-narrow-icon, @top-caret) {
		.tc-indicator-caret;
		top: @top-caret;
		background-image: @background-caret-narrow-icon;
	}

	.tc-indicator-caret {
		position: absolute;
		display: inline-block;
		height: 24px;
		vertical-align: top;
		width: 82px;
		right: -12px;
		background-size: @indicators-caret-bg-img-size;
		background-position: center center;
		background-repeat: no-repeat;
		border: solid 1px transparent;
		cursor: pointer;
		&:hover {
			border-radius: 2px;
			background-color: #ffffff;
			border: solid 1px #dedede;
		}
	}

	.tc-card-selected(@border-color-card-selected) {
		.tc-card-shape-selected;
		border-color: @border-color-card-selected;
	}

	.tc-card-shape-selected {
		background: transparent;
		border-style: solid;
		border-width: 2px;
		-webkit-border-radius: @indicators-card-border-radius;
		-moz-border-radius: @indicators-card-border-radius;
		border-radius: @indicators-card-border-radius;
	    height: @indicators-card-height;
	    width: @indicators-card-width;
	    right: @right-qty-lbl;
	}

	.tc-card-border-bottom-radius {
		border-bottom-left-radius: @indicators-card-border-radius;
		border-bottom-right-radius: @indicators-card-border-radius;
		webkit-bottom-left-radius: @indicators-card-border-radius;
		webkit-bottom-right-radius: @indicators-card-border-radius;
	}

	.tc-base-scaling-spinner(@background-image) {
		position: absolute;
	  content: '';
	  animation: rotation 1s infinite linear;
		top: @indicators-circle-top;
		right: @indicators-circle-right;
		width: @indicators-spinner-diameter;
		height:@indicators-spinner-diameter;
		display: inline-block;
		vertical-align: top;
		background-image: @background-image;
		background-size: @indicators-spinner-diameter @indicators-spinner-diameter;
		background-position: center center;
		background-repeat: no-repeat;
		cursor: auto;
	}

	.tc-card-border-variant(@statusName) {
		& .tc-card-border-status-@{statusName} {
			&:not(.selected-@{statusName}):hover {
				.display-hover-@{statusName} {
					display: block;
				}
				.display-hover-empty {
				 	display: none;
				}
				.lbl-status-@{statusName} {
					display: none;
				}
				.lbl-status-empty {
				  	display: block;
				}
			}
		}
	}

	.tc-card-blank-space-variant(@statusName) {
		& .tc-card-blank-space-status-@{statusName} {
		    background: transparent;
		    border: none;
		    position: absolute;
			&:not(.selected-@{statusName}):hover {
				.lbl-status-@{statusName} {
					display: none;
				}
				.display-hover-@{statusName} {
					display: block;
				}
			}
			&.top {
			    top: 0px;
			    width: @indicators-card-width;
				height: @indicators-card-top-blank-space-height;
			    right: 0;				
			}
			&.bottom {
			    top: 59px;
			    width: @indicators-card-width;
			    height: 22px;
			    right: -17px;
			}
			&.left {
			    top: 45px;
			    width: 6px;
			    height: 18px;
			    right: 69px;
			}
			&.right {
				top: 45px;
		        width: 6px;
			    height: 18px;
			    right: -17px;
			}
		}
	}
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}