.tc-buttons-borderless {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, 0px);
  .button-variant(@colors-primary-new, @colors-none, @colors-none);
  .draw-button(@dropdown-borders-width);
  font-weight: @font-weight-normal;

  &:hover {
    .button-variant(@colors-primary-new-hover, @colors-none, @colors-none);
    font-weight: @font-weight-normal;

    box-shadow: @buttons-hover-box-shadow;
  }
  &:active {
    .button-variant(@colors-primary-new-hover, @colors-none, @colors-none);
    .draw-button(@dropdown-borders-width);
    box-shadow: @buttons-active-box-shadow;
    border: @buttons-active-border;
    font-weight: @font-weight-normal;

  }

}

.tc-buttons-borderless-disabled {
  .button-size(0px, 0px, @buttons-font-size, @buttons-line-height, 0px);
  .button-variant(@colors-primary-new, @colors-none, @colors-none);
  .draw-button(@dropdown-borders-width);
  font-weight: @font-weight-normal;

}

.tc-buttons-borderless-active {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@colors-primary-new-hover, @colors-none, @colors-none);
  .draw-button(@dropdown-borders-width);
  box-shadow: @buttons-active-box-shadow;
  border: @buttons-active-border;
  font-weight: @font-weight-normal;
}

.tc-buttons-borderless-hover {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@colors-primary-new-hover, @colors-none, @colors-none);
  .draw-button(@dropdown-borders-width);
  box-shadow: @buttons-hover-box-shadow;
  font-weight: @font-weight-normal;

}

.tc-buttons-borderless-disabled {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, 0px);
  .button-variant(@colors-primary-new, @colors-none, @colors-none);
  .draw-button(@dropdown-borders-width);
  font-weight: @font-weight-normal;

  opacity: 0.5;
}

.tc-buttons-borderless-focused {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height, @buttons-radius);
  .button-variant(@colors-primary-new, @colors-none, @colors-primary-focus);
  .draw-button(@buttons-border-width-focus);
  box-shadow: inset 0px 0px 1.7px 1.2px rgb(175, 217, 255), 0px 0px 1.7px 1.2px rgb(175, 217, 255);
  font-weight: @font-weight-normal;

}