.tc-buttons-borderless {
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height,0px);
  .button-variant(@colors-primary-new,@colors-none,@colors-none);
  .draw-button(@dropdown-borders-width);
  &:hover{
    .button-variant(@colors-primary-new-hover,@colors-none,@colors-none);

    box-shadow:@buttons-hover-box-shadow;
  }
  &:active{
    .button-variant(@colors-primary-new-hover,@colors-none,@colors-none);
    .draw-button(@dropdown-borders-width);
    box-shadow:@buttons-active-box-shadow;
    border: @buttons-active-border;

  }

}

.tc-buttons-borderless-disabled {
  .button-size(0px, 0px, @buttons-font-size, @buttons-line-height,0px);
  .button-variant(@colors-primary-new,@colors-none,@colors-none);
  .draw-button(@dropdown-borders-width);
}


.tc-buttons-borderless-active{
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal,@buttons-font-size, @buttons-line-height,@buttons-radius);
  .button-variant(@colors-primary-new-hover,@colors-none,@colors-none);
  .draw-button(@dropdown-borders-width);
  box-shadow:@buttons-active-box-shadow;
  border: @buttons-active-border;
}

.tc-buttons-borderless-hover{
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height,@buttons-radius);
  .button-variant(@colors-primary-new-hover,@colors-none,@colors-none);
  .draw-button(@dropdown-borders-width);
  box-shadow:@buttons-hover-box-shadow;
}
.tc-buttons-borderless-disabled{
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height,0px);
  .button-variant(@colors-primary-new,@colors-none,@colors-none);
  .draw-button(@dropdown-borders-width);
  opacity: 0.5;
}
.tc-buttons-borderless-focused{
  .button-size(@buttons-padding-vertical, @buttons-padding-horizontal, @buttons-font-size, @buttons-line-height,0px);
  .button-variant(@colors-primary-new,@colors-none,@colors-none);
  .draw-button(@buttons-border-width-focus);
  border-radius:3px;
  box-shadow: inset 0px 0px 1.7px 1.2px rgb(175,217,255), 0px 0px 1.7px 1.2px rgb(175,217,255);

}