<!--author:robert-->
<!--author:daquino-->
<!--author:blithexu-->
<!--<div class="dropdown tc-dropdown">
    <button class="dropdown-selector" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="tc-dropdown-title">Dropdown trigger</span>
        <span class="tc-caret"></span>
    </button>-->

    <div class="dropdown tc-dropdown">
    <button class="tc-buttons tc-buttons-dropdown" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="tc-dropdown-title">Default</span>
        <span class="tc-caret"></span>
    </button>

    <ul class="dropdown-menu dropdown-icon-list" aria-labelledby="dLabel">
        <li><a href="#">Item1</a></li>
        <li><a href="#">Item2</a></li>
        <li><a href="#">Item3</a></li>
        <li><a href="#">Item4</a></li>
        <li><a href="#">Item5</a></li>
        <li><a href="#">Item6</a></li>
        <li><a href="#">Item7</a></li>
        <li><a href="#">Item8</a></li>
        <li><a href="#">Item9</a></li>
        <li><a href="#">Item10</a></li>
        <li><a href="#">Item11</a></li>
        <li><a href="#">Item12</a></li>
    </ul>
</div>