<!--author:harish-->

<label class="tc-search-label " id="test">Country</label>
<div class="tc-search-containe tc-inline col-sm-12">
    <span class="tc-search-icon "></span>
    <input type='text' class="tc-search" onfocus="focusFunction1(this)" placeholder="Search" onclick="" onblur="blurFunction1(this)" value=""/>
    <span class="tc-caret "></span>
</div>