.tc-text-link{
  /*color: @text-link-color;*/
  font-smoothing: @font-smoothing;
  -moz-font-smoothing: @font-smoothing;
  -webkit-font-smoothing: @font-smoothing;
  font-size: 14px;
  color: #00a2ff;
  text-decoration:none;
}

.tc-text-link-active{
  /*color: @text-link-active-color*/;
  font-size: 14px;
  color: #0075ff;
  text-decoration: underline;
}

.tc-text-link-hover{
  text-decoration: underline;
  font-size: 14px;
  color: #0075ff;
}