/**
 * TIBCO Cloud UI Pattern - 'Buttons' category
 */
.tc-notifications {
  font-smoothing: @font-smoothing;
  -moz-font-smoothing: @font-smoothing;
  -webkit-font-smoothing: @font-smoothing;
  font-family: @font-source-sans-pro-regular;
  height: @notification-height;
  top: @notification-top;
  padding: @notification-padding;
  opacity: @notification-opacity;
  min-width: @notification-min-width;
  border-radius: @notification-border-radius;
  margin-top: @notification-margin-top;
  overflow: @notification-overflow;
  width: @notification-width;
  margin-left: @notification-margin-left;
  margin-right: @notification-margin-right;
  position: @notification-position;
  text-align: @notification-text-align;
  box-shadow: @notification-box-shadow;
  overflow: hidden !important;

  .tc-notifications-message {
    font-size: @notification-message-font-size;
    font-weight: @notification-message-font-weight;
    margin-left: @notification-message-margin-left;
    position: @notification-message-position;
    display: @notification-message-display;
    max-width: @notification-message-max-width;
    -ms-word-wrap: @notification-message-ms-word-wrap;
    word-wrap: @notification-message-word-wrap;
    padding: @notification-message-padding;
  }

  &:before {
    font-size: @notification-before-font-size;
    font-family: @notification-before-font-family;
    font-style: @notification-before-font-style;
    font-weight: @notification-before-font-weight;
    -webkit-font-smoothing: @notification-before-webkit-font-smoothing;
    position: @notification-before-position;
    top: @notification-before-top;
  }
  .tc-details {
    /* font-size: 14px ;*/

  }
  .tc-notifications-close {
    /* right: @notification-close-right;
     top: @notification-close-top;
     font-size: @notification-close-font-size;
     padding: @notification-close-padding;
     cursor: @notification-close-cursor;
     background: @notification-close-background;
     border: @notification-close-border;
     -webkit-appearance: @notification-close-webkit-appearance;
     position: @notification-close-position;
     font-weight: @notification-close-font-weight;
     opacity: @notification-close-opacity;
     float: @notification-close-float;*/
    display: @notification-close-display;
    width: @notification-close-width;
    height: @notification-close-height;
    background-size: @notification-close-background-size;
    background-image: @notification-close-background-image;
    background-position: @notification-close-background-position;
    background-repeat: @notification-close-background-repeat;
    float: @notification-close-float;

    &.toast-close-button {
      text-shadow: @notification-close-text-shadow;
    }
  }
}

#tc-notifications-container {

  position: @notification-container-position;
  z-index: @notification-container-z-index;
  top: @notification-container-top;
  left: @notification-container-left;
  transform: @notification-container-transform;
  width: @notification-container-width;
  div[class*="error"] {
    .tc-notifications-error;
  }
  div[class*="info"] {
    .tc-notifications-info;
  }
  div[class*="success"] {
    .tc-notifications-success;
  }
  div[class*="warning"] {
    .tc-notifications-error;
  }
}

//notification details with dropdown
.tc-details-container {
  margin-top: @notification-dropdown-margin-top;
  border-radius: @notification-dropdown-border-radius;
  height: @notification-dropdown-height;
  background-color: @notification-dropdown-background-color;
  box-shadow: @notification-dropdown-box-shadow;
  display: @notification-dropdown-display;
  flex-direction: @notification-dropdown-flex-direction;
  flex-wrap: @notification-dropdown-flex-wrap;
  padding-top: 20px;
  & .tc-details-list {
    list-style-type: @notification-dropdown-list-style-type;
    padding: 0;
    &.active {
      color: @notification-details-list-active-color;
    }
  }

  .tc-details-sent {
    flex-grow: @notification-details-sent-flex-grow;
    //border-right: @notification-details-sent-border-right;
    text-align: @notification-details-sent-text-align;
    padding-left: @notification-details-sent-padding-left;
    height: @notification-details-sent-height;
    overflow: auto;
    margin-right: 8px;
    .scrollBar();

    h3 {
      font-size: @notification-details-sent-font-size;
      font-weight: @notification-details-sent-font-weight;
      color: @notification-details-sent-color;

    }
  }
  .line {
    width: 2px;
    height: 100%;
    border: solid 1px #e5e5e5;
    background: #e5e5e5
  }
  .tc-details-notSent {
    text-align: @notification-details-notsent-text-align;
    padding-left: @notification-details-notsent-padding-left;
    flex-grow: @notification-details-notsent-flex-grow;
    h3 {
      font-size: @notification-details-notsent-font-size;
      font-weight: @notification-details-notsent-font-weight;

    }
  }
}

//.mCSB_outside + .mCSB_scrollTools {
//  right: @notification-scrollbar-right;
//}
//
//.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
//  background-color: @notification-scrollbar-background-color;
//  /* background-color:  red !important;*/
//  width: @notification-scrollbar-width;
//  height: @notification-scrollbar-height;
//
//}
//
//.mCSB_scrollTools .mCSB_draggerRail {
//  width: @notification-scrollbar-rail-width;
//  background-color: @notification-scrollbar-rail-background-color;
//}
