<!--author:rodrigo-->
<div>
    <div class="tc-notifications tc-notifications-warning">
        <span class="tc-warn-close"></span>
        <div class="tc-notifications-message">This is a warning.</div>
    </div>
</div>