extends ../_layout/left-nav-layout.jade

block rightContent
    div.container
        section
            .title Copy
            p Copy is all of the text associated with a product, including the text in the UI.
            p We encourage designers to follow copy and voice guidelines early (during wireframe creation) so product copy starts on the right foot from the beginning. Copywriters can work with you every step of the way.
            .blue-separator-line
            h1 Style and voice guidelines
            h2 User-focused
            p Good copy, like good design:
            ul
                li Puts the audience first
                li Considers the context (personas, product, workflow)
                li Is mindful of goals and motivations
                li Offers actionable information
                li Supports a consistent user experience within the product or line of products
            h2 Intentional
            p UI copy should sound like normal speech and help create a positive user experience that builds trust.
            .spacer-small
            div.inline-flex-div
                div
                    p Aim for:
                    ul
                    li Clear
                    li Concise
                    li Accurate
                    li Friendly
                    li Natural
                    li To-the-point

                .horizontal-spacer

                div
                    p Avoid:
                    ul
                    li Confusing
                    li Wordy
                    li Highly technical
                    li Condescending
                    li Formal
                    li Jargon-heavy
            .spacer-small
            p UI copy also needs to reflect industry trends. With the growth of mobile and cloud, newer UI copy styles tend to be increasingly informal:
            ul
                li Less use of title case
                li More use of a conversational and friendly tone
                li Less use of traditional punctuation (such as leaving off periods for short phrases in captions and lists)
                li Plenty of contractions
            p Style and voice can be product-specific. Because TIBCO offers different products for somewhat different audiences, a balance should be struck between consistency and the appropriate tone for a specific audience.
            .grey-separator-line
            h1 Style and voice examples
            h2 Active voice
            p In most cases, favor active voice over passive voice. Active voice tends to be more engaging and concise.
            p Original:
            p At least one image must be selected from the list.
            p Improved:
            p Select at least one image from the list.
            p Original:
            p Your URL and key are used by this demo to make a connection
            p Improved:
            p This demo uses your URL and key to make a connection
            .spacer-small
            h2 Concision
            p Make every word count. In most cases, less is best. That said, chatty or conversational copy can be appropriate in some interactions, even if it means extra words.
            p Original:
            p You can select a file by clicking the checkbox next to the file. Then choose a corresponding action from the drop-down menu.
            p No apps yet
            p Improved:
            p Select a file and choose an action.
            p You don’t have any apps yet. Get started by creating or uploading your apps.
            .spacer-small
            h2 Positivity
            p Use positive rather than negative phrasing where possible.
            p Original:
            p You can’t choose a password with fewer than six characters.
            p Don’t leave this page without saving your work.
            p Improved:
            p Choose a password with six or more characters.
            p Save your work before leaving this page.
            .spacer-small
            h2 Consistency
            p Use terminology consistently and define as needed. Avoid introducing unnecessary terms.
            p Original:
            p Add a task to the Creator process in Live Apps Designer.
            p Improved:
            p Add a task.
            .spacer-small
            h2 Please and sorry
            p Skip ‘please’ in typical instructions, but include it when the user is inconvenienced or must do something extra, as in error messages.
            p Original:
            p Please select team members to add to your flow.

            p Improved:
            p Select team members to add to your flow.
            p Original:

            p Values must be unique. Enter a different value.
            p Improved:

            p Values must be unique. Please enter a different value.
            p Don't use ‘sorry’ unless referring to a product limitation or failure.
            p Original:

            p Sorry, you must select an account before saving to the Projects page.
            p Improved:
            p Select an account before saving to the Projects page.
            p Original:

            p The system has encountered an error and needs to close.

            p Improved:

            p We’re sorry. The system has encountered an error and needs to close.

            .grey-separator-line
            h1 Copy guidelines
            p Here are some rules of thumb for creating copy. Some are stricter than others, but none are set in stone.
            h2 Capitalization (casing)
            p Almost everyone who writes has an opinion about capitalization - plus styles change over time.

            p Here’s our opinion...

            p
                strong Sentence case
                |  works best for most UI copy. That’s because sentence case is the most easily scanned. After all, people are used to reading sentences.

            p
                strong Title case
                |  (like for book and film titles) is good for main headers, or anything that feels like it should be a title.

            p
                strong Lowercase
                |  is the most informal and can feel stylish (but can also be overly cute).

            p
                strong All caps
                |  can provide visual contrast, but it is harder to scan, especially with long or multiple words.
            .spacer-small
            h2 Punctuation
            p Determining whether to use punctuation for short, stand-alone lines of UI copy can be subjective, and these guidelines can be flexible based on context and visual design. In any case, attempt to be consistent, at least within the given context.
            p Here are some punctuation guidelines.
            p Include a period at the end of most body text, instructions, and feedback messages. Brief imperatives can be an exception (‘Add x, y, or z’)
            p Adding a period at the end of a short phrase that’s prominent on the screen can be a visual design or style decision (‘Start here. Start now.’)
            p In general, don’t use a period at the end of titles, headers, headlines, subheads, or field labels. Use the serial comma (a, b, and c) unless it seems inappropriate in the context of a specific visual design.
            p Avoid use of quotation marks, unless it's to call out a term or phrase, such as a long field name, that would be difficult to understand in context without the quotes. Single quotes are fine in those situations, as they are more modern and minimalist looking.
            p Use exclamation points sparingly!
            p Avoid using semicolons; they tend to make the style more formal.
            p Avoid using colons within a sentence unless introducing a bullet or ordered list). Don't add a colon before a drop-down list, control, input box or field.
            p Ellipses are appropriate for progress messages or commands that open a dialog that requires further input ("Print...").
            .spacer-small
            h2 Pronouns
            p “My files” or “Your files”? Here’s what to do.
            p
                strong I, me, my, mine -
                |  Appropriate when the user is interacting with the product, like clicking a button or selecting a checkbox. For example, “I agree with the terms and conditions” or “Update my settings.”
            p
                strong You, your -
                |  Usually the right choice when the interface is talking to the user. Just imagine what a personal assistant might say. There are some exceptions to this rule; use your judgement on a case-by-case basis.
            p
                strong We, our, us -
                |  Avoid, unless it’s necessary to describe the company’s interaction with the user, or you want to involve the company in the interaction. ("Send us your comments. We love to hear from you.")

            p As a rule, avoid saying things like “My projects’ unless you need to distinguish it from ‘All projects’.
            .spacer-small
            h2 Contractions
            p It's generally fine to use contractions for a natural sound, but avoid it when doing so makes the text less clear.
            .spacer-small
            h2 Numbers
            p All numbers, even 1-9. can be presented as digits, rather than written out.
            .spacer-small
            h2 Font styles
            p Use bolding and italics sparingly. For example, don’t bold or italicize names of fields, products, etc.
            .spacer-small
            h2 Date and time
            p Try to be consistent with how you format dates and times, not only within a product but also across products. When possible, use natural language for dates and times. For example, “You updated this recipe a minute ago” or “Last saved yesterday by John Doe”.
            p When using a timestamp, show the month by name rather than by number and use the 12-hour clock. For example: 04 April 2016 2:12:48pm
            p Timestamps that are transformed to the user’s locale don’t need to include a timezone.
            .spacer-small
            h2 Field labels
            p Use sentence case and no periods. If how the user fills out the field isn’t obvious, consider some hint text ("ex: My first app" or "Examples: Order, Approval, Invoice").
            .spacer-small
            h2 Buttons and menu titles
            p Keep text short. If possible, try to keep the number of characters to 10 or fewer. This applies especially to all caps (it’s harder to scan long words or phrases in all caps).
            p If more phrases are required, consider using hyperlinks instead of buttons.
            p Try to begin with an active verb for button text (Create, Save, etc.).
            p An exception is Back and Next, which are standard paging control terms.
            p Use symbols, if appropriate, in place of text. Example: + New instead of Add new
            h2 Dialog boxes
            p Use natural phrasing in sentence case for dialog box titles ("Arrange your photos" rather than "Arrange photos"). This is a flexible guideline.
            p Button labels should relate to the dialog box and describe the outcome of the action (“OK” is not as good as what you’re saying OK to, such as “Save”).
            p If possible, make the dialog box title match the button label that opens the dialog box. Doing this lets the user know they’re in the right place. On the other hand, you might want more natural language or a more friendly dialog box header.
            .spacer-small
            h2 Tooltips
            p Use sentence casing.
            p Keep these short (single phrase or sentence), but include enough text to provide assistance if the function is not clear.
            p Don’t use terminating punctuation, unless it’s necessary to have multiple sentences.
            .spacer-small
            h2 Feedback and errors
            p These messages let the user know that they’ve successfully completed a task, failed to complete a task, or that an action they’ve initiated has consequences. Keep these tips in mind.
            p Keep messages short and friendly, and point users to the next step if further action is required or recommended.
            p Use complete sentences for a natural sound. If the message has a title, use sentence case for it.
            p If the message includes error codes, consider hiding those in a ‘details’ view.
            p Include consequences and options that the user needs to know about.
            p It’s OK to abandon active voice in confirmation messages if doing so seems more natural or softens the message. But still keep the message clear and to the point.
            .grey-separator-line
            h1 First time user experience
            p The copywriting team can help new users get going with your product. We typically include one or more of these types of first time user experience: story/narrative, videos, and walk-throughs.
            .grey-separator-line
            h1 Product terminology
            p These are the guidelines that UX recommends for consistency across cloud products.
            p In general:
            ul
                li Limit the number of required terms and concepts
                li Keep terms intuitive, easy to remember
                li Terminology should be consistent across all products
                li If you find terms that have different meanings across products, or terms that are different but have the same meaning, reconcile as needed
            .spacer-small
            table(border='0').table-space
                thead
                    tr
                        th Term
                        th.td-space  Description
                tbody
                    tr
                        td API
                        td.td-space  A collection of endpoints and resources for which a single API specification exists.
                    tr
                        td API spec / API model / API specification
                        td.td-space  The model that is created (or imported) by the user to describe the API.
                    tr
                        td Application or App
                        td.td-space  Standardize on ‘app’ (instead of ‘application’).An app is what you deploy and which does what you've configured it to do. Apps can have one or more instances running. An ‘app instance’ is a single instance of one of the app types that TIBCO® Cloud Integration supports, including - but not limited to - Mock, Microflow, and Integration application.

                    tr
                        td App type
                        td.td-space  The type of the application that you're deploying. We currently support three App Types (Mock, Microflow, Integration App) and with the changes that we're making we'll end up supporting Mock, Integration App, Web Integrator App (name to be determined).

                    tr
                        td Capability

                        td.td-space
                            p Multiple meanings:
                            ul
                            li Domain
                            li Functions within a domain
                            li Product benefits/marketing features

                    tr
                        td Connection
                        td.td-space  In Integration context, a unique hookup to an outside system (such as. Workday, Marketo, SQL Server).

                    tr
                        td Developer tools
                        td.td-space
                            p The tools that can be downloaded by users of the integration domain to be able to do offline work. We currently have two of those tools available:Command Line Interface (CLI): The CLI-based environment where you manage your TIBCO® Cloud Integration environment. You can use the TIBCO Cloud CLI to push apps to your sandboxes, scale apps up and down, and get information about apps.Business Studio

                    tr
                        td  Domain
                        td.td-space  Broad category of cloud service.Note: \n Don’t use tenant.
                    tr
                        td Endpoint
                        td.td-space  In integration context, the access point of a "resource" that a REST service exposes and a REST reference invokes. An endpoint uses the REST operations to provide access to the resource. An endpoint has a name and is represented by a path within the resource. It resides at a location specified by the URL of the resource.


                    tr
                        td Login/Logout vs Sign in/Sign out
                        td.td-space  Current UX copy style is to use Sign in and Sign out

                    tr
                        td Member
                        td.td-space
                            p Different uses of member:
                            ol
                            li Users who have a TIBCO account and belong to an organization. Members require a subscription to be able to use a product. Members can be granted access to multiple products. Recommended to use member instead of user.
                            li Elements that belong to a list or other entity.
                            p Note: Don’t use “user” as a term. Use member instead.

                    tr
                        td  Organization
                        td.td-space
                            p Two different uses of organization:
                            ol
                            li A group of members, including one or more administrators and an owner. Can span one or more products.  Used to manage memberships across domains.
                            li (Mashery) Also a group of members, but used to manage access to assets owned by that group, such as API definitions and API plans.
                    tr
                        td Owner
                        td.td-space  Someone who has responsibility for a resource or action.Member who purchases and manages the subscription.Someone who owns a resource or action.

                    tr
                        td Preferences/Profile
                        td.td-space  These are sometimes used interchangeably, but User profile/My profile

                    tr
                        td  Product
                        td.td-space   Consists of capabilities from one or more domains that are sold together. Can include all or part of one or more domains.

                    tr
                        td Role
                        td.td-space  A category of function that a user has permission to perform, such as an administrator or operator.

                    tr
                        td Sandbox
                        td.td-space  A logical grouping of applications to organize them into whatever grouping you like (e.g. based on department, based on project, etc.)


                    tr
                        td Seats/Named users
                        td.td-space
                            p Number of user accounts or license on the subscription.
                            p Prefer seats, but legal might require named users.
                            p On subscriptions page in UI.

                    tr
                        td  Subscription
                        td.td-space  A packaged set of one or more products that is purchased together. Can include one or more products.

                    tr
                        td Trash
                        td.td-space  Repository for deleted items. Avoid using as a verb.

                    //tr
                    //    td Administrator
                    //    td.td-space  Manages members. Can also be the owner.
                    //
                    //tr
                    //    td Account
                    //    td.td-space  Profile and user credentials for a member. Each member has an account.

            .grey-separator-line
            h1 Want to learn more?
            h2 Want to learn more?
            p Check out our <a href="https://docs.google.com/document/d/1qkh2jv5zSmr3PH_AtyqaIPqS3rJVfPgYO8KBrYwipMc/edit#heading=h.3nhb8hyr4vw1">UX Copy Style Guide for Cloud Products.</a>


