.tc-modals {
	& .modal-content {
		border-radius: @modal-content-borders-radius;
	}

	& .modal-header {
		.modals-section-variants(
			@modal-header-font-color; @modal-header-font-family; 
			@modal-header-font-weight; @modal-header-font-size);
		.modals-margin-variants(@modal-header-margin-left; @modal-header-margin-right);
		white-space: @modal-white-space;
		border-bottom: @modal-header-borders;
		margin-top: @modal-header-margin-top;
		& > .modal-title {
			margin: @modal-header-title-margin;
			margin-top: @modal-header-title-margin-top;
		}
	}
	& .modal-body {
		&.tc-modal-body-text, & .tc-modal-body-text {
			.modals-section-variants(
				@modal-body-font-color; @modal-body-font-family; 
				@modal-body-font-weight; @modal-body-font-size);
			border-bottom: @modal-body-borders;
		}
		.modals-margin-variants(@modal-body-margin-left; @modal-body-margin-right);
	}
	& .modal-footer {
		border-top: @modal-footer-borders;
		margin-bottom: @value-zero;
		padding-bottom: @modal-footer-margin-bottom;
		.modals-margin-variants(@modal-footer-margin-left; @modal-footer-margin-right);
		
		& .tc-modal-content-right-margin {
			margin-left: 8px;
		}
	}

	& button.close > span {
		.modals-section-variants(
			@modal-button-close-color; @modal-header-font-family; 
			@modal-header-font-weight; @modal-button-close-size);
	}

	& .tc-inputs.input-narrow {
		font-size: @modal-body-input-narrow-font-size;
		height: @modal-body-input-narrow-height;
	}
}
